p{
        margin:0px 10px;
        text-align:center;
    }
    .navbar-collapse
    {
        z-index:9999;
    }
    .navbar-light .navbar-toggler
    {
        z-index: 9999;
    }
    .home-page {
        display: flex;
        -webkit-display: flex;
        -ms-display: flexbox;
        justify-content: space-between;
        -webkit-justify-content: space-between;
        -ms-justify-content: justify;
        flex-direction: column;
    }
    img {width: 100%;height: 100%;}
    .navbar-brand {width: 200px;}
    .navbar {padding: 15px 0;}
    .dropdown_menu_more {top: 60px;border: none;}
    .dropdown_menu_more .dropdown-item { padding: 1px 0; }
    .btn-gradient:focus,
    .btn-secondary:not(:disabled):not(.disabled).active:focus,
    .btn-secondary:not(:disabled):not(.disabled):active:focus,
    .show>.btn-secondary.dropdown-toggle:focus {
        border:none;
        box-shadow: none;
    }
    .navbar-expand-lg .navbar-nav{
        z-index:999 !important;
    }
    .dropdown-menu{
        padding:0px !important;
    }
    .btn-gradient {
        width: 100%;
        border:none;
        box-shadow: none;
        color: #ffffff;
        background: rgba(82,248,206,1);
        background: -moz-linear-gradient(left, rgba(82,248,206,1) 0%, rgba(20,233,180,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(82,248,206,1)), color-stop(100%, rgba(20,233,180,1)));
        background: -webkit-linear-gradient(left, rgba(82,248,206,1) 0%, rgba(20,233,180,1) 100%);
        background: -o-linear-gradient(left, rgba(82,248,206,1) 0%, rgba(20,233,180,1) 100%);
        background: -ms-linear-gradient(left, rgba(82,248,206,1) 0%, rgba(20,233,180,1) 100%);
        background: linear-gradient(to right, rgba(82,248,206,1) 0%, rgba(20,233,180,1) 100%);
    }

    .main_banner{
        padding: 950px 0 0 0;
        background: url(../image/banner-background.png) no-repeat center bottom / cover;
        
    }
    .banner-img {
        max-width: 910px;
        width: 100%;
        margin-right: auto;
    }
    .footer {
        position: relative;
        padding: 30px 0 20px;
        z-index: 1;
    }
    footer {
        position: fixed !important;
        background:#ffffff;
        bottom: 0;
        width: 100%;
    }
    .footer::before {
        position: absolute;
        content: '';
        height: 18px;
        width: 100%;
        left: 0; right: 0;
        top: 0;
        background: rgba(0,255,170,1);
        background: -moz-linear-gradient(left, rgba(0,255,170,1) 0%, rgba(181,61,255,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,255,170,1)), color-stop(100%, rgba(181,61,255,1)));
        background: -webkit-linear-gradient(left, rgba(0,255,170,1) 0%, rgba(181,61,255,1) 100%);
        background: -o-linear-gradient(left, rgba(0,255,170,1) 0%, rgba(181,61,255,1) 100%);
        background: -ms-linear-gradient(left, rgba(0,255,170,1) 0%, rgba(181,61,255,1) 100%);
        background: linear-gradient(to right, rgba(0,255,170,1) 0%, rgba(181,61,255,1) 100%);
        z-index: -1;
    }
    .copyright {
        display: flex;
        -webkit-display: flex;
        -ms-display: flexbox;
        justify-content: space-between;
        -webkit-justify-content: space-between;
        -ms-justify-content: justify;
    }
    .copyright span {
        font-size: 14px;
        color: #909090;
    }
    .copyright span a {
        color: #b340fe;
    }
    .copyright span a:hover {
        color: #00ffaa; 
    }
    