@font-face {
  font-family: 'never-mess';
  src:  url('fonts/never-mess.eot?i2lb1v');
  src:  url('fonts/never-mess.eot?i2lb1v#iefix') format('embedded-opentype'),
    url('fonts/never-mess.ttf?i2lb1v') format('truetype'),
    url('fonts/never-mess.woff?i2lb1v') format('woff'),
    url('fonts/never-mess.svg?i2lb1v#never-mess') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'never-mess' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-minus:before {
  content: "\e903";
}
.icon-icon-plus:before {
  content: "\e904";
}
.icon-icon-germany:before {
  content: "\e900";
}
.icon-icon-passend:before {
  content: "\e901";
}
.icon-icon-phone:before {
  content: "\e902";
}
