@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('../fonts/never-mess-v1.0/style.css');

body {
font-family: 'Roboto', sans-serif !important;
font-weight: normal !important;
font-style: normal !important;
font-size: 14px;
color: #323232;
}

.ml-auto {margin-left: auto !important; float: none !important;}
.mr-auto {margin-right: auto !important; float: none !important;}
.m-auto {margin: auto !important; float: none !important;}

.breadcrumbs .items > li {
    float: left;
    font-size: 15px;
    font-weight: 500;
}
/****************
Header
****************/
.header .top-header-content {
	font-size: 12px;
	background-color: #323232;
	color: #03ba73;
}
.header .top-header-content i {
	font-size: 16px;
	height: auto;
	line-height: 1px;
	vertical-align: middle;
	color: #03ba73;
}
.header .top-header-content .top-right-header i {
	font-size: 18px;
}
.header .top-header-content .top-right-header {
	text-align: right;
	padding: 14px 0;
}

.header .top-header-content a,
.header .top-header-content button {
	color: #03ba73;
}

.header .top-header-content a:hover,
.header .top-header-content a:focus {
	color: #03ba73;
}
.header .top-custom-link ul li .light{
	color: #858585;
}

.header .logo-left-header .logo {
	height: auto;
}

.header .middle-header-content {
	padding: 10px 0;
}

.header .nav.nav-main-menu > li > a {
	font-size: 14px;
	color: #323232;
	position: relative;
}

.header .nav.nav-main-menu > li > a:before {
	position: absolute;
	content: "";
	left: 0;
	right: 0;
	bottom: 10px;
	width: 0%;
	height: 5px;
	background-color: #87f9c5;
	transition: 0.3s all;
}

.header .nav.nav-main-menu > li > a:hover,
.header .nav.nav-main-menu > li > a:focus {
	color: #03ba73;
}

.header .nav.nav-main-menu > li > a:hover:before,
.header .nav.nav-main-menu > li > a:focus:before {
	width: 100%;
}

.minicart-wrapper .action.showcart > .counter.qty {
	background-color: #03ba73;
}

/****************
Mega Menu
****************/

.megamenu_content {
	display: inline-block;
	padding:0 30px;
	text-align: center;
	max-width: 300px;
}
.megamenu_content img {
	width: 100%;
}
.megamenu_content h2 {
	font-weight: 500;
	font-size: 18px;
	line-height: 26px;
	margin-top: 30px;
}
.mega-menu-fullwidth .dropdown-menu {padding: 30px !important; border-bottom: 10px solid #87f9c5 !important;}
.mega-menu-content .bottom_content h5 {
	font-weight: 700;
	font-size: 16px;
	line-height: 26px;
}
.mega-menu-content .bottom_content p {
	font-weight: 300;
	font-size: 16px;
	line-height: 26px;
}

.megamenu_content.pull-right {
	border-right: 2px solid #cdcdcd;
}

/****************
Footer
****************/
.footer.footer2 .top-footer {
	padding: 50px 0 20px;
	background: rgb(3,185,115);
	background: -moz-linear-gradient(124deg, rgba(3,185,115,1) 25%, rgba(51,230,148,1) 100%);
	background: -webkit-linear-gradient(124deg, rgba(3,185,115,1) 25%, rgba(51,230,148,1) 100%);
	background: linear-gradient(124deg, rgba(3,185,115,1) 25%, rgba(51,230,148,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#03b973",endColorstr="#33e694",GradientType=1);
}
.subscribe_now img {
	width: 100%;
	margin: -200px 0 -50px auto;
	transform: scale(1.5) translateX(100px);
	-webkit-transform: scale(1.5) translateX(100px);
	-ms-transform: scale(1.5) translateX(100px);
}

.subscribe_now h2 {
	font-weight: 300;
	font-size: 46px;
	line-height: 58px;
	color: #ffffff;
	padding-bottom: 10px;
}
.subscribe_now p {
	font-size: 26px;
	line-height: 40px;
	color: #87f9c5;
	padding-bottom: 15px;
}

.footer.footer2 .middle-footer {
	padding: 150px 0 80px;
	background-color: #ebebeb;
}
ul.list-icon li .icon{ 
	font-size: 18px;
	top: 3px;
	color: #03ba73;
}

.footer .middle-footer h6 {
	font-weight: 600;
	font-size: 18px;
	text-transform: capitalize;
	color: #323232;
}

.footer .middle-footer a {
	color: #323232;
}
.footer .middle-footer a:hover,
.footer .middle-footer a:focus {
	color: #03ba73;
}

.footer .middle-footer a span {
	font-size: 18px;
}

.footer.footer2 .bottom-footer {
	background-image: url(../images/footer-bottom-bg.png);
	background-color: #03ba73;
	background-repeat: no-repeat;
	background-position: left bottom;
	background-size: 42%;
}
.footer .bottom-footer ul {
	margin-right: 100px;
}
.footer .bottom-footer ul li {
	margin: 0 30px;
}
.footer.footer2 .bottom-footer a{
	font-size: 12px;
	color: #80f4bf;
}

.top-footer-cms {
	padding: 50px 0;
	background-image: url(../images/bg-image-1.png);
	background-repeat: repeat;
	background-position: left top;
	background-size: 50%;
	background-color: #03ba73;
	text-align: center;
	position: relative;
	overflow: hidden;
}
.subscribe_now_cms {
	background-color: #ffffff;
	padding: 40px 30px;
}

.subscribe_now_cms h2 {
	font-weight: 300;
	font-size: 32px;
	line-height: 42px;
	color: #03ba73;
	padding-bottom: 15px;
}
.subscribe_now_cms p {
	font-size: 18px;
	line-height: 26px;
	color: #323232;
	padding-bottom: 15px;
}


/****************
Buttons
****************/

.btn,.btn-loadmore {
	min-width: 250px;
	font-weight: 700;
	font-size: 18px;
	letter-spacing: 0px;
	line-height: 68px;
	min-height: 70px;
	text-align: center;
	border-radius: 50px;
	text-transform: uppercase;
}

.btn-white-outline {
	color: #ffffff;
	background-color: #03ba73;
	border: 2px solid #ffffff;
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.btn-white-outline:before {
	position: absolute;
	content: "";
	top: 0; bottom: 0;
	left: 0; right: 0;
	background-color: #ffffff;
	transition: 0.3s all;
	transform: scale(0);
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	z-index: -1;
}
.btn-white-outline:hover,
.btn-white-outline:focus {
	color: #03ba73;
	background-color: #ffffff;
	border: 2px solid #ffffff;
}
.btn-white-outline:hover:before,
.btn-white-outline:focus:before {
	transform: scale(1);
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
}

.btn-green-outline,.btn-loadmore {
	color: #03ba73;
	background-color: #ffffff;
	border: 2px solid #03ba73;
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.btn-green-outline:before,
.btn-loadmore:before {
	position: absolute;
	content: "";
	top: 0; bottom: 0;
	left: 0; right: 0;
	background-color: #03ba73;
	transition: 0.3s all;
	transform: scale(0);
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	z-index: -1;
}
.btn-green-outline:hover,
.btn-green-outline:focus,
.btn-loadmore:hover,
.btn-loadmore:focus {
	color: #ffffff;
	background-color: #03ba73;
	border: 2px solid #03ba73;
}
.btn-green-outline:hover:before,
.btn-green-outline:focus:before,
.btn-loadmore:hover:before,
.btn-loadmore:focus:before {
	transform: scale(1);
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
}

.btn.btn-xs {
	line-height: auto !important;
}
fieldset h2.title span, h2.title span, .block-title--myac h3, .step-title { 
	font-family: 'Roboto', sans-serif !important;
	font-weight: 300 !important;
	text-transform:none;
	margin: 0 0 30px 0;
	font-size: 48px !important; 
}
.nav.item.current {
	color:#03ba73;
	font-weight: 400;
	padding-left: 0px;
	margin: 10px 0px;
}
.nav.item a{
	padding-left: 0px;
	color: #323232;
}
.nav>li>a:hover, .nav>li>a:focus {
	background-color: #fff !important;
	font-weight: 400;
	color:#03ba73 !important;
}
a:hover, a:focus, a:active {
	color:#03ba73;
}
.message.info > * {
	background: #03ba73;
	color:#fff;
	font-size: 16px;
	font-weight: 300;
}
.message.info > *:before {
	color:#fff;
}
.btn.btn-xs {
	line-height: 65px;
}
.sidebar .block .block-title .title {
	font-family: 'Roboto', sans-serif !important;
	font-weight: 400;
	text-transform:none;
	margin: 0 0 30px 0;
}
.block-title--myac h3 {
	font-size: 40px;
}

fieldset label.label, input[type="text"], input[type="password"], input[type="url"], input[type="tel"], input[type="search"], input[type="number"], input[type="datetime"], input[type="email"], .form-shipping-address label{ 
font-size: 16px !important;
margin:0 0 10px; 
font-weight: 400 !important; color: #323232;
}
button.primary, button.btn-primary, .btn.btn-secondary {
	height: 48px !important;
	position: relative;
	overflow: hidden;
	z-index: 1;
	color: #ffffff !important;
	background-color: #03ba73 !important;
	border: 2px solid #03ba73 !important;
}

button.primary:before, button.btn-primary:before, .btn.btn-secondary:before {
	position: absolute;
	content: "";
	top: 0; bottom: 0;
	left: 0; right: 0;
	background-color: #03ba73;
	transition: 0.3s all;
	transform: scale(0);
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	z-index: -1;
}
button.primary:hover, button.btn-primary:hover, .btn.btn-secondary:hover,
button.primary:focus, button.btn-primary:focus, .btn.btn-secondary:focus {
	color: #03ba73 !important;
	background-color: #ffffff !important;
	border: 2px solid #03ba73 !important;
}
button.primary:hover:before, button.btn-primary:hover:before, .btn.btn-secondary:hover:before
button.primary:focus:before, button.btn-primary:focus:before, .btn.btn-secondary:focus:before {
	transform: scale(1);
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
}

button.towishlist {
	height: 48px !important;
    width: 48px !important;
}

/****************
Common Page CSS
****************/
.page-title-wrapper {
	background-color: #03ba73;
	background-image: none !important;
}
.page-title-wrapper:before {
	display: none !important;
}

.cms-impressum .page-title-wrapper,
.faq-index-index .page-title-wrapper {
	background-image: url(../images/cms-wrapper-bg-1.png) !important;
	background-repeat: no-repeat;
	background-position: center right 100px;
	background-size: 70px;
}

.page-title-wrapper h1,
.page-title-wrapper .h1 {
	font-weight: 400;
	font-size: 24px;
	line-height: 32px;
	color: #ffffff;
	text-transform: capitalize;
}

.page-title-wrapper h2,
.page-title-wrapper .h2 {
	font-weight: 300;
	font-size: 18px;
	line-height: 26px;
	color: #87f9c5;
	text-transform: capitalize;
}

/****************
Home Page
****************/
blockquote, .sub-title, .content-heading .block-note {
	font-family: 'Roboto', sans-serif !important;
}

.main_banner {
	position: relative;
	overflow: hidden;
	z-index: 1;
	height: calc(100vh + 30px);
}

.main_banner img {
	width: 100%;
}
.main_banner:before {
	position: absolute;
	content: "";
	bottom: -15%;
	left: -50%; right: 0;
	width: 200%;
	height: 50%;
	background-color: #03ba73;
	transform: rotate(15deg);
	-webkit-transform: rotate(15deg);
	-ms-transform: rotate(15deg);
	z-index: 0;
}
.main_banner_content {
	position: absolute;
	content: "";
	bottom: 0;
	left: 0;
	right: 0;
	padding: 60px;
	z-index: 1;
}

.main_banner_content h2 {
	font-weight: 300;
	font-size: 46px;
	line-height: 58px;
	color: #ffffff;
	padding-bottom: 10px;
}
.main_banner_content p {
	font-size: 26px;
	line-height: 40px;
	color: #87f9c5;
	padding-bottom: 15px;
}

.main_banner_sm {
	padding: 50px;
	padding-top: 50%;
	background-color: #03ba73;
	text-align: center;
	position: relative;
	overflow: hidden;
	height: 50vh;
}

.main_banner_sm img {
	position: absolute;
	content: "";
	top: -100px;
	left: 0px;
	right: 0;
	object-fit: contain;
	transition: 0.3s all;
	transform: scale(1);
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
}
.main_banner_sm:hover img {
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
}


.main_banner_sm h2 {
	font-weight: 300;
	font-size: 38px;
	line-height: 58px;
	color: #ffffff;
	padding-bottom: 10px;
}

.main_banner_sm p {
	font-size: 22px;
	line-height: 30px;
	color: #87f9c5;
	padding-bottom: 15px;
}

.main_banner_sm.uber-banner {
	padding: 30px;
	padding-top: 30px;
	background-image: url(../images/bg-image-1.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.main_banner_sm.uber-banner .banner_content {
	background-color: #ffffff;
	padding: 48px;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
}
.main_banner_sm.uber-banner .banner_content h2 {
	color: #323232;
	font-size: 52px;
	padding-bottom: 30px;
}
.main_banner_sm.uber-banner .banner_content p {
	color: #323232;
	font-size: 16px;
	margin-bottom: 35px;
	padding-bottom: 0;
}

.main_banner_sm.banner_full {
	padding-top: 50px;
	height: calc(100vh + 30px);
}
.main_banner_sm.banner_full img {
	position: static;
	width: 100%;
}


.cms-home .simple-product {
	padding: 50px 0 200px;
}
.simple-product .content-heading h3.title {
	font-weight: 300;
	font-size: 46px;
	line-height: 54px;
	color: #323232;
}
.content-heading h3.title:before, 
.content-heading h3.title:after {
	width: 126px;
	height: 30px;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}
.content-heading h3.title:before {
	background: none;
	background-image: url(../images/icon-1.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	left: -180px;
}
.content-heading h3.title:after {
	background: none;
	background-image: url(../images/icon-2.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	right: -180px;
}

.products-grid .product-item-info {
	overflow: visible;
	box-shadow: 0 0 30px rgba(0,0,0,0.2);
}

.products-grid .product-item-info .product-top a.photo {

}
.products-grid .product-item-info .product-top a.photo::after {
	background-color: rgba(3,186,115,0.2);
}

.simple-product .products-grid .product-item-info .product-item-details {
	padding: 15px;
	visibility: visible;
	opacity: 1;
}

.simple-product .products-grid .product-item-info .product-item-details .product-item-name a {
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	color: #141414;
}

.simple-product .products-grid .product-item-info .product-item-details .product-item-name a:hover {
	color: #03ba73;
}
.simple-product .products-grid .product-item-info .product-item-details .price-box .price,
.simple-product .products-grid .product-item-info .product-item-details .price-box .special-price .price {
	font-weight: 700;
	color: #03ba73;
}

.simple-product .products-grid .product-item-info .product-item-details .price-box .old-price .price {
	color: #878787;
}
.products-grid .product-item-info .product-top .actions-link {
	left: inherit;
	right: 0;
}
.products-grid .product-item-info .product-top .actions-link button {
	color: #03ba73;
}

.products-grid .product-item-info .product-top {
	overflow: visible;
}
.products-grid .product-item-info .product-top .product-label {
	right: inherit;
	left: -8px;
	width: 70px;
	height: 25px;
	font-size: 18px;
	line-height: 25px;
	color: #ffffff;
	font-weight: 700;
	background-color: #87f9c5;
	text-transform: uppercase;
}

.products-grid .product-item-info .product-top .product-label:before {
	position: absolute;
	content: "";
	left: 0px;bottom: -8px;		
	border-top: 4px solid #11eeb3;
	border-left: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-right: 4px solid #11eeb3;
}
.products-grid .product-item-info .product-top:hover .product-label {
	display: block;
}


.products-grid .product-item-info .product-item-details {
	padding: 15px;
}
.products-grid .product-item-info .product-item-details .product-item-name a {
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	color: #141414;
}
.products-grid .product-item-info .product-item-details .product-item-name a:hover {
	color: #03ba73;
}

.products-grid .product-item-info .product-item-details .price-box .price,
.products-grid .product-item-info .product-item-details .price-box .special-price .price {
	font-weight: 700;
	color: #03ba73;
}
.toolbar .modes,
.toolbar .sorter .sorter-action {display: none !important;}

.mgs-filter .filter-content .item .mgs-filter-item-checkbox {
	position: absolute;
	right: 0;
}
.block.filter .block-content.filter-content .filter-options-item .filter-options-content ol.items .item .count {
	position: static;
}
.block.filter .block-content.filter-content .filter-options-item .filter-options-title:before {display: none;}

/****************
CMS pages
****************/
.mageprince-faq-loader {
	text-align: center;
}
.cms_content {
	padding: 50px 0;
}
.cms_content .sub-title {
	font-weight: 700;
	font-size: 18px;
	line-height: 26px;
	color: #323232;
	text-transform: capitalize;
}
.cms_content p {
	font-size: 18px;
	line-height: 26px;
	color: #323232;
}


/****************
FAQ page
****************/
.faq-content .group-title {
	font-size: 32px;
	line-height: 40px;
	color: #323232;
	font-weight: 300;
	margin-bottom: 25px;
}
.faq-accordion {
	padding: 20px 60px 20px 30px;
	margin-bottom: 30px;
	background-color: #ffffff;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
	cursor: pointer;
}
.faq-accordion .ui-accordion-header {
	font-size: 18px;
	line-height: 26px;
	color: #323232;
	font-weight: 400;
	position: relative;
}

.faq-accordion .ui-accordion-header:before {
	font-family: 'never-mess' !important;
	position: absolute;
	content: "\e904";
	top: 0px; right: -35px;
	color: #03ba73;
	font-size: 30px;
}

.faq-accordion .ui-accordion-header.ui-state-active:before {
	content: "\e903";
}

.faq-accordion .ui-accordion-content {
	font-size: 18px;
	line-height: 26px;
	color: #323232;
}


/***********************************************************************************/
/*		Big Screen Resolution	*/
/***********************************************************************************/

@media screen and (min-width: 1368px) {
	body {font-size: 16px;}
	.header .top-header-content {font-size: 16px;}
	.header .nav.nav-main-menu > li > a {font-size: 20px;}	
	.header .top-header-content i {font-size: 18px;}
	.header .top-header-content .top-right-header i {font-size: 24px;}

	.mega-menu-fullwidth .dropdown-menu {padding: 50px !important; border-bottom: 15px solid #87f9c5 !important;}
	.megamenu_content {padding:0 30px; max-width: 300px;}
	.megamenu_content h2 {font-size: 26px; line-height: 30px;}

	.subscribe_now_cms h2 {font-size: 46px; line-height: 58px; padding-bottom: 15px;}
	.subscribe_now_cms p {font-size: 26px; line-height: 40px; color: #323232;}

	.footer .middle-footer h6 {font-size: 26px}
	.footer .middle-footer a span {font-size: 18px;}
	.footer.footer2 .bottom-footer a{font-size: 16px;}
	ul.list-icon li .icon{font-size: 20px; top: 5px;}

	.simple-product .products-grid .product-item-info .product-item-details .product-item-name a {font-size: 20px; line-height: 30px;}

	.page-title-wrapper h1,
	.page-title-wrapper .h1 {font-size: 46px; line-height: 58px;}

	.page-title-wrapper h2,
	.page-title-wrapper .h2 {font-size: 24px; line-height: 32px;}


	.cms-impressum .page-title-wrapper,.faq-index-index .page-title-wrapper {background-position: center right 150px; background-size: 100px;}

	.cms_content .sub-title {font-size: 24px; line-height: 32px;}
	.cms_content p  {font-size: 20px; line-height: 30px;}

	.faq-content .group-title {font-size: 46px; line-height: 58px;}
	.faq-accordion .ui-accordion-header {font-size: 24px; line-height: 32px;}
}

@media screen and (min-width: 1921px){
	body {font-size: 24px;}
	.header .top-header-content {font-size: 24px;}
	.header .nav.nav-main-menu > li > a {font-size: 32px;}	
	.header .top-header-content i {font-size: 24px;}
	.header .top-header-content .top-right-header i {font-size: 28px;}

	.megamenu_content {padding:0 50px; max-width: 480px;}
	.megamenu_content h2 {font-size: 32px; line-height: 40px;}

	.subscribe_now_cms h2 {font-size: 56px; line-height: 80px;}
	.subscribe_now_cms p {font-size: 36px; line-height: 80px;}

	.footer .middle-footer h6 {font-size: 40px}
	.footer .middle-footer a span {font-size: 24px;}
	.footer.footer2 .bottom-footer a{font-size: 24px;}
	ul.list-icon li .icon{font-size: 24px; top: 10px;}

	.simple-product .products-grid .product-item-info .product-item-details .product-item-name a {font-size: 24px; line-height: 30px;}

	.page-title-wrapper h1,
	.page-title-wrapper .h1 {font-size: 58px; line-height: 80px;}

	.page-title-wrapper h2,
	.page-title-wrapper .h2 {font-size: 32px; line-height: 56px;}

	.cms-impressum .page-title-wrapper,.faq-index-index .page-title-wrapper {background-size: 140px;}

	.cms_content .sub-title {font-size: 32px; line-height: 56px;}
	.cms_content p {font-size: 24px; line-height: 40px;}

	.faq-content .group-title {font-size: 58px; line-height: 80px;}
	.faq-accordion .ui-accordion-header {font-size: 32px; line-height: 56px;}
}

/***********************************************************************************/
/*		Responsive	*/
/***********************************************************************************/
@media screen and (max-width: 1199px) and (min-width: 991px){
	.header .top-header-content .top-middle-header {
		text-align: center;
	}
}
@media screen and (max-width: 991px){
	.footer.footer2 .bottom-footer{background-image: none;}
	.footer .bottom-footer ul{margin-right: auto;}
}
@media screen and (max-width: 991px) and (min-width: 768px){
	.header .top-header-content .top-right-header {padding-top: 0;}
}
@media screen and (max-width: 767px) {
	.header .top-header-content .top-right-header {padding-top: 0; text-align: center;}
}

/*About*/
body.cms-about-us .page-main.container {
	margin: 0;
}
body.cms-about-us .column.main.col-lg-12 {
	padding: 0;
}
.about-main img{
	max-width: 100%;
}
.about-main .banner {
	margin: 0 0 60px 0;
}
.about-main h1, .about-main .row h2 {
	font-weight: 300;
	margin: 0 0 30px 0;
	font-size: 48px;
}
.about-main ul {
	margin: 30px 0 0 20px;
}
.about-main li {
	position: relative;
	padding-left: 25px;
}

.about-main li:after {
	position: absolute;
	left: 0;
	top: 9px;
	background: #03ba73;
	content: '';
	width: 8px;
	height: 8px;
	border-radius: 50%;
}
.about-main .row{
	margin-top: 40px;
}
.about-main .map-img{
	margin: -190px 0 0 0;
}
.about-main .map-img img {
	width: 80%;
	margin: 0 0 0 70px;
}
.about-banner-2 {
	margin: 60px 0 0 0;
	position: relative;
}

.about-banner-2 .caption {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	font-size: 50px;
	line-height: normal;
	font-weight: 300;
	text-align: center;
	width: 100%;
}
.about-banner-2 .caption img {
	max-width: 190px;
	margin: 20px 0 0 0;
}
body.cms-about-us .footer {
	margin-top: 0;
}

/*Inner*/
.cms-richtiges-ausmessen-der-schublade .page-title-wrapper + .page-main,
.cms-correctly-measuring-the-drawer .page-title-wrapper + .page-main {
	margin-top: 0;
}
.cms-richtiges-ausmessen-der-schublade .footer,
.cms-correctly-measuring-the-drawer .footer{
	margin-top: 0;
}
.richtiges-ausmessen h2 {
	font-weight: 300;
	margin: 0 0 30px 0;
	font-size: 48px;
}
.richtiges-ausmessen ul {
	margin: 30px 0 0 20px;
}
.richtiges-ausmessen li {
	position: relative;
	padding-left: 25px;
	margin-bottom: 20px;
}

.richtiges-ausmessen li:after {
	position: absolute;
	left: 0;
	top: 9px;
	background: #03ba73;
	content: '';
	width: 8px;
	height: 8px;
	border-radius: 50%;
}
.richtiges-ausmessen .row {
	align-items: center;
	display: flex;
}

.richtiges-ausmessen .row img {
	max-width: 100%;
}

.richtiges-ausmessen .row .col-md-6 {
	padding: 0 70px 0 120px;
}

.richtiges-ausmessen .row .col-md-6.right, .richtiges-ausmessen .row .col-md-6.left {
	padding: 0;
}

.richtiges-ausmessen .row .col-md-6.left + .col-md-6 {
	padding: 0 120px 0 70px;
}

.richtiges-ausmessen .tip {
	background: #03ba73;
	display: flex;
	align-items: center;
	padding: 20px 60px 20px 30px;
	margin: 30px 0 0 0;
	color: #fff;
}	

.richtiges-ausmessen .tip img {
	width: 70px;
	margin: 0 15px 0 0;
}

.richtiges-ausmessen .tip .info p {
	margin: 0;
}
.richtiges-ausmessen .btn-loadmore {
	margin: 20px 0 0;
	background: #03ba73;
	color: #fff;
}
.richtiges-ausmessen .btn-loadmore:before{
	background: #fff;
}
.richtiges-ausmessen .btn-loadmore:hover{
	color: #03ba73;
}

/*Inner*/
@media (min-width: 768px) {
	.cms-about-us .page-title-wrapper:after {
		background: url(../images/about-icon.png);
		position: absolute;
		right: 80px;
		top: 54px;
		width: 103px;
		height: 93px;
		content: '';
		background-size: cover;
	}
	
	.category-products .page-title-wrapper:after {
    background: url(../images/pro-icon.png);
    position: absolute;
    right: 80px;
    top: 54px;
    width: 103px;
    height: 93px;
    content: '';
    background-size: cover;
}
}
@media screen and (min-width: 1199px) and (max-width: 1400px){
	.main_banner:before {
		height: 60%;
	}
}
@media (max-width: 1367px) {
	.cms-about-us .page-title-wrapper:after {
		top: 50px;
		width: 83px;
		height: 75px;
	}
	.category-products .page-title-wrapper:after {
    top: 45px;
    width: 83px;
    height: 88px;
}
}
@media (max-width: 1440px) {
	body .main_banner_sm h2 {
		font-size: 28px;
		line-height: normal;
		padding-bottom: 0;
	}
	body .main_banner_sm {
		padding: 50px 20px;
		padding-top: 40%;
	}
	body .main_banner_sm p {
		font-size: 20px;
		line-height: 30px;
		padding-bottom: 0;
	}
	body .btn, .btn-loadmore {
		min-width: 200px;
		font-size: 16px;
		line-height: 38px;
		min-height: 42px;
	}
	body .main_banner_sm.uber-banner {
		padding: 10px;
		padding-top: 10px;
	}
	body .main_banner_sm.uber-banner .banner_content {
		padding: 15px 10px;
	}
	body .simple-product .content-heading h3.title {
		font-size: 36px;
		line-height: 46px;
	}
	body .subscribe_now img {
		width: 70%;
		margin: -90px 0 -50px auto;
	}
	body .main_banner_sm img {
		top: -160px;
	}
	.richtiges-ausmessen .row .col-md-6.left + .col-md-6 {
		padding: 0 80px 0 50px;
	}
	.richtiges-ausmessen .row .col-md-6 {
		padding: 0 50px 0 80px;
	}
	.richtiges-ausmessen h2 {
		margin: 0 0 20px 0;
		font-size: 40px;
		line-height: normal;
	}
	.richtiges-ausmessen ul {
		margin: 20px 0 0 20px;
	}
	.richtiges-ausmessen li {
		margin-bottom: 5px;
	}
	.richtiges-ausmessen .tip {
		padding: 10px 60px 10px 30px;
	}
}
@media (max-width: 1199px) {
	.richtiges-ausmessen .row .col-md-6 {
		padding: 0 30px;
	}
	.richtiges-ausmessen .row .col-md-6.left + .col-md-6 {
		padding: 0 30px;
	}
	.richtiges-ausmessen h2 {
		margin: 0 0 10px 0;
		font-size: 30px;
		line-height: normal;
	}
	.richtiges-ausmessen ul {
		margin: 0;
	}
	.richtiges-ausmessen .tip {
		padding: 5px 20px 5px 18px;
		margin: 10px 0 0;
		line-height: normal;
	}
	.richtiges-ausmessen .tip img {
		width: 50px;
		margin: 0 10px 0 0;
	}
	.richtiges-ausmessen li {
		margin-bottom: 0;
	}
}
@media (max-width: 991px) {
	body .main_banner_sm {
		padding-top: 126px;
		height: auto;
	}
	body .main_banner_sm.uber-banner {
		height: auto;
	}
	body .subscribe_now img {
		width: 50%;
		margin: -370px 0 0 400px;
	}
	body .about-banner-2 .caption {
		font-size: 26px;
	}
	.richtiges-ausmessen .row .col-md-6 {
		padding: 20px;
		width: 100%;
	}
	.richtiges-ausmessen .row {
		flex-wrap: wrap;
	}
	.richtiges-ausmessen .row .col-md-6.left + .col-md-6 {
		padding: 30px;
		order: -1;
	}
	.main_banner_sm.uber-banner .banner_content{
		display: inherit;
	}
	.main_banner_sm.uber-banner .banner_content h2{
		font-size: 28px;
		padding-bottom: 10px;
	}
	.main_banner_sm.uber-banner .banner_content p{
		margin-bottom: 10px;
	}
}
@media (max-width: 767px) {
	body .subscribe_now h2 {
		font-size: 36px;
		line-height: 38px;
	}
	body .main_banner {
		height: auto;
	}
	body .main_banner_content {
		position: relative;
		z-index: 1;
		padding: 20px;
	}
	body .main_banner:before {
		bottom: -80px;
		height: 70%;
	}
	body .main_banner_content {
		top: -55px;
	}
	body.cms-home .simple-product {
		padding: 50px 0 30px;
	}
	body .main_banner_sm.banner_full {
		height: auto;
	}
	body .main_banner_content h2 {
		font-size: 36px;
		line-height: 48px;    
	}
	body .about-main .row {
		margin-top: 0;
	}
	.about-main .map-img img {
		width: 100%;
		margin: 30px 0;
	}
	.about-main .map-img {
		margin: 0;
	}
	.about-main h1, .about-main .row h2 {
		font-size: 38px;
	}
	.about-main ul {
		margin: 0 0 30px;
	}
	.about-banner-2 {
		margin: 30px 0 0 0;
	}
	.about-banner-2 > img {
		height: 320px;
		object-fit: cover;
	}
	.about-main h1, .about-main .row h2{
		font-size: 30px !important;
	}
	.about-main .banner{
		margin-bottom: 20px;
	}
	
	.top-header-content{
		display: none;
	}
	
}
.catalog-product-view section.container{ width: 100%; }

/*.product_view_details {
	position: relative;
	z-index: 0;
	overflow: hidden;
}

.product_view_details:before {
	position: absolute;
	content: "";
	top: 0; bottom: 0;
	left: 0;
	width: 50%;
	background-color: #cafce5;
	z-index: -1;
}*/
.product_view_details {margin-bottom: 100px;	}

.product-info-main {
	text-align: right;
	margin-right: 15%;
	margin-top: 30% !important;
}
.product-info-main.product-left { text-align: left; margin-top:15% !important; margin-bottom: 15%;}
.product-info-main .product-name{
	font-weight: 500;
	font-size: 24px;
	color: #323232;
	white-space: nowrap;
}
.product-info-main .overview {display: none !important;}
.product-info-main .overview {	
	font-weight: normal;
	font-size: 24px;
	color: #afafaf;
}

.product-info-main .product-view-size {
	font-weight: 500;
	font-size: 30px;
	color: #323232;
}
.product-info-main .product-info-price .price-box .price{ 
	font-size: 60px;
 }
.product-info-main .price-box .special-price .price {
	font-size: 60px;
	color: #03ba73 !important;
	line-height: 40px !important;
}

.product-info-main .fieldset .field.qty,
.product-info-main .extra-link,
.product-info-main .price-box .old-price,
.product.info.detailed {display: none !important;}

.product-info-main .product-add-form .box-tocart > .fieldset {
	float: right !important;
	margin-left: 15px !important;
}

.product-info-main.product-left .product-add-form .box-tocart > .fieldset {
	float: left !important;
	margin-left: 0px !important;
}

.product.media img {
    min-width: 60%;
    margin: auto;
}
#upsell-owl-carousel .owl-stage-outer{
	padding: 30px 0 !important;
}
.sidebar.sidebar-additional{ display: none; }
.product.single-image { margin-left: 25%; } 
#upsell-owl-carousel .products-grid .product-item-info .product-top .product-item-photo > img:not(.img-hover-show) {transform: scale(0.9);}
