<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\CatalogWidget\Block\Product\ProductsList $block */
?>
<?php if ($exist = ($block->getProductCollection() && $block->getProductCollection()->getSize())): ?>
<?php
	$_helper = $this->helper('Magento\Catalog\Helper\Output');
	$themeHelper = $this->helper('MGS\Mpanel\Helper\Data');
	$settings = $themeHelper->getThemeSettings();
	$colClassRow = $themeHelper->getColClass();
	$arrColClass = explode(' ', $colClassRow);
	$lazyLoad = $themeHelper->getStoreConfig('mgstheme/general/lazy_load');
	$baseImage = $this->getViewFileUrl('MGS_Mpanel::images/blank.png');
	$baseImageHover = $this->getViewFileUrl('MGS_Mpanel::images/blank.png');
	$perrow = $settings['catalog']['per_row'];
	$hover_effect = "";
	if ($themeHelper->getStoreConfig('mpanel/catalog/disable_hover_effect')== 1){
		$hover_effect = "disable_hover_effect";
	}
	if ($themeHelper->getStoreConfig('mpanel/catalog/disable_button_cart_hover_effect')== 1){
		$hover_effect .= "disable_button_cart_hover_effect";
	}

	$colCheck = $themeHelper->convertPerRowtoCol($perrow);
	$colClass = $themeHelper->convertColClass($colCheck, 'col');
    $type = 'widget-product-grid';

    $image = 'new_products_content_widget_grid';
    $items = $block->getProductCollection()->getItems();

	$viewMode = 'grid';
	$image = 'category_page_grid';
	$image_hover = 'product_thumbnail_image';
	$showDescription = false;
	$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
?>
	<div class="products wrapper <?php /* @escapeNotVerified */ echo $viewMode; ?> products-<?php /* @escapeNotVerified */ echo $viewMode; ?>" id="product-wrapper">
		 <ol class="products list items product-items row <?php echo 'row-'.$arrColClass[0] ?>">
		 
			<?php $_imagehelper = $this->helper('Magento\Catalog\Helper\Image'); ?>
			<?php $size = $themeHelper->getImageSize(); ?>
			<?php $padding = $themeHelper->getImagePadding(); ?>
			<?php $quickViewHelper = $this->helper('MGS\QuickView\Helper\Data'); ?>
			<?php $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare'); ?>
			
			<?php $i=0; foreach ($items as $_product): $i++; ?>
				<li class="item product product-item-info product-item <?php echo $colClass ?> <?php echo $themeHelper->getClearClass($perrow, $i) ?> <?php echo $hover_effect ?>">
						<?php $_productNameStripped = $block->stripTags($_product->getName(), null, true); ?>
						<?php $productImage = $_imagehelper->init($_product, $image)->resize($size['width'], $size['height'])->getUrl(); ?>
						<?php $productImageHover = $_imagehelper->init($_product, $image_hover)->resize($size['width'], $size['height'])->getUrl(); ?>
						<?php if(!$lazyLoad): ?>
							<?php $baseImage = $productImage ?>
							<?php $baseImageHover = $productImageHover ?>
						<?php endif ?>
						<div class="product-top">
							<a href="<?php echo $_product->getProductUrl() ?>" style="padding-bottom: <?php echo $padding; ?>;" class="product photo product-item-photo <?php if((basename($_product->getData('thumbnail')) !=  'no_selection') && (basename($_product->getData('thumbnail')) != basename($_product->getData('small_image')))): ?> has-hover-image<?php endif ?>" tabindex="-1">
								<img src="<?php echo $baseImage ?>" alt="<?php echo $_productNameStripped ?>" class="img-responsive product-image-photo img-thumbnail<?php if($lazyLoad): ?> lazy<?php endif ?>" data-src="<?php echo $productImage ?>"/>
								
								<?php if(basename($_product->getData('thumbnail')) !=  'no_selection'): ?>
									<?php if(basename($_product->getData('thumbnail')) != basename($_product->getData('small_image'))): ?>
										<img src="<?php echo $baseImageHover ?>" alt="<?php echo $_productNameStripped ?>" class="img-responsive img-hover-show<?php if($lazyLoad): ?> lazy<?php endif ?>" data-src="<?php echo $productImageHover ?>" />
									<?php endif ?>
								<?php endif ?>
								
								<div class="product-image-photo"></div>
							</a>
							<?php echo $themeHelper->getProductLabel($_product) ?>
							<ul class="actions-link" data-role="add-to-links">
							
								<li class="hidden-sm hidden-xs"><?php echo $quickViewHelper->aroundQuickViewHtml($_product); ?></li>
								
								<?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && !$settings['catalog']['wishlist_button']): ?>
									<li><button data-title="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
									   class="action towishlist"
									   title="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
									   aria-label="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
									   data-post='<?php /* @escapeNotVerified */ echo $block->getAddToWishlistParams($_product); ?>'
									   data-action="add-to-wishlist"
									   role="button">
										<i class="pe-7s-like"></i>
									</button></li>
								<?php endif; ?>
									
								<?php if(!$settings['catalog']['compare_button']): ?>
									<li><button data-title="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
									   class="action tocompare"
									   title="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
									   aria-label="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
									   data-post='<?php /* @escapeNotVerified */ echo $compareHelper->getPostDataParams($_product); ?>'
									   role="button">
										<i class="pe-7s-graph3"></i>
									</button></li>
								<?php endif ?>
							</ul>
							<?php if ($themeHelper->getStoreConfig('mpanel/catalog/disable_add_to_cart') == 0 && $themeHelper->getStoreConfig('mpanel/catalog/disable_hover_effect') == 0 && $themeHelper->getStoreConfig('mpanel/catalog/disable_button_cart_hover_effect') == 0): ?>
								<?php if ($_product->isSaleable()): ?>
									<div>
										<?php $postParams = $block->getAddToCartPostParams($_product); ?>
										<form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $this->getUrl('checkout/cart/add', ['uenc'=>$postParams['data']['uenc'], 'product'=>$postParams['data']['product']]); ?>" method="post">
											<input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
											<input type="hidden" name="uenc" value="<?php /* @escapeNotVerified */ echo $postParams['data']['uenc']; ?>">
											<input name="form_key" type="hidden" value="<?php echo $this->getFormKey() ?>" />
											<button class="action tocart btn-cart" type="submit" title="<?php /* @escapeNotVerified */ echo __('Add to Cart') ?>">
												<span class="icon pe-7s-shopbag"></span>
												<span class="text"><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
											</button>
										</form>
									</div>
								<?php endif ?>
							<?php endif ?>
						</div>
						<div class="product details product-item-details">
							<h5 class="product name product-item-name">
								<a class="product-item-link" href="<?php echo $_product->getProductUrl() ?>">
									<?php echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
								</a>
							</h5>
							
							<?php if(!$themeHelper->getStoreConfig('mpanel/catalog/review')): ?>
								<?php echo $block->getReviewsSummaryHtml($_product, $templateType,true); ?>
							<?php endif ?>
							
							<?php echo $block->getProductPrice($_product) ?>
							
							<?php echo $block->getProductDetailsHtml($_product); ?>
							<?php if ($themeHelper->getStoreConfig('mpanel/catalog/disable_add_to_cart') == 0 && ($themeHelper->getStoreConfig('mpanel/catalog/disable_hover_effect') == 1 || $themeHelper->getStoreConfig('mpanel/catalog/disable_button_cart_hover_effect') == 1)): ?>
								<?php if ($_product->isSaleable()): ?>
									<div>
										<?php $postParams = $block->getAddToCartPostParams($_product); ?>
										<form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $this->getUrl('checkout/cart/add', ['uenc'=>$postParams['data']['uenc'], 'product'=>$postParams['data']['product']]); ?>" method="post">
											<input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
											<input type="hidden" name="uenc" value="<?php /* @escapeNotVerified */ echo $postParams['data']['uenc']; ?>">
											<input name="form_key" type="hidden" value="<?php echo $this->getFormKey() ?>" />
											<button class="action tocart btn-cart hover_effect" type="submit" title="<?php /* @escapeNotVerified */ echo __('Add to Cart') ?>">
												<span class="icon pe-7s-shopbag"></span>
												<span class="text"><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
											</button>
										</form>
									</div>
								<?php endif ?>
							<?php endif ?>
						</div>
					</li>
			<?php endforeach ?>
		 </ol>
	</div>
<?php endif;?>
