button {
  outline-width: 0px;
  outline: none;
  position: relative;
}

.button {
  @include ui-font-style();

  overflow: hidden;

  .hover-box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right,transparent, white);
    //border: 5px solid red;
    @include transform(translate3d(-100%,0,0));
    opacity: 0.3;
  }

  /*&:not(.no-hover) {
    @include beforeBox();
    &:before {
      //background-image: url('https://cdn.helmade.com/misc/button-hover-area.png');
      //background-size: 100% 100%;
      //background-color: white;
      background: linear-gradient(to right,transparent, white);
      opacity: 0.1;
      //@include transform(translateX(-112%)scaleX(1)skewX(10deg));
      //@include transition(all 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.000));
    }

    &:hover {
      &:before {
        //opacity: 0.2;
        //@include transform(translateX(12%)scaleX(1)skewX(30deg));
        animation-name: hoverSlide;
        animation-duration: 5s;
        animation-timing-function: linear;
          //animation-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
      }
    }
  }*/

}
/*

@keyframes hoverSlide {
  0%{
    @include transform( translateX(-100%) skewX(0deg) );
  }
  50% {
    @include transform( translateX(-50%) skewX(30deg) );
  }
  90% {
    @include transform( translateX(-4%)skewX(3deg) );
  }
  100% {
    @include transform( translateX(0%)skewX(0deg) );
  }
}
*/

.underlined {

  @include ui-font-style();
  position: relative;

  @include underlined();

}