$color-default: #42f092;
$color-default-light: $color-default;
$color-grey: #383838;
$color-grey-medium: #838383;
$color-grey-light: #f3f3f3;
$color-light: #aeaeae;

$border-color: lighten($color-light, 22);
$tr-bg-color: lighten($color-light, 30);
$color-default-light: lighten($color-default, 22);

.global-color, .local-color{

  @include transition(background-color 1s, color 1s);
  @include transition-duration(1s);

  &.color-text {
    color: $color-default;
  }

  &.color-border {
    border-color: $color-default;
  }

  &.color-background {
    background-color: $color-default;
    position: relative;
    &:after {
      background-image: url('../images/white-gradient.png');
      background-repeat: repeat-y;
      background-size: 100%;
      display: block;
      content: "";
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      position: absolute;
    }
  }

}