.mutterdiv {
  border: 1px solid red;
  display: inline-block;
}

#grid-debug {

  position: fixed;
  top:0;
  left: 0;
  background-color: #fff;
  color: $color-default;
  @include ui-font-style();
  font-size: 40px;
  padding: 0 20px;
  display: none;

}