@import "font-faces";

$helvetica-thin: "HelveticaNeueW01-UltLt";
$helvetica-light: "HelveticaNeueW01-45Ligh";
$helvetica-regular: "HelveticaNeueW01-55Roma";
$helvetica-bold: "HelveticaNeueW01-75Bold";
$helvetica-bold-condensed: "HelveticaNeueW01-77BdCn_692722";
$morningstar: "morning_starregular";

$fallback: ", Helvetica, Verdana, Arial";

$copy-font: $helvetica-light;
$copy-font-size: 18px;

$ui-font: $helvetica-bold-condensed;
$ui-font-size: 15px;

@mixin copy-font-style(){
  font-family: $copy-font;// + $fallback;
  font-size: $copy-font-size;
  font-style: normal;
  font-weight: normal;
}

@mixin thin-font-style(){
  font-family: $helvetica-thin;// + $fallback;
  font-size: $copy-font-size;
  letter-spacing: 0.03em;
  font-style: normal;
  font-weight: normal;
}

@mixin light-font-style(){
  font-family: $helvetica-light;// + $fallback;
  font-size: $copy-font-size;
  letter-spacing: 0.03em;
  font-style: normal;
  font-weight: normal;
}

@mixin label-font-style(){
  font-family: $helvetica-regular;// + $fallback;
  font-size: $ui-font-size;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
}

@mixin ui-font-style(){
  font-family: $ui-font;// + $fallback;
  font-size: $ui-font-size;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

@mixin bold-font-style(){
  font-family: $helvetica-bold;
  font-size: $copy-font-size;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
}

@mixin morningstar-font-style(){
  color: $color-grey;
  font-family: $morningstar;
  line-height: 90px;
  text-transform: none;
  font-size: 90px;
  font-style: normal;
  font-weight: normal;
}

.morningstar {
  @include morningstar-font-style();
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "helmade";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}


.icon-close-pure:before { content: '\e800'; } /* '' */
.icon-fullscreen:before { content: '\e801'; } /* '' */
.icon-youtube-icon:before { content: '\e802'; } /* '' */
.icon-paint-pure:before { content: '\e803'; } /* '' */
.icon-check-outline:before { content: '\e804'; } /* '' */
.icon-check-circle:before { content: '\e805'; } /* '' */
.icon-delete-logout:before { content: '\e806'; } /* '' */
.icon-delete-outline:before { content: '\e807'; } /* '' */
.icon-facebook-type:before { content: '\e808'; } /* '' */
.icon-shopping-bag:before { content: '\e809'; } /* '' */
.icon-user-circle:before { content: '\e80a'; } /* '' */
.icon-user:before { content: '\e80b'; } /* '' */
.icon-next-icon:before { content: '\e80c'; } /* '' */
.icon-switch-gradient:before { content: '\e80d'; } /* '' */
.icon-prev-icon:before { content: '\e80e'; } /* '' */
.icon-check-pure:before { content: '\e80f'; } /* '' */
.icon-mute:before { content: '\e810'; } /* '' */
.icon-mute-off:before { content: '\e811'; } /* '' */
.icon-instagram-icon:before { content: '\e812'; } /* '' */
.icon-link-icon:before { content: '\e813'; } /* '' */
.icon-share:before { content: '\e814'; } /* '' */
.icon-load-more-refresh:before { content: '\e815'; } /* '' */
.icon-name-pure:before { content: '\e816'; } /* '' */
.icon-logo:before { content: '\e817'; } /* '' */
.icon-mail-icon:before { content: '\e818'; } /* '' */
.icon-number-pure:before { content: '\e819'; } /* '' */
.icon-arai:before { content: '\e81a'; } /* '' */
.icon-none-deselect:before { content: '\e81b'; } /* '' */
.icon-bell:before { content: '\e81c'; } /* '' */
.icon-pinterest-icon:before { content: '\e81d'; } /* '' */
.icon-plus-add-outline:before { content: '\e81e'; } /* '' */
.icon-scroll-down:before { content: '\e81f'; } /* '' */
.icon-search:before { content: '\e820'; } /* '' */
.icon-addons-pure:before { content: '\e821'; } /* '' */
.icon-size-pure:before { content: '\e822'; } /* '' */
.icon-twitter:before { content: "\ea96"; }

@mixin font-icon-basics() {
  font-family: "helmade";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

@mixin icon-prev-icon() {
  @include font-icon-basics();
  content: '\e816';;
}

@mixin icon-next-icon() {
  @include font-icon-basics();
  content: '\e814';
}

@mixin icon-next-icon-new() {
  @include font-icon-basics();
  content: '\e80c'
}

@mixin icon-check-pure() {
  @include font-icon-basics();
  content: '\e80f';
}

.smallHeadline {

  pointer-events: none;
  text-align: center;
  @include morningstar-font-style();
  font-size: 40px;
  line-height: 40px;
  color: $color-default;
  @include transform(rotate(-6.5deg));
  margin-bottom: 14px;

  .line1, .line2 {
    display: block;
  }

}



