$cdn: "https://cdn.helmade.com/fonts/";

@font-face{
  font-family:"HelveticaNeueW01-UltLt";
  src:url($cdn +"h/41774233-b9da-44be-b252-6a7b612fb1c7.eot?#iefix");
  src:url($cdn +"h/41774233-b9da-44be-b252-6a7b612fb1c7.eot?#iefix") format("eot"),url($cdn +"h/9baef9a5-e2af-4838-a3bc-da9d36c0bde8.woff2") format("woff2"),url($cdn +"h/4bff1fbb-b4bf-4d95-9c47-efcb14384e36.woff") format("woff"),url($cdn +"h/7f1f2a7d-3837-4c93-b373-f03c5da3f9a1.ttf") format("truetype"),url($cdn +"h/d9f2752a-8d82-4cf1-b82f-109c1105be7f.svg#d9f2752a-8d82-4cf1-b82f-109c1105be7f") format("svg");
}
@font-face{
  font-family:"HelveticaNeueW01-45Ligh";
  src:url($cdn +"h/ae1656aa-5f8f-4905-aed0-93e667bd6e4a.eot?#iefix");
  src:url($cdn +"h/ae1656aa-5f8f-4905-aed0-93e667bd6e4a.eot?#iefix") format("eot"),url($cdn +"h/5a13f7d1-b615-418e-bc3a-525001b9a671.woff2") format("woff2"),url($cdn +"h/530dee22-e3c1-4e9f-bf62-c31d510d9656.woff") format("woff"),url($cdn +"h/688ab72b-4deb-4e15-a088-89166978d469.ttf") format("truetype"),url($cdn +"h/7816f72f-f47e-4715-8cd7-960e3723846a.svg#7816f72f-f47e-4715-8cd7-960e3723846a") format("svg");
}
@font-face{
  font-family:"HelveticaNeueW01-55Roma";
  src:url($cdn +"h/b7693a83-b861-4aa6-85e0-9ecf676bc4d6.eot?#iefix");
  src:url($cdn +"h/b7693a83-b861-4aa6-85e0-9ecf676bc4d6.eot?#iefix") format("eot"),url($cdn +"h/b0868b4c-234e-47d3-bc59-41ab9de3c0db.woff2") format("woff2"),url($cdn +"h/bcf54343-d033-41ee-bbd7-2b77df3fe7ba.woff") format("woff"),url($cdn +"h/b0ffdcf0-26da-47fd-8485-20e4a40d4b7d.ttf") format("truetype"),url($cdn +"h/da09f1f1-062a-45af-86e1-2bbdb3dd94f9.svg#da09f1f1-062a-45af-86e1-2bbdb3dd94f9") format("svg");
}
@font-face{
  font-family:"HelveticaNeueW01-65Medi";
  src:url($cdn +"h/07fe0fec-b63f-4963-8ee1-535528b67fdb.eot?#iefix");
  src:url($cdn +"h/07fe0fec-b63f-4963-8ee1-535528b67fdb.eot?#iefix") format("eot"),url($cdn +"h/3600b37f-2bf1-45f3-be3a-03365f16d9cb.woff2") format("woff2"),url($cdn +"h/60be5c39-863e-40cb-9434-6ebafb62ab2b.woff") format("woff"),url($cdn +"h/4c6503c9-859b-4d3b-a1d5-2d42e1222415.ttf") format("truetype"),url($cdn +"h/36c182c6-ef98-4021-9b0d-d63122c2bbf5.svg#36c182c6-ef98-4021-9b0d-d63122c2bbf5") format("svg");
}
@font-face{
  font-family:"HelveticaNeueW01-75Bold";
  src:url($cdn +"h/c07fef9e-a934-42d7-92ad-69205f2b8a00.eot?#iefix");
  src:url($cdn +"h/c07fef9e-a934-42d7-92ad-69205f2b8a00.eot?#iefix") format("eot"),url($cdn +"h/3b303641-706e-4221-94c4-4fb491f4f8ef.woff2") format("woff2"),url($cdn +"h/14ff6081-326d-4dae-b778-d7afa66166fc.woff") format("woff"),url($cdn +"h/8fda1e47-19be-46c7-8d83-8d4fb35572f0.ttf") format("truetype"),url($cdn +"h/f751c8ae-1057-46d9-8d74-62592e002568.svg#f751c8ae-1057-46d9-8d74-62592e002568") format("svg");
}
@font-face{
  font-family:"HelveticaNeueW01-57Cn";
  src:url($cdn +"h/ecaa98fe-425a-42de-846b-c235f0dbc449.eot?#iefix");
  src:url($cdn +"h/ecaa98fe-425a-42de-846b-c235f0dbc449.eot?#iefix") format("eot"),url($cdn +"h/88a238be-6477-4e71-bdc4-5a35bbf8d392.woff2") format("woff2"),url($cdn +"h/842088d0-1ae2-40d0-8561-3c95761ba7a6.woff") format("woff"),url($cdn +"h/c74505d5-13e8-47ed-94a8-630aab4da3e6.ttf") format("truetype"),url($cdn +"h/6cd480d1-47d0-48b4-86bd-283db2cb9235.svg#6cd480d1-47d0-48b4-86bd-283db2cb9235") format("svg");
}
@font-face{
  font-family:"HelveticaNeueW01-77BdCn_692722";
  src:url($cdn +"h/83d5bc89-af33-46a9-8fe3-15d87784f50e.eot?#iefix");
  src:url($cdn +"h/83d5bc89-af33-46a9-8fe3-15d87784f50e.eot?#iefix") format("eot"),url($cdn +"h/ab23c239-fb66-406e-bce6-f0f260f5a217.woff2") format("woff2"),url($cdn +"h/102ab74c-0e84-4fe5-a17a-b20fb643591a.woff") format("woff"),url($cdn +"h/1d146b29-55e2-485b-96aa-5cb628e7e9eb.ttf") format("truetype"),url($cdn +"h/d90b3358-e1e2-4abb-ba96-356983a54c22.svg#d90b3358-e1e2-4abb-ba96-356983a54c22") format("svg");
}

@font-face {
  font-family: 'morning_starregular';
  src: url($cdn +'m/morning_star-webfont.eot');
  src: url($cdn +'m/morning_star-webfont.eot?#iefix') format('embedded-opentype'),
  url($cdn +'m/morning_star-webfont.woff2') format('woff2'),
  url($cdn +'m/morning_star-webfont.woff') format('woff'),
  url($cdn +'m/morning_star-webfont.ttf') format('truetype'),
  url($cdn +'m/morning_star-webfont.svg#morning_starregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helmade';
  src: url($cdn +'i/helmade-icons.eot?36630232');
  src: url($cdn +'i/helmade-icons.eot?36630232#iefix') format('embedded-opentype'),
  url($cdn +'i/helmade-icons.woff?36630232') format('woff'),
  url($cdn +'i/helmade-icons.ttf?36630232') format('truetype'),
  url($cdn +'i/helmade-icons.svg?36630232#helmade') format('svg');
  font-weight: normal;
  font-style: normal;
}
