$placeholder-color: $color-grey-light;

form {
  input[type="text"], .input-text {
      line-height: 30px;
      height: 40px;
      padding: 0 10px;
      &:focus {
        outline: 0;
        border-color: $color-grey;
      }
  }
}

::-webkit-input-placeholder  {
  color: $placeholder-color;
  opacity: 0.5;
}

:-moz-placeholder { /* Firefox 18- */
  color: $placeholder-color;
  opacity: 0.5;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: $placeholder-color;
  opacity: 0.5;
}

:-ms-input-placeholder {
  color: $placeholder-color;
  opacity: 0.5;
}

label {
  font-weight: normal;
}