$color1: #f05c67;
$color2: #e678d7;
$color3: #51e1f1;

$startAngle: -100deg;
$endAngle: 375deg;

$time: 10s;

$ease: cubic-bezier(0.000, 1, 0.000, 1.000);;

$border : 8px;

.gradient-container {

  background-color: #ddd;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;

  .color-container {
    z-index: 0;
    @include transform( scale(1) rotate($startAngle));
    @include transition(all $time $ease);
    position: absolute;
    left: -44%;
    top: -11%;
    right: -44%;
    bottom: -11%;
  }

  .color-start, .color-end {
    z-index: 1;
    display: block;
    position: absolute;
    content: "";
    @include transform( rotate($startAngle) );
    pointer-events: none;
    @include transition(all $time $ease);
    right: 50%;
  }

  .color-start {
    top: -11%;
    left: -50%;
    bottom: 50%;
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }

  .color-end {
    top: 50%;
    left: -50%;
    bottom: -11%;
    -webkit-transform-origin: 100% 0%;
    -moz-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }


  &:hover {
    .color-container{
      @include transform( scale(1) rotate($endAngle) );
    }
    .color-start, .color-end {
      @include transform( rotate($endAngle) );
    }
  }


}