.hover-underline {
  @include underlined();
  &:before {
    width: 40px;
  }
}

.hover-color {

  &:hover {
    &:before, &:after {
      color: $color-default;
    }
  }

}

a {
  color: $color-default;
  outline: none;
  &:hover {
    color: $color-default;
    text-decoration: none;
  }
  &:focus {
    outline-color: inherit;
    outline: none;
  }
}
