body, html {

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;

}

.main {
  clear: both;
}

$cdnUrl: "http://cdn.helmade.net";


::selection {
  background: $color-default;
  color: #fff;
}

::-moz-selection {
  background: $color-default;
  color: #fff;
}

video::-webkit-media-controls {
  display:none !important;
}