.page-print {
  &.sales-order-print {
    height: initial !important;

    .print-head {
      img {
        max-height: inherit;
      }
      display: inline-block;
      width: 50%;
    }

    .order-date {
      margin-top: 60px;
    }

    h1 {
      @include morningstar-font-style();
      color: $color-default !important;
      width: 250px;
      line-height: 1;
      font-size: 38px;
      display: inline-block;
      padding-left: 20px;
    }

    h2 {
      @include ui-font-style();
      font-size: 24px;
    }

    table {
      &.data-table {

        thead {
          th {
            background-color: $tr-bg-color;
            border-top: 1px solid $border-color;
            border-bottom: none;
            @include ui-font-style();
          }
        }
        tbody {
          tr, tr td {
            border-bottom: none;
          }
        }
        tfoot {
          tr {
            background-color: $tr-bg-color;
            &.first{
              border-top: 1px solid $border-color;
            }
          }
        }
      }
    }

  }
}

@media print {

  .page-print {
    &.sales-order-print {
      div.buttons-set {
        display: none !important;
      }
    }
  }

}