.js-slider {

  display: none;

  &.slick-initialized {
    display: block;
  }

  button.slick-arrow {
    position: absolute;
    z-index: 2;

    &.slick-prev, &.slick-next {
      &:before {
        @include font-icon-basics();
        margin: 0;
        left: -3px;
        position: absolute;
        top:-2px;
      }
    }

    &.slick-prev {
      left: 45px;
      @extend .icon-prev-icon;
    }

    &.slick-next {
      right:45px;
      @extend .icon-next-icon;
    }

    &:before {
      color: $color-grey;
    }

   // @extend .icon;


  }

  .slick-dots {

    position: absolute;
    z-index: 2;
    bottom: 30px;

    @extend .column;
    @extend .offset-l-by-7;
    @extend .size-l-4;
    text-align: left;

    li {
      margin: 0;
      button {
        text-align: left;
        &:before {
          left: -3px;
          font-size: 32px;
          opacity: 0.2;
        }
      }
      &.slick-active {
        button {
          &:before {
            opacity: 1;
          }
        }
      }
    }

  }

}

.teaser-slider {

  .image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 660px;
    width: 100%;
    left: 0;
    right: 0;

    @include afterBox();
    &:after {
      pointer-events: none;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      z-index: 1;
    }

  }

}

@include respond-to(xs){
  .teaser-slider {
    .image {
      height: 320px;
    }
  }
}

@include respond-to(s){
  .teaser-slider {
    .image {
      height: 420px;
    }
  }
}

@include respond-to(m){
  .teaser-slider {
    .image {
      height: 580px;
    }
  }
}