#tooltip-box{
  position: absolute;
  overflow: hidden;
  pointer-events: none;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.tooltip-container {
  pointer-events: none;
  text-align: center;
  position: absolute;
  z-index: 12;

  .tooltip {
    top: -26px;
    position: relative;
    display: inline-block;
    pointer-events: none;
    white-space:nowrap;
    background-color: $color-grey;
    color: #fff;
    @include ui-font-style();
    @include base-border-radius();
    line-height: 25px;
    padding: 0 10px 2px;
    font-size: 12px;

    &:after {
      content: "";
      bottom: -6px;
      width: 11px;
      height: 7px;
      left: 50%;
      margin-left: -5px;
      background-color: red;
      position: absolute;
      @include background(url('../images/tooltip_arrow.png'));
      background-position: left top;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

}

.pager-button {
  .tooltip-container {
    top: -33px;
  }
  &.active {
    .tooltip-container {
      top: -26px;
    }
  }
}

@include respond-to(xs) {
  .tooltip-container{
    .tooltip {
      padding-top: 7px;
      padding-bottom: 7px;
      max-width: 240px;
      line-height: 14px;
      //font-size: 10px;
      white-space: normal;
    }
  }
}
