<div class="page-content width-limited">

<h1>{{name}}</h1>
<h2>Model <span class="underlined"><span>{{base_modell}}</span></span></h2>

{{#if manufacturer}}
	<img src="{{manufacturer_img_src}}">
{{/if}}

</div>