

<h1>{{productDetails.name}}</h1>
<h3>Preis: {{totalPrice}}</h3>

<h4>Interest: {{interest}}</h4>

{{#each productOptions}}
	{{this.label}} ({{this.id}}) {{this.value}} :
	{{#if this.options}}
		<select name="{{this.id}}">
			{{#each this.options}}
					<option value="{{this.id}}"
					 {{#compare ../value this.id operator="=="}}
						selected
					{{/compare}}
					> {{this.label}} ({{this.id}})</option>
            {{/each}}
		</select>
		<br>
	{{else}}
		<input type="text" name="{{this.id}}" value="{{this.value}}"> <br>
	{{/if}}
{{/each}}

<button class="save_btn">Save</button>

