<div class="finish-view-main">
	<div class="label global-color color-text" data-id="{{panelOptions.models.0.attributes.options.0.id}}">{{panelOptions.models.0.attributes.options.0.label}}</div>
	<div class= "toggle global-color color-background">
		<div class="toggle-indicator"></div>
	</div>
	<div class="label global-color color-text" data-id="{{panelOptions.models.0.attributes.options.1.id}}" data-active="true">{{panelOptions.models.0.attributes.options.1.label}}</div>
</div>