<div class="page-content width-limited fitting-content">
    <div class="row fitting-row">
        <div class="column size-xs-10 offset-xs-by-1 offset-l-by-0 size-l-6 image fitting-column fitting-guide-image"></div>
        <div class="column size-xs-10 offset-xs-by-1 offset-l-by-0 size-l-6 text">
            <h3 class="fitting-guide-headline"></h3>
            <p>{{label "prod_Fitting_Guide_Copy"}}</p>
        </div>
        <div class="icon icon-delete-outline closeButton"></div>
    </div>
</div>