<div class="page-content width-limited">
    <div class="row">
        <div class="column offset-xs-by-half size-xs-11 offset-l-by-0 size-l-4 offset-xl-by-0 size-xl-4">
            <div class="instructions">
                Lorem Ipsum dolor magna et cetera.
            </div>
        </div>
        <div class="column offset-xs-by-half size-xs-11 offset-l-by-0 size-l-4 offset-xl-by-0 size-xl-4">
            <div class="buttons">
                {{#each this.list}}
                    <div data-id="{{this.panelModel.attributes.interest}}" data-tooltip="{{panelLabel this.panelModel}}"
                         class="pager-button has-tooltip button-{{panelLabel this.panelModel}}">
                        <div class="bg"></div>
                        <i class="{{panelIcon this.panelModel}}"></i>
                    </div>
                {{/each}}
            </div>
        </div>
        <div class="column offset-xs-by-half size-xs-11 offset-l-by-0 size-l-4 offset-xl-by-0 size-xl-4">

            <div id="shareContainer">
                <div class="shareContainerContent" style="display: none">
                    <span class="loadingSpinner"></span>
                    <div class="afterLoading" style="display:none">
                        <a class="socialIcon fbShare" href="https://www.facebook.com/sharer/sharer.php?u=" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" alt="Share on Facebook"></a>
                        <a class="socialIcon twShare" href="javascript:" onclick="window.open('http://twitter.com/share?url=','_blank','width=800,height=300')" alt="Share on Twitter" ></a>
                        <a class="socialIcon pnShare" onclick="window.open('http://pinterest.com/pin/create/button/?url=','pinIt','toolbar=0,status=0,width=800,height=500');" href="javascript:void(0);" alt="Share on Pinterest" ></a>
                        <a  class="socialIcon goShare" href="https://plus.google.com/share?url=" onclick="javascript:window.open(this.href,'','menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=800');return false;" alt="Share on Google" ></a>

                        <div class="line-separator"></div>
                        <a class="socialIcon copylink" href="" onclick="javascript:return false;" data-clipboard-action="copy" data-clipboard-text="" target="_blank" alt="Copy link">Copy link</a>

                        </div>

                    </div>
                    <a href="" class="shareButton">Share Design</a>
                </div>
        </div>
    </div>
</div>

