<div class="finish-view">
</div>

<div class="debug">
</div>

<div class="pager-container">
</div>

<div class="panel-row">
    <div class="page-content width-limited panel-content">

        <div class="panel-container">
        </div>

    </div>
</div>

<div id="mobileShareContainer">
    <div class="shareContainerContent" style="display: none">
        <span class="loadingSpinner"></span>
        <div class="afterLoading" style="display:none">
            <a class="socialIcon fbShare" href="https://www.facebook.com/sharer/sharer.php?u=" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
               alt="Share on Facebook"></a>
            <a class="socialIcon twShare" href="javascript:"
               onclick="window.open('http://twitter.com/share?url=https://stage2.helmade.com/de/helmade-5star-arai-sk-6-classic-helm.html&amp;text=helmade 5Star SK-6 Classic','_blank','width=800,height=300')" alt="Share on Twitter"></a>
            <a class="socialIcon pnShare"
               onclick="window.open('http://pinterest.com/pin/create/button/?url=https://stage2.helmade.com/de/helmade-5star-arai-sk-6-classic-helm.html&amp;media=&amp;description=helmade 5Star SK-6 Classic :https://stage2.helmade.com/de/helmade-5star-arai-sk-6-classic-helm.html','pinIt','toolbar=0,status=0,width=800,height=500');"
               href="javascript:void(0);" alt="Share on Pinterest"></a>
            <a class="socialIcon goShare" href="https://plus.google.com/share?url=https://stage2.helmade.com/de/helmade-5star-arai-sk-6-classic-helm.html"
               onclick="javascript:window.open(this.href,'','menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=800');return false;" alt="Share on Instagram"></a>

            <div class="line-separator"></div>
            <a class="socialIcon copylink" href="" onclick="javascript:return false;" data-clipboard-action="copy" data-clipboard-text="" target="_blank" alt="Copy link">Copy link</a>

        </div>

    </div>
    <a href="" class="shareButton">Share Design</a>
</div>