<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
$helper =  $this->helper('MGS\Mpanel\Helper\Data');
?>
<script src="<?php echo $block->getViewFileUrl('/') ?>/prototype/prototype.js"> </script>
<script src="<?php echo $block->getViewFileUrl('/') ?>/jquery/jquery.min.js"> </script>
<script src="<?php echo $block->getViewFileUrl('/') ?>/lib/custom.js"> </script>
<script src="<?php echo $block->getViewFileUrl('/') ?>/lib/jquery/noconflict.js"> </script>
<script src="<?php echo $block->getViewFileUrl('/') ?>/prototype/validation.js"> </script>
<script src="<?php echo $block->getViewFileUrl('/') ?>/varien/js.js"> </script>
<script src="<?php echo $block->getViewFileUrl('/') ?>/varien/form.js"> </script>
<script src="<?php echo $block->getViewFileUrl('/') ?>/varien/product.js"> </script>
<script src="<?php echo $block->getViewFileUrl('/') ?>/varien/configurable.js"> </script>
<script src="<?php echo $block->getViewFileUrl('/') ?>/lib/modernizr.custom.min.js"> </script>
<script src="<?php echo $block->getViewFileUrl('/') ?>/lib/enquire.js"> </script>
<script src="<?php echo $block->getViewFileUrl('/') ?>/lib/clipboard.min.js"> </script>
<script src="<?php echo $block->getViewFileUrl('/') ?>/app.js"> </script>
<script>
	var BASE_URL = WEB_URL = '<?= $block->escapeUrl($block->getBaseUrl()) ?>';
	var RTL = false;
    var require = {
        "baseUrl": "<?= /* @escapeNotVerified */ $block->getViewFileUrl('/') ?>"
    };
    <?php if($helper->getFullActionName() == 'catalog_category_view'): ?>
    var CATALOG_CHECK = 1;
    <?php else: ?>
    var CATALOG_CHECK = 0;
    <?php endif ?>
    <?php if($helper->getFullActionName() == 'catalog_product_view' || $helper->getFullActionName() == 'mgs_quickview_catalog_product_view'): ?>
    var CATALOG_CHECK = 2;
    <?php endif ?>
</script>
