.color-panel, .signature-panel {

  .palette-selector {
    display: inline-block;
    padding: 14px 40px 16px 10px;
    width: 310px;

    .palette-radio {
      width: 90px;
      float: left;
      margin-top: 8px;
      margin-left: 40px;

      label {
        &:after {
          top: 1px !important;
        }
      }

    }
  }

  .color-selector {

    vertical-align: top;

    .color-container {
      position: relative;
      width: 100%;
      height: 100%;
      @include transition(transform 0.5s);
      @include transition-timing-function($ease-strong);

    }

    .color {
      width: 100%;
      height: 50%;
      background-color: grey;
      float: left;
      cursor: pointer;
      position: relative;
      z-index: 1;

      &[data-name='Innocent White']{
        border: 1px solid lighten($color-grey-medium,30);
      }

      &.big {
        //height: 124px;
        height: 100%;
      }

      @include transition(transform 0.25s);
      @include transition-timing-function($ease-strong);

      img {
        width: 100%;
        height: 100%;
        //min-width: 62px;
      }

      &.active.color-grey {
        .icon{
          color: $color-grey;
        }
        &:after {
          border-color: $color-grey;
        }
      }

      .icon {
        color: #fff;
        font-size: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -22px;
        margin-top: -15px;
        display: none;

      }

      &:not(.active):hover {
        @include transform(scale(1.1));
      }

      &:hover {
        z-index: 2;
      }

      &.active {

        &:after {
          display: block;
          position: absolute;
          content: "";
          top: 4px;
          right: 4px;
          bottom: 4px;
          left: 4px;
          border: 1px solid rgba(#fff, 0.5);
        }

        .icon {
          display: block;
        }

      }

    }
  }
}