.fitting-guide {

  .icon {
    position: absolute;
    top: 100px;
    right: 0;
    font-size: 55px;
    cursor: pointer;
    color: rgba(56, 56, 56, 0.5);
    @include transition(color 0.2s);
    &:hover {
      color: $color-default;
    }
  }

  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(white, 0.96);
  display: none;

  &.visible {
    display: block;
  }

  .fitting-content {
    height: 100%;
    .fitting-row {
      height: 100%;
      .fitting-column {
        height: 100%;
      }
    }
  }

  .image {

    &.fitting-guide-image {
      &.en {
        @include background(url('https://cdn.helmade.com/misc/fitting_guide_head.png'));
        background-size: contain;
        background-position: right center;
        background-repeat: no-repeat;
      }
      &.de {
        @include background(url('https://cdn.helmade.com/misc/fitting_guide_kopf.png'));
        background-size: contain;
        background-position: right center;
        background-repeat: no-repeat;
      }
    }
    //background-size: auto 50%;
    //right: 4%;

  }

  .text {

    h3 {
      width: 180px;
      height: 102px;
      position: relative;
      margin-top: 30%;
      left: 100px;
      margin-bottom: 0;
      &.fitting-guide-headline {
        &.en {
          @include background(url('https://cdn.helmade.com/misc/handwritten_getting_the_right_fit.png'));
          background-size: contain;
          background-repeat: no-repeat;
        }
        &.de {
          @include background(url('https://cdn.helmade.com/misc/handwritten_richtige-groesse.png'));
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
    }


    p {
      position: relative;
      max-width: 60%;
      margin-left: 50px;
    }

  }

}

@include respond-to(xs-s) {
  .fitting-guide {

    .icon {
      top: 30px;
    }
  }

}
@include respond-to(m) {
  .fitting-guide {

    .icon {
      top: 50px;
    }
  }

}