.number-panel {
  text-align: center;
  .option {
	display: inline-block;
	position: relative;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
  }
  input[type=number],input[type=tel] {
	@include ui-font-style();
	font-size: 61px;
	width: 108px;
	height: 108px;
	display: inline-block;
	padding-left: 10px;
	padding-bottom: 1px;
	border: 1px dashed #e3e3e3;
	border-radius: 50%;
	text-align: center;
	position: relative;
	&::-webkit-outer-spin-button, &::-webkit-inner-spin-button  {
	  -webkit-appearance: none;
	  margin: 0;
	}
	outline: none;
	&:focus {
	  outline: none;
	}
  }

  .small {
	//display: inline-block;
	text-align: center;
	position: absolute;
	//right: -105px;
	left: 50%;
	margin-left: 75px;
  	top: 50%;
	margin-top: -10px;
  }
}