 .pager-container {
    position: relative;
    width: 100%;
    height: 52px;
    padding-top: 14px;

   .row {
     margin: 0 !important;
   }

   $time: 0.3s;

   .instructions {
     @include ui-font-style();
   }

    .buttons {
      text-align: center;

      .pager-button {
        text-align: left;
        display: inline-block;
        cursor: pointer;
        width: 23px;
        height: 23px;
        border-radius: 50%;
        background-color: $color-grey-medium;

        color: white;
        margin: 0 9px 0;
        padding: 0;
        position: relative;

        @include transition(color $time, transform $time);

        .bg {
          position: absolute;
          top: 17px;
          left: 17px;
          display: inline-block;
          width: 0;
          height: 0;
          border-radius: 50%;
          background-color: white;
          border: none;
        }

        i {
          font-size: 38px;
          position: absolute;
          width: 66px;
          height: 66px;
          left: 50%;
          top: 50%;
          margin-left: -33px;
          margin-top: -33px;
          text-align: center;
          line-height: 66px;
          &:before{
            vertical-align: middle;
            top: 0;
            display: block;
            margin: 0;
            width: 66px;
            height: 66px;
            line-height: 65px;
          }

          &.icon-name-pure {
            @include transform(scale(0.9));
          }

          &.icon-addons-pure {
            @include transform(translateY(1px));
          }

        }

/*        i {
          font-size: 23px;
          position: absolute;
          left: -6px;
          top: 0px;

          &.icon-paint-pure {
            left: -4px;
          }

        }*/

        &.active {
          color:  $color-grey-medium;
          width: 35px;
          height: 35px;
          top: 5px;
          margin: -11px 4px 0;

          .bg {
            top: 2px;
            left: 2px;
            width: 31px;
            height: 31px;
            @include transition(top $time, left $time, width $time, height $time);
          }

          i {
            font-size: 50px;
            //left: -1px;
           //top: 6px;
            &:before{
              line-height: 64px;
            }
          }

        }
      }
    }
  }