@mixin ui-panel() {

  position: relative;
  top: 0;
  left: 0;
  background-color: white;
  border-bottom: 1px solid #e3e3e3;

}

  .panel {
    @include ui-panel();
    width: 100%;
    height: 127px;


    &.hidden {
      display: none;
    }

    .option {
      height: 126px;
    }

    .helper {
      height: 100%;
      @include ui-font-style();
      line-height: 124px;
      padding: 0px 54px;
      float: left;
    }

    .navigation {
      cursor: pointer;
      margin: 29px 0;
      padding: 22px 40px;

      font-size: 19px;
      @include ui-font-style();

      &>div {
        display: inline-block;
      }

      &.prev {
        border-right: 1px solid #e3e3e3;
        .label {
          display: none;
        }
      }

      &.next {
        float: right;
        border-left: 1px solid #e3e3e3;
      }

    }

    .option, .navigation {
      float: left;
      position: relative;
    }

    .option.flex {
      width: 0px;
      padding: 0px 0px;

      .option-container {
        height: 100%;
        .option-column {
          height: 126px;
          float: left;
          &:focus {
            outline: 0;
          }
        }

        &.sliderino {

          .option-column {
            @include transition(width 0.1s $ease-strong);

            &.come-from-white {
              @include afterBox();
              &:after {
                @include transition(opacity 0.1s $ease-strong);
                background-color: #fff;
                z-index: 2;
                opacity: 0;
                pointer-events: none;
              }
            }

          }

          .hidden {
            display: block;
            width: 0 !important;
            pointer-events: none;
            div, img, p {
              opacity: 0;
              &:after {
                opacity: 0;
              }
            }

            &:before {
              opacity: 0;
            }

            &:after {
              opacity: 1;
            }
          }

          .slider-button {

            width: 50px;
            height: 100%;
            float: left;
            cursor: pointer;
            position: relative;
            font-size: 15px;

            &:before {
              text-indent: 1px;
              position: absolute;
              top: 50%;
              left: 50%;
              margin-top: -10px;
            }

            &.slider-button-prev {
              @include font-icon-basics();
              @extend .icon-prev-icon;
              margin: 0;
              &:before {
                margin-left: -11px;
              }
            }

            &.slider-button-next {
              @include font-icon-basics();
              @extend .icon-next-icon;
              margin: 0;
              &:before {
                margin-left: -9px;
              }
            }

          }

        }

        &.slick-slider {

          button {
            height: 100%;
            width: 67px;
            position: absolute;
            top: 0;
            font-size: 19px;
            content: "";
            text-indent: -9999px;
            border: none;
            background-color: #fff;

            &:focus {
              outline: none;
            }

            &.slick-prev {
              left: -67px;
              &:before {
                @include icon-prev-icon();
                margin-left: -11px;
              }

            }
            &.slick-next {
              right: -67px;
              &:before {
                @include icon-next-icon();
                margin-left: -9px;
              }
            }

            &:before {
              text-indent: 1px;
              position: absolute;
              top: 50%;
              left: 50%;
              margin-top: -10px;
            }

          }

        }

      }

    }

  }
