.price-container {
  //height: 100%;
  //position: absolute;
  position: absolute;
  width: 100%;

top: 30%;


  z-index: 1;
  pointer-events: none;
}

.price-box {
  position: relative;
  right: 0;
  //top: 30%;
  text-align: right;

  .price {
    font-family: $copy-font;
    font-size: 28px;
    color: $color-grey;
    text-transform: none;
    margin-right: 18px;
    display: inline-block;
    vertical-align: middle;
  }

  .add-to-cart-buttons {
    pointer-events: all;
    display: inline-block;
    vertical-align: middle;
    float: none;
    margin: 0;

    button {
      margin: 0;
    }
  }

  .price-product-options{
    display: inline-block;
    font-family: $helvetica-light;
    font-size: 13px;

    .option-table{
      display: table;
      width: 200px;
      padding-left: 65px;
      margin-bottom: 10px;

      .table_row{
        display: table-row;

        .cell{
          display: table-cell;
          width: 50%;
          padding-left: 5px;
          line-height: 1.3em;

          strong{
            font-family: $helvetica-bold-condensed;
            text-transform: uppercase;
          }


          &:first-child{
            width: 60%;
            text-align: right;
          }

          &:last-child{
            width: 40%;
            text-align: right;
          }
        }
      }
    }

  }

  .price-extras {
    display: block;
    margin-top: 8px;
    font-size: 12px;
    color: $color-light;

    .tax-details {
      display: block;

      a {
        pointer-events: all;

        &:hover{
          color: $color-default;
          text-decoration: none;
        }
      }

    }
    .price-box {
      display: none;
    }
  }
}