
.signature-panel {
  .name-selector {
    width: 300px;
    padding: 19px 0 0 52px;

    input[type=text] {
      width: 220px;
      text-transform: none;
    }
  }

  fieldset {
    .producer-logo-radio {
      float: left;
      input {
        margin-right: 5px;
      }
      label {
        font-size: 12px;
        color: #aeaeae;
        text-transform: none;
        padding-right: 12px;
        font-family: "HelveticaNeueW01-55Roma", "Helvetica Neue", Verdana, Arial, sans-serif;
        &:after {
          margin-left: 5px !important;
          top: 2px !important;
        }
      }
    }
  }

  .font-selector {
    .font-tile {
      //overflow: hidden;
      position: relative;
      width: 64px;
      //height: 124px;
      height: 100%;
      cursor: pointer;

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -30px;
        margin-left: -25px;
        width: 50px;
        height: 50px;
      }
      outline: none;

      @include beforeBox();

      &.active {
        &:before {
          opacity: 0.5;
          background-color: $color-default;
        }
      }
      &:hover:not(.active) {
        &:before {
          z-index: 3;
          opacity: 0.1;
          background-color: $color-default;
        }
      }

    }
  }
  .color-selector {
    padding-left: 28px;
    min-width: 300px;
    .option-column {
      width: 63px;
      //height: 124px;
      height: 100%;
      float: left;
      .color {
        height: 63px;
      }
    }
  }
}