.size-panel {
  position: relative;
  height: 124px;

  .helper.guide {
    float: right;
    text-decoration: underline;
    cursor: pointer;
  }

  .size-selector-container {
    height: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    .size-selector {
      height: 100%;
      float: inherit;
      display: inline-block;
      pointer-events: all;
      .size {

        cursor: pointer;

        height: 100%;
        width: 70px;
        float: left;
        border-left: 1px solid rgba($color-grey, 0.15);
        &:last-of-type {
          border-right: 1px solid rgba($color-grey, 0.15);
        }
        .label {
          text-align: center;
          @include ui-font-style();
          color: rgba($color-grey, 0.5);
          line-height: 59px;
          font-size: 24px;
          height: 50%;
          border-bottom: 1px solid rgba($color-grey, 0.15);
          position: relative;
          z-index: 1;

        }
        .detail {
          height: 50%;
          padding-top: 15px;
          position: relative;
          z-index: 1;
          .measures, .unit {
            @include copy-font-style();
            color: rgba($color-grey, 0.5);
            //color: $color-light;
            font-size: 13px;
            line-height: 15px;
          }
          .measures {
            //margin-top: 15px;
          }
          .unit {

          }
        }

        &.active {

          padding-left: 1px;

          &:last-of-type {
            padding-left: 0px;
          }

          .label {
            line-height: 57px;
          }

          @include beforeBox();
          &:before {
            opacity: 0.5;
            background-color: $color-default;
            z-index: 0;
            height: 50%;
          }
          border-bottom: 1px solid rgba($color-grey, 0.4);

          @include afterBox();
          &:after {
            opacity: 0.25;
            background-color: $color-default;
            z-index: 0;
            height: 50%;
            top: 50%;
          }

          border-top: 1px solid rgba($color-grey, 0.4);
          border-left: 1px solid rgba($color-grey, 0.4);
          border-right: 1px solid rgba($color-grey, 0.4);

        }

      }
    }
  }
}