.visor-panel {
  .helper {
	line-height: 1em;
	width: 250px;
	padding: 30px 60px 0 50px;
	margin: 0;
  }

  .visor-color-selector {
	width: 150px;
	padding: 30px 30px 0 10px;

	.color-radio {
	  width: 90px;
	  float: left;
	  margin-top: 8px;
	  margin-left: 40px;
	}

  }

  .visor-selector {

	&:not(.sliderino){
	  text-align: center;
	  .option-container {
		display: inline-block;
	  }
	}

	.visor-tile {
	  @include beforeBox();
	  float: left;
	  position: relative;
	  width: 110px;
	  height: 100%;
	  outline: none;
	  cursor: pointer;

	  img {
		position: absolute;
		top: 42%;
		left: 50%;
		margin-top: -38px;
		margin-left: -38px;
		width: 73px;
		height: 73px;
	  }

	  .visor-price {
		@include copy-font-style();
		color: rgba($color-grey, 0.5);
		font-size: 13px;
		position: absolute;
		bottom: 15px;
		width: 100%;
		text-align: center;
		text-transform: uppercase;
	  }

	  &:before {
		z-index: 3;
		opacity: 0.2;

	  }
	  &:hover:not(.active) {
		&:before {
		  z-index: 3;
		  opacity: 0.1;
		  background-color: $color-default;
		}
	  }

	  &.active {
		:before {
		  background-color: $color-default;

		}
	  }
	}
  }
}