#accessories_navigation {

  &.en {
    @include background(url('https://cdn.helmade.com/catalog/category/accessories_header.png'));
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }
  &.de {
    @include background(url('https://cdn.helmade.com/catalog/category/accessoires_header.png'));
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  height: 350px;
  margin-top: 20px;
  margin-bottom: 80px;

  .category-description{
    display:block;
    font-size: 18px;
    line-height: 27px;
    width: 100%;
    text-align: center;
    margin: 15px 0 60px;
    p {
      max-width: 650px;
      display: inline-block;
    }

    h1{
      color: $c-text;
      font-size: 18px;
      font-family: $helvetica-bold-condensed;
      text-align: center;
      margin: 16px 0 15px 0;
    }
  }

  h2 {
    margin-top: 120px;
    @include light-font-style();
    font-size: 34px;
    text-transform: none;
    letter-spacing: 0;
    margin-bottom: 10px;
  }

  h2, .categories {
    display: block;
    width: 100%;
    clear: both;
    text-align: center;
  }

  a {

    @include ui-font-style();
    color: $color-grey;
    letter-spacing: 0;

    margin: 0 16px;

    @include underlined();

    &:not(.isActive) {
      //@include underlined();
    }

    &:before {

      @include transition(all 0.5s);
      @include transition-timing-function($ease-strong);
      width: 0px;

    }

    &:hover {
      &:before {
        width: 100%;
      }
    }

    &.isActive {
      &:before {
        width: 100%;
      }
    }

  }

}

.catalog-catagory-base-helmets{
  #accessories_navigation {
    &.de {
      @include background(url('https://cdn.helmade.com/catalog/category/basehelmets_header_de.png'));
    }
    &.en {
      @include background(url('https://cdn.helmade.com/catalog/category/basehelmets_header_en.png'));
    }
    &.en, &.de {
      background-repeat: no-repeat;
      background-position: center center;
      background-size: auto 100%;
    }
    h2 {
      margin-top: 160px;
    }
  }

  .list-filter-container{
    top: 30px;
    margin-bottom: 40px;
    display: inline-block;
    width: 100%;
  }

}

@include respond-to(xs-s-m){
  #accessories_navigation {
    &.en {
      @include background(url('https://cdn.helmade.com/catalog/category/accessories_header-mobile.png'));
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 50% 30%;
    }
    &.de {
      @include background(url('https://cdn.helmade.com/catalog/category/accessoires_header-mobile.png'));
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 50% 30%;
    }
    height: 250px;
  }
  .catalog-catagory-base-helmets{
    #accessories_navigation {
      &.de {
        @include background(url('https://cdn.helmade.com/catalog/category/basehelmets_header_de-mobile.png'));
      }
      &.en {
        @include background(url('https://cdn.helmade.com/catalog/category/basehelmets_header_en-mobile.png'));
      }
      &.en, &.de {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50% 30%;
      }
    }
  }
}

@include respond-to(xs-s-m){
  .catalog-catagory-base-helmets{
    .list-filter-container {
      display: inline-block;
      width: 100%;
      margin-bottom: 60px;
    }
  }

}


.category-products-accessories {

  .row:first-of-type {
    margin-top: 100px;
  }

  .item {

    height: 300px;

    padding-top: 30px;
    padding-bottom: 10px;
    position: relative;
    top: 0;
    bottom: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    //height: 100%;

    &.middle-item {
      $border-style: 1px solid lighten($color-grey, 70);
      border-left: $border-style;
      border-right: $border-style;
    }

    &:last-of-type {
      border-left: 0;
      border-right: 0;
    }

    .content-box {

      padding: 0 20px;

      .product-image {

        float: left;
        width: 40%;
        //padding-right: 10%;
        padding: 2%;
        padding-top: 0;
        border: none;

        img {
          width: 100%;
        }

      }

      .product-info {

        padding-left: 5%;
        width: 60%;
        float: left;
        color: $color-grey;

        .product-manufacturer {
          text-transform: uppercase;
          display: block;
          padding-top: 35px;
          margin-bottom: -12px;
          @include ui-font-style();
        }

        .product-name {

          @include bold-font-style();
          color: $color-grey;
          font-size: 26px;
          z-index: 1;
          line-height: 1;
          //border-bottom: solid 6px $color-default;
          vertical-align: bottom;
          position: relative;

          span {
            position: relative;
            bottom: -11px;
          }

        }

        .product-price {
          margin-top: 18px;
          display: block;
          @include light-font-style();
          font-size: 28px;
          z-index: 1;
          position: relative;

        }

        .button {
          @include base-border-radius();
          padding: 12px 24px;
          margin-top: 10px;
        }

      }

    }

  }

}

.product-manufacturer-logo {
  width: 70px;
  height: 40px;
  background-position: left center;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
}

.other-product-base-helmet{
  .product-view .product-shop {
    .product-name {
      float: none;
    }
  }
}

@include respond-to(m-l-xl) {
  .category-products-accessories {

    .item {
      .button {

        position: absolute !important;
        bottom: 0;

      }
    }

  }
}

@include respond-to(m){
  .category-products-accessories {

    .item {
      &.middle-item {
        border: none;
      }
      &:nth-child(odd) {
        $border-style: 1px solid lighten($color-grey, 70);
        border-right: $border-style;
      }
    }

  }
}

@include respond-to(xs-s){
  .category-products-accessories {

    .item {
      &.middle-item {
        border-left: none;
        border-right: none;
      }
      $border-style: 1px solid lighten($color-grey, 70);
      border-bottom: $border-style;
      &:last-of-type {
        border: 0;
      }
      padding-top: 10px;
      padding-bottom: 40px;
      margin-top: 0;
      height: auto;

    }

  }
}

@include respond-to(xs){
  #accessories_navigation {
    a {
      margin: 0 8px;
    }
  }
  .category {
    .category-products-accessories {
      .item {
        .content-box {
          .product-info {
            .product-manufacturer {
              padding-top: 0;
            }
            .product-name {
              font-size: 22px;
            }
            .product-price {
              font-size: 24px;
            }
          }
        }
      }
    }
  }
}

.product-additional{
  width: 100%;
  margin: 60px 0 90px;
  $full: 100%;
  $one: $full / 12;

  .product-additional-headline {
    margin-bottom: 30px;
    @include ui-font-style();
    text-align: center;
  }

  .row {
    &.row-1, &.row-3 {
      .image-column {
        margin-left: $one;
      }
    }
    &.row-2, &.row-4 {
      .image-column {
        float: right;
        margin-right: $one;
      }
      .text-column {
        margin-left: $one;
      }
    }
  }

  @include respond-to(m) {
    .row {
      &.row-1, &.row-3, &.row-2, &.row-4 {
        .image-column, .text-column {
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
  }

  .column {
    padding-top: 35%;
    @include respond-to(xs-s-m) {
      padding-top: 60%;
    }
  }
  .image-column {
    background-color: black;
    overflow: hidden;

    .image-container {
      background-size: cover;
      top: -100px;
      bottom: 0;
      position: absolute;
      left: 0;
      right: 0;
    }
  }

  @include respond-to(xs-s){
    .image-column{
      padding-top: 83.33333333333%;
      .image-container{
        top: 0;
      }
    }
  }

  .text-column{
    @include respond-to(xs-s) {
      padding: 0;
    }
    .text-content{
      position: absolute;
      top: 49%;
      left: 20%;
      right: 20%;
      transform: translate3d(0,-50%,0);
      @include respond-to(xs-s) {
        position: relative;
        left: 0;
        right: 0;
        padding: 30px $one 60px;
        transform: none;
      }
    }
    .topline, .quote-name {
      @include ui-font-style();
    }
    h2:not(.quote) {
      @include light-font-style();
      text-transform: none;
      color: #636363;
      font-size: 28px;
      letter-spacing: 0;
      z-index: 1;
      line-height: 1;
      vertical-align: bottom;
      position: relative;
    }
  }
  .quote-row {
    h2 {
      @include bold-font-style();
      color: $color-default;
      font-size: 28px;
    }
  }
}

@keyframes rotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

.product-view-accessory {

  .back-link {

    margin-bottom: 0;

    @include ui-font-style();
    letter-spacing: 0;
    line-height: 18px;

    text-decoration: underline;
    position: relative;
    color: $color-default !important;

    &:hover {

      text-decoration: none;

    }

    .icon {

      display: inline-block;
      font-size: 18px;
      line-height: 18px;

      &:before {

        position: relative;

        top: 1px;

        left: -10px;
        width: 7px;

      }

    }

  }

  .product-box {

    margin-bottom: 60px;

  }

  margin-top: 85px;

  .size-title {
    font-size: 13px;
    color: $color-grey-medium;
    margin-bottom: 10px;
  }

  .add-to-cart-wrapper {

    .delivery-time{

      font-size: 13px;
      color: $color-grey-medium;
      margin-bottom: 10px;

    }

    .add-to-box {

      min-width: 160px;
      float: left;

      .out-of-order {
        color: $color1;
        font-size: 20px;
      }

      .add-to-cart{

        border: 0;

        .qty-wrapper {

          display: none;

        }

        .add-to-cart-buttons{

          .button {

            @extend .global-color;
            @extend .color-background;

            border: 1px solid #42f092;

            &.notActive {
              background-color: transparent;
              //outline: 1px solid #9c9b9b;
              opacity: 0.4;
              pointer-events: none;
              cursor: default;
              color: black;
              border-color: #9f9f9f;
            }

            &.noTransition {
              transition: all 0.15s ease-in-out;
            }

          }

        }


      }

    }
    .customize-button-link{
      &:hover{
        cursor: pointer;
        .customize-button{
          outline-color: #999;
          color: #777;
          .customize-button-image {
            animation-play-state: running;
          }
        }
      }
      .customize-button{
        padding: 0 16px;
        float: left;
        height: 40px;
        text-transform: uppercase;
        @include ui-font-style();
        text-align: center;
        line-height: 40px;
        color: #9c9b9b;
        border: 1px solid #ddd;
        border-radius: 3px;
        transition: all 150ms ease-out;
        .customize-button-image {
          transform-origin: center;
          animation: rotate 5s infinite linear;
          animation-play-state: paused;
          //transition: transform 700ms cubic-bezier(.3,.1,.44,1);
          position: relative;
          left: auto;
          float: right;
          margin-left: 8px;
          width: 18px;
          height: 18px;
          background-image: url('https://cdn.helmade.com/misc/icons/customize-icon.png');
          background-size: contain;
          background-repeat: no-repeat;
          margin-top: 10px;
        }
      }
    }
  }


  .content-box {

    .product-name {

      @include light-font-style();
      text-transform: none;
      color: $color-grey;
      font-size: 32px;
      letter-spacing: 0;
      z-index: 1;
      line-height: 1;
      //border-bottom: solid 6px $color-default;
      vertical-align: bottom;
      position: relative;

      span {
        position: relative;
        bottom: -11px;
      }

    }

    .product-manufacturer {
      text-transform: uppercase;
      display: block;
      margin-bottom: -12px;
      padding-top: 50px;
      @include ui-font-style();
    }

    .short-description{

      @include copy-font-style();
      margin-bottom: 20px;

    }

    .extra-info{

      display: none;

    }

    .product-price {
      margin-top: 50px;
      display: block;
      @include light-font-style();
      font-size: 28px;
      z-index: 0;
      position: relative;
      letter-spacing: 0;
      margin-bottom: 20px;

      .price-box {

        line-height: 30px;
        margin-bottom: -12px;

        .regular-price {

          .price {
            @include light-font-style();
            color: $color-grey;
            font-size: 32px;
          }

        }

      }

      .tax-details {

        font-size: 13px;
        color: $color-grey-medium;

      }

    }

  }

  .product-shop, .add-to-cart-wrapper {

    width: 100%;
    clear: both;

  }

  .product-interferer{
    &.product-interferer-30-percent {
      width: 58%;
      padding-top: 58%;
      position: absolute;
      right: 0;
      bottom: -76%;
      @include background(url('https://cdn.helmade.com/misc/30-prozent-stoerer.png'));
      background-size: contain;
      background-repeat: no-repeat;
      @include respond-to(m) {
        width: 40%;
        padding-top: 40%;
        right: 0;
        bottom: -155%;
      }
      @include respond-to(s) {
        width: 45%;
        padding-top: 45%;
        right: 0;
        bottom: -91%;
      }
      @include respond-to(xs) {
        width: 60%;
        padding-top: 60%;
        right: 0;
        bottom: -20%;
      }
    }
  }

  .product-img-box {

    width: 100%;

    .product-image {

      border: 0;

      &:hover {

        border: 0 !important;

      }

    }

    .product-gallery-image {

      display: none;

      &.visible {
        display: block;
      }

    }

  }

  .more-views {

    .product-image-thumbs {

      .thumb-link{

        @include beforeBox();

        margin-right: 10px;

        border: 0 !important;

        &:before {

          $borderWidth: 6px;

          background-color: $color-default;

          top: auto;

          height: $borderWidth;

          @include transform-origin( 0% );
          @include transform(scaleX(0));
          @include transition(transform 0.5s $ease-strong);

        }

        &:hover, &.active {

          &:before {
            @include transform(scaleX(1));
          }

          border: 0 !important;

          img {

            border: 0 !important;

          }

        }
      }

    }

  }

}

.product-view .product-shop .product-name {
  display: block;
}
