.customer-account-index, .customer-account {


      .main-container {

        @extend .page-content;
        @extend .width-limited;

        margin-bottom: 100px;
        margin-top: 100px;


        .main {

          @extend .row;

          strong {  // kills the blue link color
            color: inherit;
            font-weight: normal;
          }
          font-size: 13px;

          .buttons-set {
            button {
              background-color: $color-default;
              color: #FFFFFF;
            }
            border-top: none;
          }

          .col-left{

            @extend .column;

            @extend .offset-xs-by-half;
            @extend .size-xs-11;

            @extend .offset-l-by-1;
            @extend .size-l-3;

            @extend .offset-xl-by-0;
            @extend .size-xl-3;

            // SIDEBAR ACCOUNT
            .block-account  {

              border: none;
              background-color: inherit;

              span {
                @include ui-font-style();
                font-size: 15px;
                text-transform: uppercase;
              }

              ul {
                li {

                  font-size: 18px;
                  display: table;

                  //width: auto;

                  @include underlined();
                  &:before {

                    @include transition(all 0.5s);
                    @include transition-timing-function($ease-strong);

                    width: 0px;
                    bottom: 7px;
                  }

                  & a {
                    //  @include copy-font-style();
                    text-transform: none;
                    line-height: 35px;
                    color: $color-grey-medium;
                    &:hover {
                      color: $color-grey-medium;
                      text-decoration: none;
                    }
                  }

                  &:hover, &.current {
                    &:before {
                      width: 100%;
                    }
                  }

                }
              }

            }

          }

          .col-main {

            @extend .column;

            @extend .offset-xs-by-half;
            @extend .size-xs-11;

            @extend .offset-l-by-0;
            @extend .size-l-7;

            @extend .offset-xl-by-1;
            @extend .size-xl-8;

            table {
              &.data-table {

                thead {
                  th {
                    background-color: $tr-bg-color;
                    border-top: 1px solid $border-color;
                    border-bottom: none;
                    @include ui-font-style();
                  }
                }
                tbody {
                  tr, tr td {
                    border-bottom: none;
                  }

                }
                tfoot {
                  tr {
                    background-color: $tr-bg-color;
                    &.first{
                      border-top: 1px solid $border-color;
                    }
                  }
                  .summary-total {
                    .summary-collapse {
                      &:before {
                        border-top: 7px solid $color-default;
                        margin-bottom: 2px;
                        @include transform(scaleX(0.7));
                        margin-left: -2px;
                        margin-right: 3px;
                      }
                    }
                    &.show-details {
                      .summary-collapse {
                        &:before {
                          border-top: none;
                          margin-bottom: 1px;
                          border-bottom: 7px solid $color-default;
                        }
                      }
                    }
                  }
                  .grand_total {
                    td, span, strong {
                      font-weight: bold !important;
                    }
                  }
                }
              }
            }

            .dashboard, .acc-content, .my-account, .account-create {

              float: left;

              h1 {
                @include morningstar-font-style();
                font-size: 36px;
                line-height: 36px;
              }

              a {
                @include ui-font-style();
                text-transform: uppercase;
                font-size: 12px;

              }

              h1, a {
                color: $color-default;
              }

              h2, h3 {
                @include ui-font-style();
                font-size: 18px;
                text-transform: uppercase;
                font-weight: normal;
              }

              h3 {
                font-size: 15px;
              }

              .box-content {
                @include light-font-style();
                font-size: 13px;

                p {
                  font-style: normal;
                }

              }

              form {

                label {
                  @include light-font-style();
                  font-size: 10px;
                  color: $color-light;
                  font-weight: inherit;
                }

                div.input-box {

                  input {
                    @include label-font-style();
                    font-size: 13px;
                  }

                }

                p.required {
                  color: $color-light;
                  font-size: 10px;
                }

              }

              li.control {

                label {
                  background-color: inherit;
                }

              }

              button.button {
                background-color: $color-default;
                @include transition(background-color 1s, color 1s);
                @include transition-duration(1s);

              }

              a.button {  // New Costumer Button

                background-color: $color-default;
                color: #FFFFFF;

              }

              .order-info-box .box-title {
                float: none;
              }

            }

            .data-table th, #my-orders-table th {
              font-family: inherit;
              @include ui-font-style();
            }

          }

        }

      }
}

.customer-account-login  {

  .main-content {

    @extend .page-content;
    @extend .width-limited;

    margin-bottom: 100px;


    .main-row {

      @extend .row;

      .account-login {
        .buttons-set {
          a {
            .button {
              position: relative !important;
            }
          }
        }
      }

      .account-create {

        @extend .column;

        @extend .offset-xs-by-half;
        @extend .size-xs-11;

        @extend .offset-l-by-1;
        @extend .size-l-10;

        @extend .offset-xl-by-0;
        @extend .size-xl-12;

      }

    }

  }

}

.customer-account-create {

  .main-content {

    @extend .page-content;
    @extend .width-limited;

    margin-bottom: 100px;

    .main-row {

      @extend .row;

      .account-create {

        .page-title {

          margin-bottom: 20px;
        }

        @extend .column;

        @extend .offset-xs-by-half;
        @extend .size-xs-11;

        @extend .offset-m-by-1;
        @extend .size-m-6;

        @extend .offset-l-by-1;
        @extend .size-l-4;

        @extend .offset-xl-by-0;
        @extend .size-xl-4;

      }

    }

  }

}

.customer-account-logoutsuccess {

  .main-content {
    @extend .page-content;
    @extend .width-limited;
    margin-bottom: 100px;
    .main-row {
      @extend .row;
      .page-title {
        margin-top: 70px;

        @extend .column;

        @extend .offset-xs-by-half;
        @extend .size-xs-11;

        @extend .offset-l-by-1;
        @extend .size-l-10;

        @extend .offset-xl-by-0;
        @extend .size-xl-12;
      }
      p {
        @include ui-font-style();

        @extend .column;

        @extend .offset-xs-by-1;
        @extend .size-xs-10;

        @extend .offset-l-by-2;
        @extend .size-l-8;

        @extend .offset-xl-by-0;
        @extend .size-xl-12;
      }
    }
  }
}

.customer-account-forgotpassword,
.customer-account-changeforgotten{

  .main-content {
    @extend .page-content;
    @extend .width-limited;
    margin-bottom: 100px;
    .main-row {
      @extend .row;
      .page-title {
        margin-top: 20px;

        @extend .column;

        @extend .offset-xs-by-half;
        @extend .size-xs-11;

        @extend .offset-l-by-1;
        @extend .size-l-10;

        @extend .offset-xl-by-0;
        @extend .size-xl-12;

      }
      #form-validate {

        margin-top: 20px;

        @extend .column;

        @extend .offset-xs-by-half;
        @extend .size-xs-11;

        @extend .offset-l-by-1;
        @extend .size-l-10;

        @extend .offset-xl-by-0;
        @extend .size-xl-12;

        h2 {
          @include ui-font-style();
          font-size: 18px;
          text-transform: uppercase;
          font-weight: normal;
        }

        .required:not(label) {
          display: none;
        }
        label:after {
          display:none;
        }

      }
    }
  }

}

.customer-account-resetpassword {
  .main-content {
    @extend .page-content;
    @extend .width-limited;
    margin-bottom: 100px;
    .main-row {
      @extend .row;
      .page-title {
        margin-top: 20px;

        @extend .column;

        @extend .offset-xs-by-half;
        @extend .size-xs-11;

        @extend .offset-l-by-1;
        @extend .size-l-10;

        @extend .offset-xl-by-0;
        @extend .size-xl-12;

      }
      #form-validate {
        margin-top: 20px;

        @extend .column;

        @extend .offset-xs-by-half;
        @extend .size-xs-11;

        @extend .offset-m-by-1;
        @extend .size-m-5;

        @extend .offset-l-by-1;
        @extend .size-l-4;

        @extend .offset-xl-by-0;
        @extend .size-xl-4;

        .fieldset, h2 {
          font-size: 18px;
        }

      }
    }
  }
}

@include respond-to(m-l-xl) {
  .customer-account-index,.customer-account {
    .main-content{
      .col-left {
        &.sidebar {
          margin-top: inherit;
        }
      }
    }
  }
}


@include respond-to(xs-s-m){

  .customer-account {

    .main-container {

      margin-top: -50px;

      .col-main {

        margin-top: 20px;

      }

      .col-left.sidebar {

        .block {

          padding-bottom: inherit;
          background-color: inherit;
          border-color: $border-color;

          .block-title, .block-content {

            border: none;

          }

          .block-title {
            strong {
              margin-bottom: 10px;
              &:after {
                border-left: 4px solid $color-default;
              }
            }

            &.active {
              strong {
                margin-bottom: inherit;
                &:after {
                  border-top: 4px solid $color-default;
                  border-left: 4px solid transparent;
                }
              }
            }
          }

          .block-title, .block-title.active {
            strong {
              border: none;
              background-color: inherit;
            }
          }

        }

      }

    }

  }


}

@include respond-to(l-xl){
  .customer-account-forgotpassword,
  .customer-account-changeforgotten{
    .main-content {
      .main-row {
        .page-title {
          h1 {
           margin-left: 30px;
          }
        }
      }
    }
  }
}


.customer-account-index, .customer-account {

  .main {
    .page-title {
      margin-bottom: 20px;
    }
  }
}

.button, .cart-table .product-cart-actions .button, #co-shipping-method-form .buttons-set .button, .footer .button {
  background-color: $color-default;
}

.my-account {
  .dashboard {
    .data-table {
      margin-top: 0;

      thead {
        @include ui-font-style();
      }
    }
  }
  .sidebar {
    .block-account {
      .block-content {
        ul {
          li {
            a {
              strong {
                @include light-font-style();
              }
            }
          }
        }
      }
    }
  }
}


.dashboard .col2-set .col-1 .box-title h2, .dashboard .col2-set .col-1 .box-title h3,
.dashboard .col2-set .col-2 .box-title h2, .dashboard .col2-set .col-2 .box-title h3, .form-list {
  font-weight: normal;
}

