.category-products, .helmet-category-teaser {
  .custom-teaser {

    position: relative;

    $ease: cubic-bezier(.24, 0, .06, 1.01);

    .teaser-image-container {
      position: absolute;
      overflow: hidden;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      .teaser-image {
        transition: transform 0.5s $ease;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }

    .teaser-content {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 20px;

      .teaser-topline {
        text-transform: uppercase;
        display: block;
        margin-bottom: -12px;
        position: relative;
        @include ui-font-style();
        color: white;
      }

      .teaser-headline {

        display: block;
        @include bold-font-style();
        color: white;
        font-size: 34px;
        z-index: 1;
        line-height: 1;
        vertical-align: bottom;
        position: relative;
        margin-top: 14px;

      }

      .teaser-button {
        position: relative;
        line-height: 18px;
        color: white;
        border: 1px solid white;
        border-radius: 3px;
        @include ui-font-style();
        text-transform: uppercase;
        padding: 12px 24px;
        margin-top: 10px;
        margin-bottom: 4px;
        display: inline-block;
        background-color: transparent;
      }

    }

    &:hover {
      .teaser-image {
        transform: scale(1.025);
      }
    }

  }
}


@include respond-to(xs) {
  .category-products, .helmet-category-teaser {
    .custom-teaser {
      .teaser-content {
        .teaser-headline {
          font-size: 12px;
        }
        .teaser-topline {
          font-size: 7px;
        }
        .teaser-button {
          font-size: 9px;
          padding: 4px 12px;
          margin-top: 25px;
          margin-bottom: 0;
        }
      }
    }
  }
}