#category-call-to-action {

  position: relative;

  @include background-size(cover);
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  padding-bottom: 58.2%;

  margin-bottom: -110px;

  .button-container {
    position: absolute;
    bottom: 0px;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    pointer-events: all;

    .call-to-action-button {
      display: inline-block;
      pointer-events: all;
      @include base-border-radius();
      padding: 12px 24px;
    }

  }

}

