.checkout-cart-index {

  .main-content {

    @extend .page-content;
    @extend .width-limited;

    margin-bottom: 100px;

    .cart {

      @extend .row;

      .page-title, ul.messages {

        margin-top: 20px;
        @extend .column;
        @extend .offset-xs-by-half;
        @extend .size-xs-11;
        @extend .offset-l-by-half;
        @extend .size-l-11;
        @extend .offset-xl-by-0;
        @extend .size-xl-12;
      }

      .cart-product-list {

        #shopping-cart-table {
          width: 100%;
        }

        @extend .column;
        @extend .offset-xs-by-half;
        @extend .size-xs-11;
        @extend .offset-l-by-half;
        @extend .size-l-7;
        @extend .offset-xl-by-0;
        @extend .size-xl-9;

      }

      .cart-sidebar {

        @extend .column;
        @extend .offset-xs-by-half;
        @extend .size-xs-11;
        @extend .offset-l-by-0;
        @extend .size-l-4;
        @extend .offset-xl-by-0;
        @extend .size-xl-3;

      }


    }

  }

  /* if cart ist empty */

  .main-row {

    .page-title {

      margin-top: 50px;
      @extend .column;
      @extend .offset-xs-by-half;
      @extend .size-xs-11;
      @extend .offset-l-by-half;
      @extend .size-l-11;
      @extend .offset-xl-by-0;
      @extend .size-xl-12;

      h1 {
        margin-left: inherit;
      }
    }

    .cart-empty {

      @extend .column;
      @extend .offset-xs-by-1;
      @extend .size-xs-10;
      @extend .offset-l-by-1;
      @extend .size-l-10;
      @extend .offset-xl-by-0;
      @extend .size-xl-12;

    }

  }

  .page-title {

    margin-top: 20px;
    @extend .column;
    @extend .offset-xs-by-half;
    @extend .size-xs-11;
    @extend .offset-l-by-half;
    @extend .size-l-11;
    @extend .offset-xl-by-0;
    @extend .size-xl-12;
  }

}

@include respond-to(xs) {

  #shopping-cart-table {

    tr {
      td {
        padding-top: 10px;

      button.btn-update {
        position: absolute;
        bottom: 1px;
        right: 5px;

      }

      }
      .product-cart-info {
        padding-bottom: inherit;
        h2.product-name {
          max-width: 200px;
        }
      }
      .product-cart-actions {
        text-align: left;
        padding-left: 15px;
      }
    }

  }

}

@include respond-to(xs-s) {

  #shopping-cart-table {

    .item-options.accordion {

      margin-left: inherit;

    }
  }

}

@include respond-to(xl) {

  #shopping-cart-table {

    tr {
      td.product-cart-price,
      td.product-cart-total,
      td.product-cart-remove,
      td.product-cart-info{
        padding-top: 6em;



      }
      td.product-cart-actions {
        padding-top: 5em;
      }

    }

  }

}



.page-title {
  border-bottom: none;
  h1 {
    @include morningstar-font-style();
    text-transform: none;
    font-size: 36px;
    //line-height: 36px;
    color: $color-default;
    border-bottom: none;
    line-height: inherit;
    margin: inherit;
    padding: inherit;
  }
}
.cart {

  .page-title {
    border-bottom: none;
  }

  .item-options {
    
    &.accordion {

      padding-left: inherit;
      margin-left: inherit;
      min-width: 200px;

      .helmadelogo-details {
        display: none;
      }

    }
  }
  .messages {

    margin-bottom: 20px;

    .success-msg {

     // border-top: 1px solid $border-color;

      ul {
        li {
          //background: transparent;
          //background-color: $tr-bg-color;
          //border-left: 5px solid $color-default;
          //border: none;

          &:before {
           //border-left: 6px solid $color-default;
          //  border: none;
          }

          span {
            //@include ui-font-style();
            //color: $color-grey-medium;
          }

        }


      }
    }

  }

  a {
    @include ui-font-style();
    text-transform: uppercase !important;
    font-size: 12px;
  }

  h2.product-name {
    a {
      font-size: 15px;
      &:hover {
        color: $color-default !important;
      }
    }
  }

  .cart-table {
    float: left;
    width: 70%;
    tr {
      border-color: $border-color;
    }
  }



  .cart-sidebar {

    #discount-coupon-form label, .cart .giftcard label, h2, .h2 {
      @include ui-font-style();

    }

    // background-color: $tr-bg-color;
    display: inline-block;
    float: left;
    width: 30%;
    padding-left: 20px;

    .button-wrapper {
      span {
        color: $color-default;

      }
    }

    span {
      @include ui-font-style();
      text-transform: uppercase;
      font-size: 13px;
      text-decoration: none;

     &.price {
       @include light-font-style();
       font-size: 13px;
     }

    }

    .cart-forms {
      border-top: 1px solid $border-color;

    }

    .cart-forms, .cart-totals-wrapper {
      background-color: $tr-bg-color;
      width: 100%;
      padding-left: inherit;
      padding-right: 20px;

    }

    .discount, .shipping, .cart-totals {
      background-color: inherit;
      border: none;
    }

    #discount-coupon-form, .shipping {

      position: relative;
      padding-bottom: 1px;
      margin-bottom: 20px;
      //@include afterBox();

      &:after {
        //border: 1px solid green;
        content: "";
        position: absolute;
        bottom:0;
        left: -5px;
        right: -5px;
        height:  1px;
        background-color: $border-color;
      }

    }

    .shipping {
      padding-bottom: 35px;
    }

    #shopping-cart-totals-table {

      position: relative;

      @include ui-font-style();

      tbody, tfoot {

        border: none;

        tr {

          td {

            padding-left: 0;
            padding-right: 0;

            &:first-of-type {
              text-align: left;
            }

          }

        }

      }


      strong {

        @include ui-font-style();

      }

      tbody {

        .summary-total {

          .summary-collapse {

            &:before {
              border-top: 7px solid $color-default;
              margin-bottom: 2px;
              @include transform(scaleX(0.7));
              margin-left: -2px;
              margin-right: 3px;
            }
          }

          &.show-details {

            .summary-collapse {
              &:before {
                border-top: none;
                margin-bottom: 1px;
                border-bottom: 7px solid $color-default;
              }
            }

          }

        }

        .summary-details, .summary-collapse {
          @include light-font-style();
          font-size: 13px;
          text-transform: none;

        }

      }

    }

  }

  table {

    border-collapse: collapse;

    thead {

      tr, th {
        //border-color: #fafafa;
        @include ui-font-style();
        background-color: $tr-bg-color;
        border-top: solid 1px $border-color;
        border-bottom: none;

        span.nobr {
          &.first {
            padding-left: 20px;
          }
        }

      }

    }

    tbody {

      &tr {
        border-bottom: solid 1px $border-color;
      }

      td.product-cart-info {
        padding-top: 40px;
        padding-bottom: 20px;
      }

      td.product-cart-image {
        padding-top: 20px;
        padding-left: 20px;
        width: 20%;

      }

      td.product-cart-actions {
        padding-top: 35px;
        min-width: 80px;
        position: relative;
        text-align: center;
        padding-left: inherit;
      }

      td.product-cart-price,
      td.product-cart-total,
      td.product-cart-remove {
        padding-top: 50px;
      }

      td.product-cart-remove {
        padding-right: 20px;
        a {
          &.btn-remove {
            border: none;
            background: transparent;
            right: 0px;
            font-size: 30px;
            //          display: inline-block;
            margin-top: -5px;
            width: inherit;
            opacity: 0.5;


            &:hover {
              background: transparent;
              opacity: 1;
              &:before {
                color: $color-default;
              }
            }

            &:before {
              color: $color-grey-medium;
            }

            &:after {
              content: " ";
            }

          }
        }
      }

      .product-name {

        @include bold-font-style();
        font-size: 13px;
        text-transform: inherit;

      }

      .product-cart-image {

        a {
          border: none;
        }
      }

      .input-text {

        &.qty {
          width: 40px;
        //margin-right: 30px;
        }

      }

      button.btn-update {

        //  float:left;
        border: none;
        background: transparent;
        right: 0px;
        font-size: 30px;
        position: relative;
        display: inline-block;

        &:hover {
          background: transparent;
          &:before {
            color: $color-default;
          }
        }

        &:before {
          color: $color-grey-medium;
          margin: inherit;
        }

      }

    }

    tfoot {

      tr {
        border: inherit;

      }

      .button2 {

        &:hover {
          color: $color-default;
        }

        span {
          @include ui-font-style();
          text-transform: uppercase;
          font-size: 12px;
          color: $color-default;
          text-decoration: none;

        }

      }

    }

    td {
      & a {
        //  @include copy-font-style();
        text-transform: none;
        // line-height: 35px;
        &:hover {
          text-decoration: none;
        }
      }

    }

  }

}

.cart .cart-totals table tfoot strong span, .cart .cart-totals table tfoot span.price {

  @include light-font-style();
  font-size: 28px;
  text-transform: none;

}

.cart .cart-sidebar .button,.cart .cart-sidebar  .cart-table .product-cart-actions .button,.cart .cart-sidebar  #co-shipping-method-form .buttons-set .button,.cart .cart-sidebar  .footer .button {

  background-color: $color-default;

}

.cart-empty {
  @include ui-font-style();
  color: $color-grey-medium;
  text-transform: none;

  a {
    &:hover{
      text-decoration: none;
    }
  }
}
