.category {

  top: -75px;
  position: relative;

  .category-header-bg {
    height: 720px;
    background-size: cover;
    background-position: 50% 50%;
    text-align: center;
    position: relative;
  }

  .category-products {
    margin-top: -25px;
    clear: both;
  }

  .category-header-content {

    position: relative;
    overflow: hidden;
    top: 0px;
    height: 720px;

    left: 0;
    right: 0;
    .intro-overlay {

      top: 50%;

      img {

        width: 100%;
        margin-top: -20px;

      }

      h1{
        color: #fff;
        font-size: 18px;
        font-family: $helvetica-bold-condensed;
        text-align: center;
        margin: -29px 0 15px 0;
      }

    }

    .category-description {
      //margin-top: 40px;
      color: #fff;
      font-size: 18px;
      text-align: center;

      p {

        color: #fff;

      }

      strong {
        @include bold-font-style();
      }

    }

    &.category-header-content-image-text{

      .intro-overlay {

        top: 25%;

        .intro-overlay-image-text-actions{
          text-align: center;

          .cta_header_button{
            display: inline-block;
            pointer-events: all;
            @include base-border-radius();
            padding: 12px 24px;
            z-index: 2;
            margin: 45px 0 1em 0;
          }

        }


      }



    }
  }
}

.motto-column {
  overflow: hidden !important;
}

.toolbar{
  display: none;
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

.ias-spinner{
  width: 70px;
  height: 135px;
  margin: 45px auto 50px auto;

  img{
    width: 70px;
  }
}

.ias-trigger-next {

  margin-top: 50px;
  height: 105px;

  a {

    font-family: $helvetica-bold-condensed;
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 35px;
    color: $c-dark-gray;
    border: 2px solid $color-default;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 15px 18px;

    &:hover{
      color: $color-default;
    }
  }
}

@include respond-to(l-xl) {
  .category {
    .category-header-content {
      top: 40px;
    }
  }
}

@include respond-to(xs) {
  .category {
    .category-header-content {
      .category-description {
        font-size: 15px;
        // margin-top: 30px;
      }
    }
  }
  .catalog-category-view {
    #featured_slider {
      margin-bottom: 120px;
    }
  }
  .catalog-category-view {
    .category-products {
      .item, .custom-teaser {
        .gradient-container{
          right: 1px;
          bottom: 1px;
        }
        margin-top: 0;
        .white-box, .teaser-image-container {
          $border: 1px solid rgb(223, 223, 223);
          border-bottom: $border;
          border-right: $border;
        }
        .white-box {
          right: 1px;
          bottom: 1px;
          top: 1px;
          left: 1px;
        }
        .teaser-image-container {

        }
        .content-box {
          .customize-badge {
            top: 15px;
            font-size: 7px;
            line-height: 11px;
            &:after {
              width: 11px;
              height: 11px;
              margin-left: 4px;
            }
          }
          .product-image {
            img {
              width: 80%;
            }
          }
          .product-info {
            bottom: 20px;
            .product-manufacturer {
              margin-bottom: -10px;
              font-size: 7px;
            }
            &:before {
              bottom: -10px;
              left: 10px;
              top: -6px;
            }
            .product-name {
              span {
                font-size: 12px;
                line-height: 1.2em;
                display: inline-block;
              }
              vertical-align: baseline;
              //line-height: 0.6 !important;
            }
            .price-and-button {
              .product-price {
                margin-top: 15px;
                font-size: 12px !important;
              }
              .buy-button {
                font-size: 9px;
                padding: 4px 12px;
              }
            }

          }
        }
      }
      h3.morningstar {
        line-height: 1.2;
      }

    }
  }
}

.catalog-catagory-base-helmets {
  .category {
    top: 0;
  }
}

.catalog-category-view {
  #helmade-homepage {

    #magazine-teaser {

      margin-top: 400px;
      margin-bottom: 50px;

      &.homepage-category-call-to-action {
        h2 {
          font-size: 40px;
          line-height: 50px;
          top: -100px;
        }
      }
    }

    #seo-page-text{
      top: 135px;
      margin-bottom: 290px;
    }
  }
}

.category-header-content{
  &.category-header-content-image-text{
    .intro-loop{
      position:absolute;
      top:0;
      right:0;
      bottom:0;
      left:0;
      background-position:50% 50%;
      background-size: cover;
    }
  }
}

