.checkout-onepage-index {

  .main-container {

    margin-top: 30px;

    @extend .page-content;
    @extend .width-limited;

    margin-bottom: 100px;

    .main {

      @extend .row;

      .block-title strong {  // kills the blue link color
        color: inherit;
        font-weight: normal;
      }

      .col-main{

        //margin-top: 20px;
        @extend .column;
        @extend .offset-xs-by-half;
        @extend .size-xs-11;
        @extend .offset-l-by-half;
        @extend .size-l-8;
        @extend .offset-xl-by-0;
        @extend .size-xl-9;

        h3 {
          @include ui-font-style();
          font-size: 18px;
          text-transform: uppercase;
          font-weight: normal;
          color: $color-grey;
        }
      }

      .col-right.sidebar {

        @extend .column;
        @extend .offset-xs-by-half;
        @extend .size-xs-11;
        @extend .offset-l-by-0;
        @extend .size-l-3;
        @extend .offset-xl-by-0;
        @extend .size-xl-3;

      }

    }

  }

  .footer-container {
    .footer{
      .newsletter-container {
        display: none;
      }
    }
  }

}

.checkout-onepage-index:not(.opc-has-progressed-from-login) {

  .main-container {
    .main {
      .col-main {
        .step-title {
          display: none;
        }
      }
    }
  }

}

@include respond-to(l) {

    .checkout-onepage-index {
      .col-right {
        display: inherit;
      }
    }
  }


.opc .section .step-title .number, .opc .section.allow.active .step-title .number, .no-touch .opc .section.allow:hover .step-title .number {
  background-color: $color-default;
  @include border-radius(100px);
}

.opc {
  .section {
    .step-title {
      border-top: none;
      border-bottom: none;
      border-bottom: 1px solid $border-color;
    }
  }
  .step-title{
    @include ui-font-style();
  }
  h2 {
    @include ui-font-style();
    font-size: 18px;
  }


  .section{
    &.active, &.allow {
      .step-title {
        border: none;

        h2 {
          color: $color-grey;
        }
        &:hover {
          h2 {
            color: $color-default;
          }
        }
      }
    }
    &.active {
      .step-title {
        background-color: $tr-bg-color;
      }
    }
  }


  label {
    @include light-font-style();
    font-size: 13px;
  }

  span {
    @include ui-font-style();
    text-transform: uppercase;
    font-size: 13px;
    text-decoration: none;

    &.price {
      @include light-font-style();
      font-size: 13px;
    }

  }

  #checkout-review-table-wrapper {

    border: none;

    table {
      tbody {
        tr {
          background-color: inherit;
          td {
            border-bottom: 1px solid $border-color;
          }
        }
      }
      thead {
        tr {
          th {
            background-color: $tr-bg-color;
            border-bottom: none;
            border-top: 1px solid $border-color;
            @include ui-font-style();
          }
        }
      }
      tfoot {
        tr {
          background-color: $tr-bg-color !important;
          td {
            @include ui-font-style();
          }

        }
      }
    }

  }

  #checkout-review-submit {
    border: none;
    background-color: $tr-bg-color;
    float: right;
  }

  #checkout-review-table {
  .summary-total {

    .summary-collapse {

      &:before {
        border-top: 7px solid $color-default;
        margin-bottom: 2px;
        @include transform(scaleX(0.7));
        margin-left: -2px;
        margin-right: 3px;
      }
    }

    &.show-details {

      .summary-collapse {
        &:before {
          border-top: none;
          margin-bottom: 1px;
          border-bottom: 7px solid $color-default;
        }
      }

    }

  }
  }

}

.block-progress dd address {
  @include light-font-style();
  text-transform: none;
  font-style: normal;
  font-size: 13px;
}

.opc-block-progress dt.complete a {
  font-size: 10px;
}

.opc-block-progress dt.complete .separator {
  display: none;
}

.opc .section.allow .step-title .number {
  background-color: $color-default-light;
}

.sidebar {
  margin-top: 95px;

  .block {
    border-left: none;
    border-top: 1px solid $border-color;
    background-color: $tr-bg-color;
    padding-top: 10px;
    padding-bottom: 30px;
  }
  span {
    @include ui-font-style();
    font-size: 15px;
    text-transform: uppercase;
  }
  dt {
    @include light-font-style();
    font-size: 18px;
    text-transform: none;
  }
}

.checkout-onepage-index, .opc {


  input[type="radio"], input[type="checkbox"] {

    &:focus {
      outline: 1px;
      outline-color: $color-default;
    }

    display: none;

    &:checked + label {
      &:after {
        width: 30px;
        @include transition(width 1s $ease-strong);
      }
    }

    &+label{

      cursor: pointer;
      margin-bottom: 15px;
      margin-left: 0px;
      padding-left: 30px !important;
      padding-top: 5px !important;
      background-color: transparent !important;
      font-size: 13px;
      width: 100%;

      @include beforeBox();

      @include afterBox();
      &:after {
        @include icon-check-pure();
        font-size: 21px;
        left: -6px;
        top: 5px;
        //width: 20px;
        color: $color-default;
        text-align: left;
        width: 0px;
        overflow: hidden;
        @include transition(width 0.01s $ease-strong);
      }

      &:before {
        //background-color: red;
        width: 19px;
        height: 19px;
        margin-top: 6px;
        border: 1px solid lighten($color-grey-medium, 20);
        left: 0px;
        margin-left: 0;
        @include border-radius(20px);
      }

      &:checked {

        background-color: transparent;

      }
    }

  }

  input[type="checkbox"] {
    &+label {
      &:before {
        @include border-radius(2px);
      }
    }
  }

  input[type="radio"] {
    &+label {
      margin-bottom: 0px;
    }
  }

}

#co-shipping-method-form .buttons-set .button {
  background: $color-default;
}

.checkout-onepage-success {

  .col-main {
    @include user-select(inherit);
    @extend .page-content;
    @extend .width-limited;
    .main-content {
      @extend .row;
      .main-row {

        @extend .column;
        @extend .size-xs-11;
        @extend .offset-xs-by-half;
        @extend .size-m-12;
        @extend .offset-m-by-0;
        @extend .size-l-12;
        @extend .offset-l-by-0;
        @extend .size-xl-12;
        @extend .offset-xl-by-0;

        .page-title {
          h1 {
            font-size: 46px;
          }
        }

        h2 {
          margin-top: -10px;
          text-transform: none;
        }

        .buttons-set {
          border-top: none;
          margin-top: 10px;
          margin-bottom: 130px;
        }

        p {
          font-size: 15px;
        }

      }

    }
  }
  .check-out-success-title{
    width: 35%;
    margin: auto;
    color: $color-grey;
    h1{
      padding-top: 80px;
      padding-bottom: 10px;
    }
  }
  .check-out-success-check-icon{
    font-size: 500%;
    color: $color-default;
  }
  .check-out-success-subtitle{
    width: 25%;
    font-size: 28px;
    margin: auto;
    color: $color-grey;
  }
  .check-out-success-order-number{
    width: 30%;
    padding-top: 40px;
    margin: auto;
    color: $color-grey;
    p {
      font-size: 18px !important;
      padding-bottom: 20px;
      a{
        color: $color-grey;
      }
    };
    .order-number{
      width: 70%;
      margin: auto;
      padding-bottom: 0px;
    }
    .number{
      font-weight: bold;
      padding-bottom: 20px;
    }
  }
}