#configurator-background {

  @include beforeBox();
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;

  &:before {
    background-color: $color-default;
    opacity: 0.4;
    @include transition(background-color 1s ease-out);
    background-image: url('../images/white-gradient-big-strong.png');
    background-repeat: repeat-y;
    background-size: 100%;
    @include transform(rotate(4deg));
    margin: 0 -20% -50% -20%;
    top: 60%;
    outline: 1px solid transparent;
    -webkit-backface-visibility: hidden;
  }

  .loader {
    height: 6px;
    top: 60%;
    //background-color: red;
    @include transform(rotate(4deg));
    position: absolute;
    left: -10px;
    right: -10px;
    @include transition(opacity 1s);

    &.invisible {
      visibility: visible;
      opacity: 0;
    }

    .loader-line {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: "";
      background-color: $color-default;
      @include transition(transform 0.6s);
      @include transform-origin(0%);
      @include transform(scaleX(0));
      height: 6px;
    }

  }

}

#mobile-price-box {

  text-align: center;

  position: relative;
  margin-top: 30px;
  padding-bottom: 20px;

  .add-to-cart-buttons {
    float: none;
    margin: 0;
    //margin-top: 10px;
    button {
      @include base-border-radius();
      margin: 0;
    }
  }

  .price {
    @include light-font-style();
    font-size: 28px;
    vertical-align: top;
    margin-top: 2px;
  }

  .price-product-options{
    display: block;
    font-family: $helvetica-light;
    font-size: 13px;

    span{

      display: block;
      line-height: 1.3em;

      span{
        display: inline-block;
        line-height: normal;

        &:last-child{
          margin-bottom: 0;
        }
      }

      strong{
        font-family: $helvetica-bold-condensed;
        text-transform: uppercase;
        margin-right: 10px;
      }

      &:last-child{
        margin-bottom: 10px;
      }

    }
  }

  .price, .add-to-cart-buttons {
    display: inline-block;
    line-height: 35px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .price-extras {
    margin-top: 10px;

    .tax-details{
      display: block;

      a {
        pointer-events: all;

        &:hover{
          color: $color-default;
          text-decoration: none;
        }
      }

    }
  }

}

#nativeGLLoader {
  display: none;
}

#configurator {

  .producer-logo-title {
    @include ui-font-style();
    margin-top: 10px;
  }

  .producer-logo-radio{

  }



  z-index: 2;
  width: 100%;
  margin-bottom: 50px;
  position: relative;
  line-height: 1.5em;

  .instructions {
    padding-bottom: 10px;
  }

  button.button {
    @include border-radius(2px);
    background-color: $color-default;
  }

  .helmet-view {

    width: 100%;
    position: relative;

    text-align: center;

    .page-content {
      line-height: 0;
    }

    .canvas-content {
      line-height: 0;
    }

    canvas {
      display: inline-block;
      width: 100%;
      z-index: 3;
    }

  }

  .ui-view {
    position: relative;
    width: 100%;
    //height: 178px;
    background-color: white;

    .finish-view {
      @include not-selectable;
      position: absolute;
      top: -50px;
      height: 55px;
      left: 50%;
      margin-left: -92px;

      .tooltip-container {
        top: -30px;
      }

      .finish-view-main {
        position: relative;
        //left: -50%;
        cursor: pointer;

        &.disabled {
          pointer-events: none;
          cursor: default;
          opacity: 0.4;
        }

        div {
          display: inline-block;
          vertical-align: top;

          &.label {
            @include ui-font-style;
            width: 52px;
            margin: 0 7px;
            &:first-of-type {
              text-align: right;
            }
          }
        }

        .toggle {
          width: 44px;
          height: 18px;
          background-color: $color-default;
          border-radius: 10px;
          margin-top: 2px;

          &:after {
            border-radius: 10px;
          }

          .toggle-indicator {
            position: absolute;
            margin: 3px 4px 3px 4px;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: white;

            -webkit-transition: right 1s;
            transition: right 1s;

            &.active {
              right: 0;

              -webkit-transition: right 1s;
              transition: right 1s;
            }

          }
        }
      }
    }

    .debug {
      position: absolute;
      top: 0;
      left: 0;
      display: none;
    }

    .panel-row {
      border-top: solid 1px #e9e9e9;
      .panel-content {
        padding-left: 0;
        padding-right: 0;
      }
    }

    .panel-container {
      position: relative;
      width: 100%;
      //overflow: hidden;
      //height: 127px;
      // border-bottom: solid 1px #e9e9e9;
    }

    label {
      @include ui-font-style();
      font-size: 14px;
      width: 100%;
      position: relative;
    }

    /* remove standard-styles */
    input {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border: none;
      border-radius: 0;
      font-size: 1em;
      width: 100%
    }

    input[type=text] {
      @include ui-font-style();

      border: 1px solid #e3e3e3;
      border-radius: 2px;
    }

    .small {
      @include copy-font-style;
      font-size: 10px;
      line-height: 14px;
    }

    /* graceful degradation for ie8 */
    input[type='radio'] {
      width: auto;
      float: left;
      margin-right: .75em;
      background: transparent;
      height: 0;
      width: 0;
      line-height: 0;
      border: 0 !important;
      box-shadow:none;
      @include border-radius(0px);
      border-width: 0 !important;
      box-sizing: content-box;
      position: absolute;
    }

    input[type='radio']:checked,
    input[type='radio']:not(:checked) {
      background: transparent;
      position: relative;
      visibility: hidden;
      margin: 0;
      padding: 0;
      line-height: 0;
      border: 0 !important;
      box-shadow:none;
      @include border-radius(0px);
      border-width: 0 !important;
      box-sizing: content-box;
      position: absolute;
    }

    input[type='radio'] + label {
      cursor: pointer;
    }

    input[type='radio']:checked + label::after,
    input[type='radio']:not(:checked) + label::after {
      content: ' ';
      display: inline;
      float: right;
      text-align: right;
      width: 17px;
      height: 17px;
      position: relative;
      top: 4px;
      border: 2px solid #EAEAEA;
      background: white;
      margin: 0;
    }

    input[type=radio]:checked + label::after,
    input[type=radio]:not(:checked) + label::after {
      border-radius: 50%;
    }

    input[type='radio']:hover + label::after {
      background: #ddd;
      box-shadow: inset 0 0 0 3px white;
    }

    input[type='radio']:checked + label::after {
      background-color: #b5d9b5;
      box-shadow: inset 0 0 0 3px white;
    }
  }

  .basic-info-view {
    position: absolute;
    padding-top: 50px;
    left: 0;
    right: 0;
    top: 0;
    pointer-events: none;

    h1 {
      font-family: $copy-font;
      font-size: 24px;
      line-height: 27px;
      color: $color-grey;
      text-transform: none;
      margin-bottom: 0.2em;
      max-width: 500px;
      padding-left: 50px;
    }

    h2 {
      @include label-font-style;
      display: none;

      .ui {
        @include ui-font-style;
      }
    }

    img {
      display: block;
      margin-top: 20px;
      width: 75px;
      margin-left: 50px;
    }

    .back-link{

      margin-bottom: 0;
      font-family: $helvetica-bold-condensed;
      font-size: 13px;
      font-style: normal;
      font-weight: normal;
      text-transform: uppercase;
      letter-spacing: 0;
      line-height: 16px;
      position: relative;
      padding-left: 41px;
      padding-top: 28px;
      z-index: 9999;

      a{

        .icon{
          display: inline-block;
          font-size: 15px;
          line-height: 16px;
        }

        text-decoration: underline;
        pointer-events: all;
      }
    }
  }

  .config-debug {
    position: absolute;
    top: 0px;
  }

  @import "configurator/pager";
  @import "configurator/panel";
  @import "configurator/signature-panel";
  @import "configurator/color-panel";
  @import "configurator/size-panel";
  @import "configurator/price-box";
  @import "configurator/fitting-guide";
  @import "configurator/visor-panel";
  @import "configurator/number-panel";
}


@media only screen and (max-width: 1440px) and (min-width: 1025px) and (max-height: 1000px){
  #configurator {
    .fitting-guide{
      .text{
       h3{
         margin-top: 5%;
       }
      }

      .icon{
        top: 10px;
      }
    }


  }
}


@include respond-to(xl) {
  #configurator {
    .price-container {
      top: 28%;
    }
    .color-panel, .signature-panel {
      .option.flex {
        text-align: center;
        .option-container {
          display: inline-block;
        }
      }
    }
    .option-spacer {
      width: 310px;
    }
  }
}

@include respond-to(l) {
  #configurator {
    .price-container {
      top: 25%;
    }
  }
}

@include respond-to(l-xl) {
  #configurator {
    .instructions {
      padding-left: 32px;
    }
    .price-container {
      .price-box .price {
        display: block;
        margin-bottom: 15px;
        margin-right: 0;
      }
    }
  }
}

@include respond-to(m-l) {
  #configurator {
    .signature-panel .color-selector {
      min-width: 0;
    }
  }
}

@include respond-to(m) {
  #configurator {
    .signature-panel .name-selector {
      width: 240px;
      padding-left: 22px;
      input[type=text] {
        width: 190px;
      }
    }
  }
}

@include respond-to(xs-s-m) {
  #configurator {
    .helmet-view{
        margin-top: -40px;
    }
    .pager-container {
      height: 90px;
      .instructions {
        text-align: center;
        height: 35px;
        @include transform(translateY(40px));
      }
      .buttons {
        @include transform(translateY(-34px));
      }
    }
    .basic-info-view, .price-container {
      display: none;
    }

    .fitting-guide {
      .fitting-content {
        background-color: rgba(255,255,255,1);
        height: auto;
        padding-bottom: 80px;
        .fitting-row {
          .fitting-column {
            &.image {
              margin-top: 10%;
              height: 350px;
              background-position: 50%;
              background-size: contain;
            }
          }
          .text {
            h3 {
              margin: 0;
              left: 50%;
              width: 55%;
              padding-top: 30%;
              margin-top: -20%;
            }
            p {
              margin: 0;
              max-width: 100%;
            }
          }
        }
      }
    }
  }
}

@include respond-to(xs-s) {
  #configurator {

    .producer-logo-title {
      display: block;
      line-height: 21px;
      margin-bottom: 10px;
      border-top: solid 1px #e9e9e9;
      padding-top: 18px;
      margin-top: 13px;
    }

    .name-selector{
      fieldset {
        display: block;
        text-align: center;
        margin-bottom: 6px;
        .producer-logo-radio {
          display: inline-block;
          float: none;
          margin: 0 7px;
          label {
            padding-right: 0;
            line-height: 18px;
          }
        }
      }
    }

    .panel-row {
      .panel-content {
        .panel-container {
          .panel {
            height: auto;
            display: inline-block;
            width: 100%;
            text-align: center;
            clear: both;
            font-size: 0;
            line-height: 0;
            &.hidden {
              display: none;
            }
            .option {
              padding-left: 0;
              padding-right: 0;
              margin-left: 0;
              margin-right: 0;
              display: inline-block;
              float: none;
              width: 100%;
              height: auto;
              min-width: 0;
              border-bottom: solid 1px #e9e9e9;

              &:last-of-type {
                border: none;
              }

              &.visor-color-selector {
                padding: 14px 10px 16px;
                .color-radio {
                  label {
                    &:after {
                      top: 0;
                    }
                  }
                }
              }

              &.palette-selector, &.visor-color-selector {
                line-height: 19px;
                fieldset {
                  text-align: center;
                  .palette-radio, .color-radio {
                    width: 90px;
                    margin-left: 20px;
                    margin-right: 20px;
                    margin-top: 8px;
                    float: none;
                    display: inline-block;
                    label {
                      text-align: left;
                    }
                  }
                }
              }

              &.palette-selector {
                fieldset {
                  text-align: left;
                  width: 390px;
                  display: inline-block;
                }
              }

              .slider-button {
                height: 126px;
              }

            }
            &.size-panel {
              .helper {
                line-height: 60px;
                border-top: solid 1px #e9e9e9;
                width: 100%;
              }
              .size-selector-container {
                position: relative;
                .size-selector {
                  width: auto;
                  .size {
                    height: 125px;
                  }
                }
              }
            }
            &.visor-panel {
              .visor-selector {
                .option-container {
                  .visor-tile {
                    height: 126px;
                    p {
                      line-height: 21px;
                    }
                  }
                }
              }
            }

            &.color-panel {
              .option-spacer {
                display: none;
              }
              .color-selector {
                text-align: center;
                border: none;
                .option-container:not(.sliderino) {
                  .option-column {
                    display: inline-block;
                    float: none;
                  }
                }
              }
            }
            &.signature-panel {
              .name-selector {
                padding: 12px 0;
                input {
                  text-align: center;
                }
              }
              .font-selector {
                .option-container {
                  display: inline-block;
                  .slider-button {
                    height: 64px;
                  }
                  .font-tile {
                    height: 64px;
                    img {
                      margin-top: -27px;
                    }
                  }
                }
              }
              .color-selector {
                .option-column {
                  float: none;
                  display: inline-block;
                }
              }
            }
          }
        }
      }
    }

    .ui-view {
      height: auto;

      .finish-view {
        top: -35px;
        .tooltip-container {
          top: -45px;
        }
      }
      .page-content {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}

@include respond-to(xs) {
  #configurator {
      .helmet-view {
        margin-top: -30px;
      }
    .pager-container .buttons .pager-button {
      margin: 0 5px 0;
    }
    .panel-row {
      .panel-content {
        .panel-container {
          .panel {
            .option {
              &.palette-selector {
                fieldset {
                  //width: 260px;
                  //text-align: center;
                  .palette-radio {
                    margin-left: 20px;
                    margin-right: 20px;
                    float: none;
                    display: inline-block;
                    label {
                      text-align: left;
                    }
                  }
                }
              }
              &.palette-selector {
                fieldset {
                  width: 260px;
                }
              }
            }
            &.size-panel {
              .size-selector-container{
                .size-selector{
                  &.option-count-5, &.option-count-6, &.option-count-7, &.option-count-8 {
                    max-width: 210px;
                    .size {
                      &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3) {
                        border-bottom: 1px solid rgba($color-grey, 0.15);
                      }
                      &:nth-of-type(3) {
                        border-right: 1px solid rgba($color-grey, 0.15);
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  #mobile-price-box {
    padding-left: 6px;
    padding-right: 6px;
  }
}

