.global-site-notice {
  background-color: rgba($color-grey,0.7);
  color: #E6E6E6;
  font-size: 11px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;

  .notice-inner {
    background: transparent;
    max-width: $max-page-width;
    padding-left: 6px;
    padding-right: 6px;
    //margin: 0 20px;
    @extend .size-l-10;
    @extend .size-xs-10;
    p {
      padding-top: 0;
    }

  }
  .actions {
    //margin-left: 20px;
    float: right;
    .button {
      position: relative;
    }
  }
}

.cms-index-nocookies, .cms-enable-cookies {

  .col-main {
    margin-top: 20px;
    @extend .page-content;
    @extend .width-limited;

    .main-content {
      @extend .row;

      .main-row {
        @extend .column;
        @extend .offset-xl-by-0;
        @extend .size-xl-12;
        @extend .offset-l-by-half;
        @extend .size-l-11;
        @extend .offset-xs-by-half;
        @extend .size-xs-10;

        .std {
          ul, li, ul li {
            list-style-type: none;
            margin-left: 0;
          }

          img {
            max-width: 100%;
            height: auto;
          }
        }
      }
    }
  }

}