#designline_slider {

  margin-bottom: 105px;

  margin-top: 38px;
  position: relative;

  .image {
    position: relative;
   margin-bottom: 22px;

  }


  .js-slider {

    :focus {
      outline: none;
    }
    margin-top: -38px;
    margin-bottom: 38px;
    position: relative;
    .slick-dots {
      display: none;
    }

    button.slick-arrow {
      position: absolute;
      z-index: 2;
      width: 45px;
      height: 45px;
      background-color: $color-grey;
      opacity: 1;
      top: auto;
      bottom: 0px;

      &.slick-prev {
        left: auto;
        right: 46px;
        &:before {
          left: 11px;
        }
      }

      &.slick-next {
        right: 0;
        &:before {
          left: 12px;
        }
      }

      &:before {
        opacity: 1;
        color: #fff;
        top: 12px;
      }

      &:hover {
        &:before {
          color: $color-default;
        }
      }

    }

  }

  span.designline-slider-name {

      position: absolute;
      bottom: 55px;
      left: 0;
      width: 100%;
      text-align: center;
      z-index: 2;
      @include bold-font-style();
      color: $color-grey;
      font-size: 34px;
      padding: 20px;
      margin-bottom: 15px;
      z-index: 1;

  }

  .button-container {
    position: absolute;
    //bottom: 0px;
    bottom: 40px;
    left: 0;
    right: 0;
    text-align: center;
    pointer-events: all;

    .designline-button {
      display: inline-block;
      pointer-events: all;
      @include base-border-radius();
      padding: 12px 24px;
      z-index: 2;
    }

  }

}

#designline_slider_headline {

  .row {
    text-align: center;
  }

  h2 {

    .line1 {
      margin-left: -50px;
    }

    .line2{
      margin-left: 50px;
    }

  }

}

@include respond-to(xs) {

  #designline_slider {

    .button-container {

      bottom: 10px;

    }
  }
}