#featured_slider {

  margin-bottom: 100px;

  margin-top: 38px;
  position: relative;

  .slick-arrow {
    display: none;
  }

  .featured_container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;


    .featured_image {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 50%;
      @include background-size(contain);
      background-repeat: no-repeat;
      background-position: center center;
    }

    .featured_info {
      position: relative;
      float: right;
      width: 50%;
      padding-right: 5%;

      .featured_manufacturer {
        @include ui-font-style();
        font-size: 15px;
      }

      .featured_name {
        @include thin-font-style();
        font-size: 70px;
        line-height: 1em;
        margin-bottom: 25px;
      }

      .featured_description {
        @include light-font-style();
        font-size: 18px;
        margin-bottom: 30px;
      }

      .featured_price {
        @include thin-font-style();
        font-size: 30px;
        display: inline-block;
        margin-right: 15px;

      }

      .featured_button {

        display: inline-block;
        pointer-events: all;
        @include base-border-radius();
        padding: 12px 24px;
        z-index: 2;
        margin-bottom: 1em;

      }
    }
  }

  .js-slider {

    :focus {
      outline: none;
    }
    margin-top: -38px;
    margin-bottom: 38px;
    position: relative;
    .slick-dots {
      display: none;
      width: auto;
      right: 6%;
    }

    .slick-dots {
      text-align: right;

      li {
        button {
          &:before {
            color: #fff;
          }
        }
        &.slick-active {
          button {
            &:before {
              color: #fff;
            }
          }
        }
      }

    }

  }

}

#featured_slider_headline {

  .row {
    text-align: center;
  }

  h2 {

    .line1 {
      margin-left: -40px;
    }

    .line2 {
      margin-left: 40px;
    }

  }

}

@include respond-to(xs) {

  #featured_slider {

    .featured_container {

      padding: 0;

      .featured_image{
        width: 100%;
        position: relative;
        padding-top: 100%;
      }

      .featured_info {
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 10%;
        .featured_name {
          font-size: 40px;
        }

        .featured_description {
          display: none;
        }

        .featured_price {

          font-size: 25px;

        }
      }
    }
    .js-slider {
      .slick-dots {
        text-align: center;
        bottom: 15px;
        width: 100%;
        left: auto;
        right: auto;
      }
    }
  }
}

@include respond-to(s) {

  #featured_slider {
    .featured_container {
      .featured_info {
        .featured_name {
          font-size: 50px;
        }
      }
    }
    .js-slider {
      .slick-dots {
        bottom: 20px;
        right: 2.5%;
        padding-right: 0;
      }
    }
  }
}

@include respond-to(m) {

  #featured_slider {
    .featured_container {
      .featured_info {
        .featured_name {
          font-size: 60px;
        }
      }
    }
    .js-slider {
      .slick-dots {
        //padding-right: 5%;
        bottom: 20px;
        right: 2.5%;
        padding-right: 0;
      }
    }
  }
}

@include respond-to(l) {

  #featured_slider {
    .js-slider {
      .slick-dots {
        bottom: 75px;
        right: 4%;
      }
    }
  }
}

@include respond-to(xl) {

  #featured_slider {
    .js-slider {
      .slick-dots {
        bottom: 75px;
      }
    }
  }
}