.footer-container {
  max-width: inherit;

  .footer {
    border: none;
    padding: 95px 0 0 0;

    .partner-container {
      .block-title {
        margin: 60px 0 30px;
        border: none;
        & strong, & span {
          @include ui-font-style();
          color: $color-grey-medium;
          line-height: 35px;
        }
      }
      .logo-row {
        //text-align: justify;
        //-ms-text-justify: distribute-all-lines;
        //text-justify: distribute-all-lines;
        padding-bottom: 15px;
        .logo-box {
          vertical-align: top;
          display: inline-block;
          *display: inline;
          width: 11.9%;
          margin-bottom: 30px;
          img {
            width: 75%;
          }
        }
        .stretch {
          width: 100%;
          display: inline-block;
          font-size: 0;
          line-height: 0
        }
      }
    }

    .link-container, .copyright-container {
      background-color: $color-grey-light;
    }

    .links {

      margin-top: 100px;
      //padding: 0;

      .block-title {

        border: none;

        & strong, & span {
          @include ui-font-style();
          color: $color-grey-medium;
          line-height: 35px;
        }

      }

      ul {
        li {

          display: table;

          //width: auto;

          @include underlined();
          &:before {

            @include transition(all 0.5s);
            @include transition-timing-function($ease-strong);

            width: 0px;
            bottom: 11px;
          }

          & a {
            @include copy-font-style();
            text-transform: none;
            line-height: 35px;
            color: $color-grey;
            &:hover {
              color: $color-grey;
              text-decoration: none;
            }
          }

          &:hover {
            &:before {
              width: 100%;
            }
          }

        }
      }

    }

    .contact {

      @include copy-font-style();
      font-size: 15px;
      color: $color-grey;
      text-transform: none;

      &.mail, &.number, &.hours {
        display: block;
        clear: both;
        margin: 0;
      }

      &.mail, &.number {
        @include light-font-style();
        font-size: 17px;
        color: $color-grey;
        clear: both;
      }

      &.mail {
        //margin-bottom: 20px;
        // margin-top: 75px;
        a:hover {
          color: $color-default;
        }
      }

      &.hours {
        clear: both;
        @include label-font-style();
        font-size: 15px;
        color: $color-grey-medium;
      }

      .social {
        // margin-bottom: 50px;
        color: $color-grey-medium;
        width: 100%;
        min-width: 46px;
        display: block;
        position: relative;
        left: -3px;
        top: -10px;
        opacity: 0.8;
        .icon {
          cursor: pointer;;
          font-size: 30px;
          text-align: left;
          line-height: 50px;
          float: left;

          &:before {
            margin-right: 0;
            margin-left: 0;
          }

          &.fb {
            width: 40%;
            min-width: 75px;
            font-size: 44px;
          }

          &.fb, &.pin {
            text-align: left;
          }

          &.insta, &.pinterest, &.pin, &.twitter {
            min-width: 20%;
            min-width: 30px;
          }

          &.pinterest {
            min-width: 28px;
          }

          &:hover {
            color: $color-default;
          }
        }
      }

      span {

        //float: left;

      }

    }
  }

  .copyright {

    border-top: none;
    text-align: left;
    @include label-font-style();
    margin-bottom: 15px;
    color: $color-grey-medium;
    //width: inherit;
    line-height: 35px;

  }

  .term-container {

    text-align: right;

    span {

      margin-left: 10px;
      @include underlined();

      &:before {

        @include transition(all 0.5s);
        @include transition-timing-function($ease-strong);

        width: 0px;
      }

      &:hover {
        &:before {
          width: 100%;
        }
      }
    }

    a {
      @include label-font-style();
      text-transform: none;
      line-height: 35px;
      color: $color-grey-medium;
      &:hover {
        color: $color-grey-medium;
        text-decoration: none;
      }
    }

    &:hover {
      &:before {
        width: 100%;
      }
    }
  }

  .copyright, .term-container {

    line-height: 35px;
    padding-top: 30px;
    padding-bottom: 30px;

    margin-top: 30px;
    margin-bottom: 15px;

  }

  .partner {

    ul {
      li {
        &:first-of-type {
          margin-top: 10px;
        }
        &:last-of-type {
          margin-bottom: 10px;
        }
        &.payment-sofortueberweisung {
        }
        &.payment-paypal {
          img {
            width: 95px;
          }
        }
        &.payment-mastercard {
          img {
            width: 105px;
          }
        }
        &.payment-visa {
          img {
            width: 65px;
          }
        }
        &.payment-saferpay {

        }
        &.shipping-dhl {
          img {
            width: 95px;
          }
        }
        &.shipping-ups {
          img {
            width: 30px;
          }
        }
      }
    }

    img {
      opacity: 1;
      margin-top: 17px;
      width: 80px;

      &.arai {
        position: relative;
      }
      &.baruffaldi {
        position: relative;
      }
      &.antman {
        transform-origin: 20% 50%;
        transform: scale(1.07);
      }

    }

    margin-top: 100px;

    .block-title {

      border: none;

      & strong, & span {
        @include ui-font-style();
        color: $color-grey-medium;
        line-height: 35px;
      }

    }

  }

}

@include respond-to(xs) {
  .footer-container {
    .footer {
      .links.column, .partner {
        margin-top: 20px;
      }
      .copyright {
        margin-bottom: 0;
        padding-top: 0;
      }
      .term-container {
        margin-top: 0;
        padding-top: 0;
        text-align: left;
        .term-links {
          margin-left: 0;
          margin-right: 6px;
        }
      }
    }
  }
}

@include respond-to(xs-s) {
  .footer-container {
    .footer {
      .partner-container {
        .block-title {
          margin: 35px 0 20px;
        }
        .logo-row {
          text-align: left;
          padding-bottom: 0;
          .logo-box {
            width: auto;
            max-width: 20%;
            margin-right: 10%;
            margin-bottom: 35px;
            img {
              width: auto;
              max-width: 100%;
            }
          }
        }
      }
    }
  }
}

@include respond-to(m) {
  .footer-container .footer {
    .term-container {
      text-align: left;
      width: 58.33333% + 4.16667%;
      padding-right: 0;
      span {
        margin-left: 6px;
        &:first-of-type {
          margin: 0;
        }
      }
    }
    .hide-contacts-on-m .contact {
      &.mail, &.number, &.hours {
        display: none;
      }
    }
  }
}
@include respond-to(xl) {
  .footer-container {
    .footer {
      .partner-container {
        .logo-row {
          .logo-box {
            width: 12.1%;
          }
        }
      }
    }
  }
}