.category-products, .helmet-category-teaser {

  a.item, .custom-teaser {

    padding-top: 37%;
    position: relative;

  }
  a.item {

    $border: 8px;
    $ease: cubic-bezier(.24, 0, .06, 1.01);
    $time: 0.5s;
    $startAngle: 35deg;
    $endAngle: 215deg;
    $scale-transition-in: all $time $ease;

    .white-box {
      background: #fff;
      position: absolute;
      content: "";
      top: $border;
      left: $border;
      right: $border;
      bottom: $border;
      @include transition($scale-transition-in);
      z-index: 2;
    }

    .content-box {

      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
      text-align: center;

      color: $color-grey;

      .customize-badge {
        @include afterBox();
        height: 18px;
        top: 30px;
        left: 10%;
        right: 10%;
        z-index: 1;
        text-transform: uppercase;
        @include ui-font-style();
        text-align: right;
        line-height: 18px;
        color: #9c9b9b;
        position: absolute;
        &:after {
          position: relative;
          left: auto;
          float: right;
          margin-left: 8px;
          width: 18px;
          height: 18px;
          background-image: url('https://cdn.helmade.com/misc/icons/customize-icon.png');
          background-size: contain;
          background-repeat: no-repeat;
        }
      }

      .product-image {
        border: none;
        margin: 10%;
        margin-top: 5%;
        @include transition($scale-transition-in);
        img {
          width: 90%;
          display: inline-block;
        }
      }

      .product-info {

        @include beforeBox();

        &:before {
          background-color: #fff;
          left: 45px;
          right: auto;
          width: 29px;
          top: -2px;
          bottom: -10px;
          z-index: 0;
          @include transition($scale-transition-in);
        }

        position: absolute;
        left: -46px;
        bottom: 30px;
        max-width: 300px;
        text-align: left;

        .product-manufacturer {
          text-transform: uppercase;
          display: block;
          margin-bottom: -12px;
          position: relative;
          @include ui-font-style();
        }

        .product-name {

          @include bold-font-style();
          color: $color-grey;
          font-size: 34px;
          z-index: 1;
          line-height: 1;
          border-bottom: solid 6px $color-default;
          vertical-align: bottom;
          position: relative;

          span {
            position: relative;
            bottom: -11px;
          }

        }

        .product-price {
          margin-top: 18px;
          display: block;
          @include light-font-style();
          font-size: 28px;
          z-index: 1;
          position: relative;
        }

        .button {
          @include base-border-radius();
          padding: 12px 24px;
          margin-top: 10px;
        }

      }

    }

    &:hover {
      text-decoration: none;

      .gradient-container {
        .color-container {
          @include transform(scale(1.01) rotate($endAngle));
        }
        .color-start, .color-end {
          @include transform(rotate($endAngle));
        }
      }

      .white-box {
        @include transform(scale3d($scale, 1.03, $scale));
      }
      .product-image {
        @include transform(scale3d($scale*0.975, $scale*0.975, $scale*0.975));
      }
      .content-box {
        .button {
        }
        .product-info {

          &:before {
            @include transform(scaleY(1.02));
          }

          .product-name {
            span {
            }
          }
        }
      }
    }
  }
}

.category-products {
  top: 0;
  .grid-column {
    $full: 100%;
    $pad: $full / 24;
    padding: 0 $pad;

  }
  a.item, a.custom-teaser {
    display: block;
    padding-top: 155%;
    margin: 30px 0;

    .white-box {
      top: -1px;
      right: -1px;
      bottom: -1px;
      left: -1px;
    }

    .gradient-container {
      opacity: 0;
      @include transition(opacity 0.1s ease-in-out 0.4s);
    }

    .content-box {
      .product-image {
        margin: 13% 0 0 0;
      }
      .product-info {
        max-width: none;
        left: 10%;
        right: 10%;
        &:before {
          display: none;
        }
        .product-name {
          font-size: 24px;
          border: none;
        }
        .product-manufacturer {
          margin-bottom: -8px;
        }
        .price-and-button {
          margin-top: 10px;
          clear: both;
          .product-price {
            float: left;
            margin-top: 15px;
            @include bold-font-style();
            font-size: 20px;
            color: #9c9b9b;
          }
          .buy-button {
            float: right;
            padding-left: 16px;
            padding-right: 16px;
          }
        }
      }
    }
  }
  a.item:hover {
    .white-box {
      $ratio: 1.5;
      $scaleDiff: 0.034;
      $xScale: 1 - $scaleDiff;
      $yScale: 1 - $scaleDiff / $ratio;
      @include transform(scale3d($xScale, $yScale, 1.0));
    }
    .gradient-container {
      @include transition(opacity 0.1s ease-in-out);
      opacity: 1;
    }
  }
}

@include respond-to(l) {
  .category-products {
    .grid-column {
      $full: 100%;
      $pad: $full / 48;
      padding: 0 $pad;
    }
  }
}

@include respond-to(xs-s-m) {
  .category-products {
    a.item, a.custom-teaser {
      margin-bottom: 0;
      &:nth-of-type(2) {
        margin-top: 0;
      }
      .content-box {
        .product-info {
          .price-and-button {
            margin-top: 26px;
          }
        }
      }
    }
  }
}

@include respond-to(m) {
  .helmet-category-teaser {
    a.item, a.custom-teaser {
      padding-top: 52%;
    }
  }
}

@include respond-to(s) {
  .category-products, .helmet-category-teaser {
    a.item, a.custom-teaser {
      padding-top: 125%;
      margin-bottom: 90px;
    }
  }
}

@include respond-to(xs) {
  .category-products, .helmet-category-teaser {
    a.item, a.custom-teaser {
      padding-top: 155%;
      .content-box {
        .product-info {
          .price-and-button {
            margin-top: 15px;
          }
        }
      }
    }
  }
  .category-products {
    padding: 0 6px;
    .grid-column {
      padding: 0;
    }
  }
}

@include respond-to(xs-s) {
  .category-products {
    a.item, a.custom-teaser {
      margin-bottom: 0;
      .content-box .product-image {
        margin-top: 11%;
      }
    }
  }
}