#handcrafted_slider {

  margin-bottom: 105px;

  margin-top: 38px;
  @include background(linear-gradient(150deg, $color-default 20%, #1d84de));
  position: relative;


  .image {
    &:after {
      background-image: url("https://cdn.helmade.com/misc/handcrafted-gradient.png");
    }

    span {
      position: absolute;
      bottom: 0;
      left: 3px;
      z-index: 2;
      width: 60%;
      @include copy-font-style();
      color: #fff;
      padding: 20px;
    }

  }

  .js-slider {

    :focus {
      outline: none;
    }
    margin-top: -38px;
    margin-bottom: 38px;
    position: relative;
    .slick-dots {
      display: none;
    }

    button.slick-arrow {
      position: absolute;
      z-index: 2;
      width: 45px;
      height: 45px;
      background-color: $color-grey;
      opacity: 1;
      top: auto;
      bottom: -22px;

      &.slick-prev {
        left: auto;
        right: 46px;
        &:before {
          left: 11px;
        }
      }

      &.slick-next {
        right: 0;
        &:before {
          left: 12px;
        }
      }

      &:before {
        opacity: 1;
        color: #fff;
        top: 12px;
      }

      &:hover {
        &:before {
          color: $color-default;
        }
      }

    }

  }

}

#handcrafted_slider_headline {

  .row {
    text-align: center;
  }

  h2 {

    .line1 {
      margin-left: -40px;
    }

    .line2{
      margin-left: 40px;
    }

  }

}

@include respond-to(xs){
  #handcrafted_slider {
    .image {
      span {
        display: none;
      }
    }
  }
}