.page-header {

  height: 75px;

}

#burger-button {

  @include beforeBox();
  position: absolute;
  top: 0;
  right: 0;
  width: 75px;
  height: 75px;
  cursor: pointer;
  pointer-events: all;

  .line {
    position: absolute;
    height: 4px;
    width: 25px;
    background-color: $color-grey;
    top: 50%;
    left: 50%;
    margin-top: -2px;
    margin-left: -12px;

    @include transition(transform 0.1s $ease-strong);

    &:first-of-type {
      @include transform(translateY(-8px));
    }
    &:nth-of-type(2) {
      @include transform(scaleX(1));
    }
    &:last-of-type {
      @include transform(translateY(8px));
    }
  }
}

#burger-overlay {

  //@include transform(translateY(-100%));
  display: none;
  //@include transition(transform 1s $ease-strong);

  &.open {
    @include transform(translateY(0%));
    display: block;
  }

  background-color: #fff;
  color: $color-grey;
  position: absolute;
  z-index: 31;
  left: 0;
  right: 0;
  top: 75px;

  nav {
    display: block;

    .main-link-column {
      margin-bottom: 20px;
    }

    .main-link {
      clear: both;
      @include ui-font-style();
      @include underlined();
      display: inline-block;
      color: $color-grey;
      font-size: 20px;
      line-height: 40px;

      &:after, &:before {
        bottom: 9px;
      }

      .category-link {

      }
    }
  }

  .secondary-row {

    margin-bottom: 24px;

    .secondary-link {
      @include ui-font-style();
      color: $color-grey;
      font-size: 15px;
      line-height: 44px;
      position: relative;

      span {
        padding-left: 30px;
      }

      .icon {

        &:before {
          font-size: 32px;
          color: $color-default;
          line-height: 44px;
          position: absolute;
          left: -9px;
          top: -1px;
        }

      }

      .cart-counter {
        @include border-radius(20px);
        display: inline-block;
        width: 23px;
        height: 23px;
        position: relative;
        top: 6px;
        margin: 0 4px;
        span {
          text-align: center;
          position: absolute;
          color: #fff;
          font-size: 12.5px;
          line-height: 15px;
          padding: 4px 0;
          width: 23px;
        }
      }

    }
  }

}

#header-breadcrumb {

  // needed for new navigation
  float: left;
  //overflow:hidden;
  margin-left: 215px;
  //padding-right: 480px;
  @include copy-font-style();
  color: $color-grey;
  font-size: 15px;
  opacity: 0.65;
  //margin-top: 25px;
  line-height: 74px;
  height: 75px;
  // needed for new navigation
  display: inline-block;

}

#advantage-bar {
  height: 40px;
  background-color: #2b2b2b;
  color: white;
  padding: 0 33px;
  position: relative;
  z-index: 100;
  .advantage-info {
    line-height: 40px;
    //padding-left: 35px;
    position: relative;
    float: left;
    width: 33.3%;
    &:nth-of-type(2) {
      text-align: center;
    }
    &:last-of-type {
      text-align: right;
    }
    .advantage-icon {
      position: relative;
      top: 6px;
      margin-right: 10px;
      height: 20px;
      width: 22px;
      display: inline-block;
      background-size: contain;
      background-repeat: no-repeat;
      left: 1px;
    }
    span {
      display: inline-block;
      &.light {
        margin-left: 10px;
        opacity: 0.5;
      }
    }
  }
}

@include respond-to(l) {
  #advantage-bar {
    .advantage-info {
      width: 50%;
      &:first-of-type {
        display: none;
      }
      &:nth-of-type(2) {
        text-align: left;
      }
    }
  }
}

@include respond-to(xs-s-m) {
  #advantage-bar {
    display: none;
  }
}

header {

  &.burger-hide-mode {

    background-color: #fff;

    .logo {
      display: none;
    }

    #burger-button {
      .line {
        background-color: $color-grey;
        &:nth-of-type(2) {
          @include transform(scaleX(0));
        }
        &:first-of-type {
          @include transform(translateY(0px) rotate(45deg));
        }
        &:last-of-type {
          @include transform(translateY(0px) rotate(-45deg));
        }
      }
    }

  }

  position: relative;
  z-index: 100;
  // background-color: rgba(#fff,0.5);
  @include background(url("https://cdn.helmade.com/misc/header-background.png"));
  background-size: 100% 100%;

  background-repeat: no-repeat;
  .logo {
    position: absolute;
    width: 110px;
    height: 60px;
    padding: 0;
    min-height: 0;
    @include background(url("https://cdn.helmade.com/misc/helmade-logo-dark.png"));
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    top: 19px;
    left: 33px;
    &:hover {
      opacity: 1;
    }
  }

  //#header-right {
  //
  //  position: absolute;
  //  top: 0;
  //  right: 0;
  //  height: 75px;
  //
  //}

}

.skip-links {
  border: 1px solid red;
  height: 100px;
}

#meta-sub {
  height: 75px;
  //border: 2px solid yellow;
  position: absolute;
  bottom: -75px;
  right: 0;
  background-color: #fff;

  .skip-content {
    display: block;
  }

  .sub-item {
    display: none;

    &.visible {
      display: block;
    }

  }

}

#header-nav {
  display: inline-block;
}

.header-start-button, .burger-start-button {
  //@include background(linear-gradient(left, #7ff5b6, #42f092));
  color: #fff;
  float: right;
  text-transform: uppercase;
  height: 75px;
  padding: 0px 40px;
  line-height: 74px;

  &.jumpButton {
    display: none;
  }
}

.detail-product {

  .header-start-button {
    display: none;
  }

  &.other-product, &.other-product-base-helmet {
    .header-start-button {
      display: block;
    }
  }

  &.other-product-base-helmet{
    .header-start-button.jumpButton {
      display: none;
    }
  }
}

.header-start-button, .burger-start-button {
  display: block;
}

.cms-homepage, .catalog-category-view {
  .header-start-button, .burger-start-button {
    display: none;
  }
  .header-start-button.jumpButton, .burger-start-button.jumpButton {
    display: block;
  }
}

.categorypath-accessoires-motorsports-html, .categorypath-accessoires-motorsport-html, .categorypath-accessoires-motorbike-html, .categorypath-accessoires-motorrad-html, .categorypath-accessoires-scooter-html, .categorypath-accessoires-gutschein-html, .categorypath-accessoires-voucher-html {

  .header-start-button, .burger-start-button {
    display: block;
  }
  .header-start-button.jumpButton, .burger-start-button.jumpButton {
    display: none;
  }
}

.burger-start-button {
  display: block;
  width: 100%;
  line-height: 54px;
  height: 54px;
  margin-bottom: 32px;;
}

#header-search {
  width: 0px;
  //background-color: red;
  height: 42px;
  //position: static;
  //left: 0;
  left: 16px;
  float: left;
  top: inherit;
  overflow: hidden;

  button {
    display: none;
  }
  form {
    input {
      @include ui-font-style();
      border: none;
      outline: none;
      padding: 0;
      padding-left: 10px;
      &:focus {
        outline-color: transparent;
        outline-style: none;
      }
    }
  }
}

#header-meta {

  .icon-user {
    &.logged-in {
      &:before {
        color: $color-default;
      }
    }
  }

  background-color: #fff;

  #header-meta-expandable {
    .icon {

      &.active {

        &:before {

          color: $color-default;

        }
      }
    }

  }

  #header-meta-button {

    .icon-globe {
      &:before {
        content: ".";
        background: url('../images/icon_globe.svg') no-repeat center;
        background-size: contain;
        width: 0.6em;
        margin-left: .40em;
        text-indent: -9999px;
      }

    }

  }

  &.tiny {
    width: 50px;
    #header-meta-expandable {
      & > div, & > a {
        @include transform(translateX(210px));
      }
    }

  }

  &:not(.tiny) {
    #header-meta-button {
      opacity: 0;
      pointer-events: none;
    }
  }

  &.search-mode {
    #header-search {
      width: 118px;
    }

    #header-meta-expandable {
      .divider, .icon.meta-basket, .icon.meta-user {
        //@include transform(translateX(-210px));
        opacity: 0;
      }

    }
    #header-meta-button {
      .icon {
        //@include transform( translateX(-160px) );
        opacity: 0;
      }
    }

  }

  height: 100%;
  width: 260px;
  float: right;
  overflow: hidden;
  position: relative;

  @include transition(all 0.5s);
  @include transition-timing-function($ease-strong);

  #header-meta-expandable {
    float: left;
    position: absolute;
    width: 260px;
    padding: 17px 0px 17px 0px;

    a:hover {
      text-decoration: none;
    }

    .language-wrapper {
      float: left;

      .language-heading {
        float: left;
        font-family: "HelveticaNeueW01-77BdCn_692722";
        color: #b6b6b6;
        padding-left: 5px;
        padding-right: 5px;
      }
    }

    .language-link,
    .currency-link {
      font-family: $helvetica-bold-condensed;
      float: left;
      color: lighten($color-grey-medium, 20);
      padding: 2px 2px 5px 12px;
      &.first {
        padding: 2px 0px 5px 13px;
        clear: both;
      }
      &.active {
        color: $color-default;
      }
      &:hover {
        color: $color-default;
      }
      &.last {
        padding: 2px 0px 5px 23px;
        clear: both;
      }
    }
    
    .divider, .icon {
      float: left;
      height: 42px;
    }

    .divider {
      width: 2px;
      background-color: #ededed;
    }

    .icon {
      cursor: pointer;
      width: 59px;
      //background-color: #f1f1f1;

      color: lighten($color-grey-medium, 20);
      font-size: 32px;
      text-align: center;
      line-height: 42px;
    }

    #cart-counter {

      @include bold-font-style();
      font-size: 12px;
      color: white;
      position: absolute;

      //  right: 15px;
      //  top: 28px;
      right: -1px;
      top: 12px;

      width: 22px;
      line-height: 22px;

      text-align: center;

      background-color: $color-default;
      @include border-radius(100px);

      &:hover {
        color: white;
        background-color: $color-default;
      }

    }

  }

  #header-meta-button {
    position: relative;
    display: block;
    height: 75px;
    padding: 4px 12px;
    float: left;
    .icon {
      color: lighten($color-grey-medium, 20);
      font-size: 26px;
      line-height: 30px;
      display: block;
      position: relative;
      //background-color: rgba(red,0.5);
      width: 20px;
      height: 20px;
      margin: 2px;
      @include transition(all 0.5s);
      @include transition-timing-function($ease-strong);
      &:before {
        position: absolute;
        left: -7px;
        top: -3px;
      }
    }
  }

  &:hover {
    width: 260px;

    #header-meta-expandable {
      display: block;
      & > div, & > a {
        @include transform(translateX(0px));
      }
    }

    #header-meta-button {
      .icon {
        //@include transform( translateX(-160px) );
        opacity: 0;
      }
    }

  }

}

.secondary-link {
  .language-link,
  .currency-link {
    font-family: $helvetica-bold-condensed;
    float: left;
    height: 42px;
    color: lighten($color-grey-medium, 20);
    padding: 10px 0px 5px 12px;
    &.first {
      padding: 10px 0px 5px 0px;
    }
    &.active {
      color: $color-default;
    }
    &:hover {
      color: $color-default;
    }
  }
}

#header-nav, #header-meta, #header-breadcrumb {
  border-bottom: 1px solid lighten($color-grey-medium, 43);
}

#header-nav {

  height: 75px;
  float: right;

  nav {
    ol {
      margin: 0;
      li {
        margin: 0px 40px;
        position: relative;

        &.active {

          @include underlined();

          &:before, &:after {
            bottom: 28px;
          }

        }

        a {
          z-index: 1;
          position: relative;
          //padding: 0px 40px;
          padding: 0;
          line-height: 74px;
          @include ui-font-style();
        }
      }
    }
  }
}

.cms-homepage, .catalog-category-view:not(.categorypath-accessoires-scooter-html):not(.categorypath-accessoires-motorsports-html):not(.categorypath-accessoires-motorbike-html):not(.categorypath-accessoires-scooter-html):not(.categorypath-accessoires-motorsport-html):not(.categorypath-accessoires-motorrad-html):not(.categorypath-accessoires-gutschein-html):not(.categorypath-accessoires-voucher-html):not(.catalog-catagory-base-helmets) {
  header {
    //background-color: rgba(#fff,0);
  }

  #header-nav, #header-meta, #header-breadcrumb {
    border: none;
  }

  #header-breadcrumb {
    color: #fff;
  }

  #burger-button {
    .line {
      background-color: #fff;
    }
  }

}

#header.burger-hide-mode {
  #burger-button {
    .line {
      background-color: $color-grey;
    }
  }
}

@include respond-to(xs-s) {
  #header-breadcrumb {
    display: none;
  }
}

@include respond-to(xs) {
  #header {
    .logo {
      height: 50px;
      left: 13px;
    }
  }

  .language-wrapper {
    font-family: "HelveticaNeueW01-77BdCn_692722";
    float: left;
    height: 42px;
    color: #b6b6b6;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;

    &:first-of-type {
      margin-left: 20px;
      border-right: 1px solid #b6b6b6;
    }
  }

  .language-link {
    margin-top: -40px;

    &.last {
      margin-left: 50px;
    }
  }

}