.product-model-detail {
  clear: both;

  .js-slider {
    .slick-dots {
      @extend .offset-l-by-7;
      @extend .offset-m-by-6;
      @extend .size-l-4;
      @extend .size-m-5;
    }
  }

  :focus {
    outline: none;
  }

  .product-model-image {
    img {
      width: 100%;
      margin-bottom: 10%;
    }
  }

  .product-model-text {

    margin-top: 6%;

    h3 {
      @include light-font-style();
      text-transform: none;
      font-size: 28px;
      letter-spacing: 0px;
      line-height: 40px;
      //margin-bottom: 18px;
    }

    h4 {
      @include ui-font-style();
      letter-spacing: 0px;
      margin-bottom: -3px;
      line-height: 18px;
    }

    p, ul, li {
      text-transform: none;
      @include copy-font-style();
      font-size: 14px;
      font-family: $helvetica-regular;
    }

    ul {

      li {

        list-style-type: initial;
        margin-left: 1em;
        margin-bottom: 0.5em ;

      }

    }

  }

}

.product-view {

  .product-options-bottom, .product-options, .product-collateral {

    display: none;

  }

}

@include respond-to(xs-s) {
  .product-model-detail {
    margin-bottom: 110px;
    .js-slider {
      .slick-dots{
        text-align: center;
        bottom: -40px;
      }
      .slick-prev, .slick-next {
        top: 30%;
      }
    }
    .product-model-text {
      margin-top: 0;
    }
  }
}

@include respond-to(m) {
  .product-model-detail {
    .product-model-text {
      ul li {
        font-size: 16px;
      }
    }
  }
}

@include respond-to(xs) {
  .product-model-detail {
    .js-slider {
      .slick-prev, .slick-next {
        top: 25%;
      }
    }
  }
}