#configurator {
  .preloader {

    z-index: -1!important;

    .preloader_bar, .preloader_text {
      @include transition(opacity 3s);
    }

    .invisible {
      visibility: visible!important;
      opacity: 0;
    }

    top: 44%;
    left: 50%;

    position: absolute;
    pointer-events: none;
    width: 110px;
    height: 60px;
    margin-left: -55px;

    padding: 1px;

    @include afterBox();
    &:after{
      background-image: url('https://cdn.helmade.com/misc/helmade-preloader.png');
      background-size: contain;
      background-repeat: no-repeat;
    }
    .preloader_bar {
      background-color: $color-default;
      width: 50%;
      height: 100%;
      @include transition(width 0.1s);
    }
    .preloader_text {
      display: none;
      position: absolute;
      line-height: 58px;
      z-index: 2;
      @include ui-font-style();
      top: 0;
      left: 0;
      right: 0;
      text-align: center;
    }
  }
}