.cms-homepage {
  .main-row {
    .page-title {
      display: none;
    }
    .std {
      & > p {
        display: none;
      }
    }
  }
}

.demo-notice {

  position: absolute;
  z-index: 200;
  right: 0;
  left: 0;
  opacity: 0.2;

}

#helmade-homepage {

  position: relative;
  top: -75px;

  .intro-video, .intro-loop {

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;

    .video-controls {

      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      z-index: 3;
      //pointer-events: all;

      & > div {
        display: inline-block;
      }

      .video-control-button {

        pointer-events: all;

        @include beforeBox();

        &:before {
          background: transparent;
        }

        cursor: pointer;
        margin: 0 15px;

        .icon, span {
          float: left;
        }

        .icon {
          font-size: 30px;
          color: $color-default;
        }

        span {
          @include ui-font-style();
          line-height: 47px;
          color: #fff;
          text-transform: uppercase;

          &.text-active {
            display: none;
          }

          &.text-inactive {
            display: block;
          }

        }

        &:hover {

          span {

            color: $color-default;

          }

        }

        .icon-mute {
          display: none;
        }

        .icon-mute-off {
          display: block;
        }

        &.active {

          .icon {

            //opacity: 0.5;
            color: #fff;

          }

          .icon-mute {
            display: block;
          }

          .icon-mute-off {
            display: none;
          }

          span {

            &.text-active {
              display: block;
            }

            &.text-inactive {
              display: none;
            }

          }

          &:hover {

            .icon {

              color: $color-default;

            }

          }

        }

      }

    }

    video {
      position: absolute;
      left: 50%;
      right: 0;
      top: 50%;
      &.preDocReady {
        display: none;
        opacity: 0;
      }
      opacity: 1;
      @include transition(opacity 1s);
    }

    &.hidden {
      display: none;
    }
  }

  .intro-loop {
    opacity: 0.5;
  }

  .homepage-intro {
    overflow: hidden;
    height: 720px;
    background-color: #000000;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    position: relative;

    .intro-overlay {

      top: 50%;
      margin-top: -235px;

      h1{
        color: #fff;
        font-size: 18px;
        font-family: $helvetica-bold-condensed;
        text-align: center;
        margin: 15px 0 15px 0;
      }

      .intro-button, .intro-headline, .intro-text {
        @include transform(translateY(0px));
        opacity: 1;
        @include transition(all 1s $ease-strong, opacity 0.5s);
      }

      .intro-button {
        @include transition(all 1.2s $ease-strong, opacity 0.7s);
      }


      &.hidden {

        pointer-events: none;
        display: block;

        .intro-headline {
          @include transform(translateY(-500px));
          opacity: 0;
        }

        .intro-button {
          @include transform(translateY(-450px));
          opacity: 0;
        }

        .intro-text {
          @include transform(translateY(500px));
          opacity: 0;
        }

      }

    }

    .intro-headline {
      padding-top: 24.1%;
      background-image: url('https://cdn.helmade.com/home/intro/headline.png');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
    }

    .intro-button {

      text-align: center;
      cursor: pointer;

      position: relative;
      @include ui-font-style();

      @include transform(translateX(-40%));

      margin-top: 10px;

      span {
        display: inline-block;
        position: relative;
        top: -14px;
        margin-left: 10px;
      }

      .intro-button-icon {

        display: inline-block;

        width: 40px;
        height: 40px;
        @include border-radius(20px);
        border: 3px solid white;
        //float: left;
        position: relative;

        /*        @include afterBox();

                &:after {
                  top: -3px;
                  left: -3px;
                  right: -3px;
                  bottom: -3px;
                  @include border-radius(20px);
                  border: 0px solid $color-default;
                  //@include transition(all 0.5s $ease-strong)
                }*/

        .intro-button-arrow {

          position: relative;
          top: 10px;
          left: 14px;
          width: 0;
          height: 0;

          border-style: solid;
          border-width: 7px 0 7px 9px;
          border-color: transparent transparent transparent #fff;

        }

      }

      &:hover {

        text-decoration: none;

        .intro-button-icon {

          border: 3px solid $color-default;

          &:after {
            border: 3px solid $color-default;
          }

          .intro-button-arrow {
            border-color: transparent transparent transparent $color-default;
          }

        }

      }

    }

    .intro-text {
      margin-top: 20px;
      @include light-font-style();
      color: #fff;
      text-align: center;
    }


    &.homepage-header-content-image-text{

      .intro-loop{
        position:absolute;
        top:0;
        right:0;
        bottom:0;
        left:0;
        background-position:50% 50%;
        background-size: cover;
      }

      .intro-overlay {

        h1{
          margin: 20px 0 15px 0;
        }

        .intro-overlay-image-text-actions{
          text-align: center;

          .cta_header_button{
            display: inline-block;
            pointer-events: all;
            @include base-border-radius();
            padding: 12px 24px;
            z-index: 2;
            margin: 45px 0 1em 0;
          }

        }


      }

    }

  }

  .helmet-category-teaser {
    $totalHeight: 2750px;
    top: -55px;
    //height: $totalHeight;
    position: relative;

    //top: -35px;

    .category-row {

      position: relative;
      left: 0;
      right: 0;
      //height: $totalHeight;
      padding-top: 70%;

      /*      &.category-Motorsports {
              top: 0;
            }

            &.category-Scooter {
              top: ( $totalHeight / 3 ) * 2;;
            }

            &.category-Motorbike {
              top: $totalHeight / 3;
            }*/

    }

    .teaser-headline {
      pointer-events: none;
    }

    .teaser-helmet, .teaser-headline, .teaser-link, .teaser-image {
      position: absolute;
      display: block;
      top: 0;
    }

    .teaser-link {
      z-index: 5;
      a {
        color: $color-grey;
        @include light-font-style();
        font-size: 28px;
        @include underlined();
        &:before, &:after {
          @include transition(all 0.25s $ease-strong);
          transform-origin: center bottom;
          bottom: 2px;
        }
        &:hover {
          text-decoration: none;

          &:before, &:after {
            @include transform(scaleY(1.5));
          }
        }
      }
    }

    .category-Motorsports {
      .teaser-helmet {
        z-index: 3;
      }
      .teaser-image {
        top: 310px;
      }
      .teaser-headline {
        top: 110px;
        z-index: 4;
      }
      .teaser-link {
        top: 265px;
      }
    }

    .category-Motorsport {
      .teaser-helmet {
        z-index: 3;
      }
      .teaser-image {
        top: 310px;
      }
      .teaser-headline {
        top: 110px;
        z-index: 4;
      }
      .teaser-link {
        top: 265px;
      }
    }

    .category-Scooter {
      .teaser-helmet {
      }
      .teaser-image {
        top: 290px;
        z-index: 3;
      }
      .teaser-headline {
        top: 110px;
        z-index: 4;
      }
      .teaser-link {
        top: 235px;
      }
    }

    .category-Motorbike {
      .teaser-helmet {
        z-index: 3;
      }
      .teaser-image {
        top: 305px;
      }
      .teaser-headline {
        top: 53px;
        z-index: 4;
      }
      .teaser-link {
        top: 30px;
        padding-left: 30px;
      }
    }

    .category-Motorrad {
      .teaser-helmet {
        z-index: 3;
      }
      .teaser-image {
        top: 305px;
      }
      .teaser-headline {
        top: 53px;
        z-index: 4;
      }
      .teaser-link {
        top: 30px;
        padding-left: 30px;
      }
    }

    .category-Basic {
      .teaser-helmet {
        z-index: 3;
      }
      .teaser-image {
        top: 305px;
      }
      .teaser-headline {
        top: 53px;
        z-index: 4;
      }
      .teaser-link {
        top: 30px;
        white-space: nowrap;
        padding-left: 30px;
      }
    }

    .category-Basis {
      .teaser-helmet {
        z-index: 3;
      }
      .teaser-image {
        top: 305px;
      }
      .teaser-headline {
        top: 53px;
        z-index: 4;
      }
      .teaser-link {
        top: 30px;
        white-space: nowrap;
        padding-left: 30px;
      }
    }

  }

  .homepage-category-call-to-action {

    & > .row {
      margin-top: 50px;
    }

    position: relative;

    h2 {
      position: absolute;
      text-align: center;
      display: block;
      width: 100%;
      @include morningstar-font-style();
      color: $color-default;
      z-index: 1;
      @include transform(rotate(-7.5deg));
      font-size: 100px;
      top: -20px;
      pointer-events: none;
    }

    .helmet-row {

      z-index: 2;

    }

    margin-bottom: 100px;

    .column {

      .category-name, .category-img, .category-sub {
        @include transition(all 0.5s $ease-strong);
      }

      .category-background {

        z-index: 1;

        @include background-size(contain);

        background-position: center center;
        background-repeat: no-repeat;

        padding-top: 100%;
        opacity: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        &.Motorsports {
          background-image: url(https://cdn.helmade.com/catalog/category/nav/motorsports-bg.png);
        }

        &.Motorsport {
          background-image: url(https://cdn.helmade.com/catalog/category/nav/motorsport-bg.png);
        }

        &.Motorbike {
          background-image: url(https://cdn.helmade.com/catalog/category/nav/motorbike-bg.png);
        }

        &.Motorrad {
          background-image: url(https://cdn.helmade.com/catalog/category/nav/motorrad-bg.png);
        }

        &.Scooter {
          background-image: url(https://cdn.helmade.com/catalog/category/nav/scooter-bg.png);
        }
      }

      .category-img {

        z-index: 2;
        position: relative;
        text-align: center;
        background-size: contain;
        //padding-left: 50%;
      }
      .category-img-hover {
        z-index: 3;
      }
      .category-background {
        opacity: 1;
      }

      .button {
        z-index: 4;
        position: absolute;
        top: 40%;
        left: 50%;
        //height: 48px;
        line-height: 30px;
        opacity: 0;
        @include transform(translateY(50px) translateX(-50%));
        @include transition(all 0.5s $ease-strong);
      }

      position: relative;

      text-align: center;

      & a, & span {
        text-align: center;
      }

      a {

        .category-name {

          &:before, &:after {
            visibility: hidden;
          }

          width: 100%;
          span {
            text-align: center;
          }
        }

        &:hover {

          text-decoration: none;

        }

      }

      &:hover {

        .category-img, .category-img-hover, .category-sub {
          opacity: 0.5;
        }

        .button {
          opacity: 1;
          @include transform(translateY(0px) translateX(-50%))
        }

      }

    }

  }

  #magazine-teaser{

    margin-top: 235px;
    margin-bottom: 205px;

    h2{
      top: -190px;
      line-height: 60px;
      span{
        font-size: 50px;
        line-height: 0;
      }
    }

    .post-image{
      vertical-align: middle;
      display: table-cell;
      padding: 10px;

      img{
        width: 100%;
        height: auto;
      }
    }

    .post-title{
      display: inline-flex;
      margin-top: 40px;
      font-family: $helvetica-bold-condensed;
      font-style: normal;
      font-weight: normal;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      font-size: 18px;
      line-height: 24px;
      text-align: left;
    }

    .post-link{

      display: inline-flex;
      float: left;
      margin: 40px 0;

      a{
        color: #666;
        border-color: $c-email-background;
        background-color: $c-email-background;
        font-size: 14px;
        padding: 14px 20px;
        text-align: left;
        text-transform: uppercase;
        font-family: $helvetica-regular;

        -webkit-transition: background-color 1s false, color 1s false;
        -moz-transition: background-color 1s false false, color 1s false false;
        -o-transition: background-color 1s false false, color 1s false false;
        transition: background-color 1s, color 1s;
        -webkit-transition-duration: 1s;
        -moz-transition-duration: 1s;
        -o-transition-duration: 1s;
        transition-duration: 1s;

        &:hover{
          background-color: #e2e2e2;
        }
      }
    }

    .magazine-link{

      margin-top: 20px;
    }
  }

  #seo-page-text{
    text-align: center;
    top: 0;
    margin-bottom: 250px;

    .seo-page-content{

      .seo-page-logo{
        display: inline-block;
        img{
          width: 260px;
        }
      }

      .seo-text{
        width: 65%;
        background: -o-linear-gradient(left, #b3f9d3 1px, white 0);
        background: -moz-linear-gradient(left, #b3f9d3 1px, white 0);
        background: -webkit-linear-gradient(left, #b3f9d3 1px, white 0);
        background: linear-gradient(90deg, #b3f9d3 1px, white 0);
        background-position: 100% 0;
        background-repeat: repeat-y;
        background-size: 50%;
        padding: 75px 0 90px 0;
        margin: 0 auto;
        font-size: 28px;
        line-height: 45px;
        font-family: $helvetica-light;
        text-align: justify;

        p{
          font-size: 28px;
        }


        @include respond-to(xs-s) {


          font-size: 18px;
          line-height: 26px;

          p{
            font-size: 18px;
          }
        }

      }

      .seo-company-logo{
        display: inline-block;
        img{
          width: 135px;
        }
      }
    }
  }

}

@include respond-to(l-xl) {
  #helmade-homepage {
    .helmet-category-teaser {
      .category-Scooter {
        .teaser-helmet {
          .content-box {
            .product-info {
              &:before {
                left: 25%;
                width: 100px;
              }
            }
          }
        }
      }
    }
  }
}

@include respond-to(m) {
  #helmade-homepage .helmet-category-teaser {
    .category-row {

      padding-top: 120%;

    }
  }
}

@include respond-to(s) {
  #helmade-homepage .helmet-category-teaser {

    .category-row {

      padding-top: 175%;

      a.item {
        .gradient-container .color-container {
          left: -50%;
          top: -15%;
          right: -50%;
          bottom: -15%;
        }
        &:hover .white-box {
          @include transform(scale3d(1.025, 1.021, 1));
        }
      }

    }
  }

  #helmade-homepage{
      #magazine-teaser{
        &.homepage-category-call-to-action{
          h2{
            font-size: 80px;
          }

          .magazine-link{
            margin-left: 0;
          }
      }
    }

    #seo-page-text{

      .seo-page-content{
        .seo-text{
          width: 85%;
        }
      }

    }

  }
}

@include respond-to(xs) {
  .homepage-category-call-to-action .helmet-category-teaser {

    .category-row {

      padding-top: 188%;

    }
  }

  #helmade-homepage{
    #magazine-teaser{

      .row1{
        margin-left: 0;
      }

      &.homepage-category-call-to-action{
        h2{
          font-size: 70px;
          top: -180px;

          span{
            line-height: 0;
          }
        }

        .magazine-link{
          margin-left: 0;

          a{
            font-size: 18px;
          }
        }

        .post-image{
          padding: 0;
        }
      }
    }

    #seo-page-text{

      .seo-page-content{
        .seo-text{
          width: 85%;
        }
      }

    }

  }




}

@include respond-to(l-xl) {
  #helmade-homepage .helmet-category-teaser {
    .category-Scooter {
      .teaser-helmet {
        .product-info {
          left: 190px;
          right: -120px;
        }
      }
    }
  }
}

@include respond-to(xs-s-m) {
  #helmade-homepage {
    .homepage-intro {
      .intro-headline {
        padding-top: 32%;
      }
      .intro-button {
        //margin-top: -30px;
      }
    }
    .helmet-category-teaser {

      .category-Motorsports, .category-Motorbike, .category-Scooter, .category-Motorrad, .category-Motorsport, .category-Basic, .category-Basis {
        > .column {
          top: 0;
        }
        .teaser-headline {
          z-index: 5;
        }
        .teaser-image {
          margin-top: 16%;
          z-index: 3;
        }
        .teaser-helmet {
          z-index: 4;
          margin-top: 55%;
        }
        .teaser-link {
          padding-left: 0;
          z-index: 5;
          margin-top: 79%;
        }
      }

      .category-Motorsports, .category-Motorsport {
        > .column {
          &.teaser-headline {
            top: 10%;
          }
        }
      }

    }
  }
}

@include respond-to(xs-s) {
  #helmade-homepage {
    .homepage-intro {
      .intro-headline {
        padding-top: 40%;
      }
      .intro-button {
      }
    }
    .helmet-category-teaser {
      .category-Motorsports, .category-Motorbike, .category-Scooter, .category-Motorrad, .category-Motorsport, .category-Basic, .category-Basis {
        .teaser-image {
          margin-top: 16%;
          z-index: 3;
        }
        .teaser-helmet {
          z-index: 4;
          margin-top: 62%;
        }
        .teaser-link {
          padding-left: 0;
          z-index: 5;
          margin-top: 145%;
          text-align: center;
        }
      }
    }
  }
}

@include respond-to(s) {
  #helmade-homepage .helmet-category-teaser {
    .category-Motorsports, .category-Motorbike, .category-Scooter, .category-Motorrad, .category-Motorsport, .category-Basic, .category-Basis {
      .teaser-link a span {
        font-size: 18px;
      }
    }
  }
}

@include respond-to(xs) {
  #helmade-homepage {
    .homepage-intro {
      .intro-button {

      }
      .intro-text {
        font-size: 15px;
      }
    }
    .helmet-category-teaser {
      .category-row {
        padding-top: 260%;
      }
      .category-Motorsports, .category-Motorbike, .category-Scooter, .category-Motorrad, .category-Motorsport, .category-Basic, .category-Basis {
        .teaser-link {
          margin-top: 82%;
          a span {
            font-size: 18px;
          }
        }
        .teaser-image {
          margin: 0 !important;
          margin-top: 22%;
        }
        .teaser-helmet {
          padding-top: 120%;
          margin-top: 100%;
          .content-box {
            .product-info {
              max-width: 260px;
              bottom: 30px;
              left: -20px;
              .product-manufacturer {
                margin-bottom: -10px;
                font-size: 12px;
              }
              &:before {
                bottom: -10px;
                left: 10px;
                top: 5px;
              }
              span {
                font-size: 28px;
              }
              .product-name {
                span {
                }
                line-height: 1 !important;
              }
              .product-price {
                margin-top: 15px;
                font-size: 24px;
              }
              .buy-button {
                padding: 8px 16px;
                font-size: 12px;
                margin-top: 5px;
              }
            }
          }
        }
      }
    }
  }
}

@include respond-to(s) {
  #helmade-homepage {
    .homepage-category-call-to-action {
      .column a {
        font-size: 24px;
      }
    }
    .helmet-category-teaser {
      .category-Scooter,
      .category-Motorbike,
      .category-Motorsports,
      .category-Motorsport,
      .category-Motorrad,
      .category-Basic,
      .category-Basis {
        .teaser-link {
          a {
            span {
              font-size: 24px;
            }
          }
        }
      }
    }
  }



}