$height-desktop: 75px;
$height-mobile: 57px;
$padding: 13px;
.list-filter-container {
  position: relative;
  z-index: 5;
  height: $height-desktop + 1px;
  @include respond-to(xs-s) {
    height: $height-mobile + 1px;
  }
  background-color: white;
}
.list-filter {
  position: relative;
  border-bottom: 1px solid white;
  transition: border 0.25s;
  @include respond-to(xs-s-m) {
    border-top: 1px solid $border-color;
  }
  .list-filter-background {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
    background-color: white;
  }
  &.sticky-top, &.sticky-bottom {
    position: fixed;
    left: 0;
    right: 0;
    top: auto;
    bottom: auto;
  }
  &:not(.sticky-bottom) {
    top: 0;
    border-bottom: 1px solid $border-color;
    .list-filter-background {
      display: block;
    }
  }
  &.sticky-bottom {
    bottom: 0;
    .filter-container {
      .filter-button {
        &.filter-button-drowdown {
          &:after {
            transform: rotate(-90deg);
          }
          &.open {
            &:after {
              transform: rotate(90deg);
            }
          }
          .filter-dropdown-flyout {
            padding-top: $padding;
            top: auto;
            bottom: $height-desktop;
            @include respond-to(xs-s) {
              bottom: $height-mobile;
            }
          }
        }
      }
    }
  }
  .filter-container {
    background-color: white;
    height: $height-desktop;
    clear: both;
    @include respond-to(xs-s){
      height: $height-mobile;
    }
    @include respond-to(xs) {
      position: relative;
      margin-left: -12px;
      margin-right: -12px;
    }
    .filter-button {
      height: $height-desktop;
      width: 25%;
      float: left;
      border-right: 1px solid $border-color;
      cursor: pointer;
      padding: $padding;
      @include respond-to(xs-s) {
        padding: 8px;
        height: $height-mobile;
      }
      line-height: 1.2;
      @include beforeBox();
      &:before {
        top: 0;
        right: -1px;
        left: -1px;
        bottom: $height-desktop - 4px;
        background-color: $color-default;
        transform: scale3d(1, 0, 1);
        transition: transform 0.25s $ease-strong;
        transform-origin: 50% 0%;
      }
      @include afterBox();
      &:after {
        @include icon-next-icon-new();
        color: $color-default;
        bottom: auto;
        left: auto;
        right: 18px;
        top: 45%;
        font-size: 22px;
        @include respond-to(xs-s) {
          right: 8px;
          font-size: 15px;
          top: 50%;
        }
        @include respond-to(xs) {
          top: 49%;
        }
      }
      &:last-of-type {
        border-right: none;
      }
      &:first-of-type {
        border-left: 1px solid white;
        transition: border 0.15s;
        transition-delay: 0.15s;
        &.open {
          border-left: 1px solid $border-color;
          transition-delay: 0s;
        }
      }
      .filter-title {
        position: relative;
        z-index: 1;
        @include ui-font-style();
        letter-spacing: 0.01em;
        color: $color-grey-medium;
        @include respond-to(xs-s) {
          line-height: 24px;
        }
        @include respond-to(m) {
          font-size: 15px;
        }
        @include respond-to(s) {
          font-size: 15px;
        }
        @include respond-to(xs) {
          font-size: 10px;
          line-height: 22px;
        }
      }
      .filter-selection, .filter-selection .price, .filter-result-count, .filter-dropdown-option, .filter-dropdown-option .price {
        @include ui-font-style();
        text-transform: none;
        letter-spacing: -0.01em;
        font-size: 25px;
        color: $color-grey;
        position: relative;
        z-index: 1;
        @include respond-to(xs-s) {
          line-height: 14px;
        }
        @include respond-to(m) {
          font-size: 20px;
        }
        @include respond-to(s) {
          font-size: 15px;
        }
        @include respond-to(xs) {
          font-size: 12px;
        }
      }
      .filter-selection {
        @include respond-to(m) {
          margin-top: 3px;
        }
      }
      &:hover {
        &:before {
          background-color: $color-grey-medium;
        }
      }
      &.active, &:hover {
        &:before {
          transform: scale3d(1, 1, 1);
        }
      }
      &.active {
        &:hover {
          &:before {
            background-color: $color-default-light;
          }
        }
      }
      &.filter-button-results {

        cursor: default;

        &:before {
          display: none;
        }
        @include respond-to(m) {
          padding-top: 21px;
        }
        @include respond-to(l-xl) {
          padding-top: 19px;
        }
        &:after {
          top: 35%;
          font-size: 25px;
        }
        .filter-result-count {
          font-size: 40px;
          line-height: 1;
          float: left;
          margin-right: $padding;
          @include respond-to(xs-s-m) {
            display: none;
          }
        }
        .filter-title {
          padding-right: 30px;
          @include respond-to(l-xl) {
            margin-top: 3px;
          }
            @include respond-to(xs-s) {
            display: none;
          }
        }
        &:after {
          //transition: transform 0.15s $ease-strong;
          content: "";
        }
        &:hover {
          &:after {
            transform: translate3d(4px,0,0);
          }
        }
      }
      &.filter-button-drowdown {
        &:after {
          transform: rotate(90deg);
        }
        .filter-dropdown-flyout {
          position: absolute;
          top: $height-desktop - 11px;
          left: -1px;
          right: -1px;
          padding: 0 $padding $padding;
          @include respond-to(xs-s) {
            padding: 0 8px 8px;
            top: $height-mobile - 11px;
          }
          border: 1px solid $border-color;
          border-top: none;
          background-color: white;
          z-index: 0;
          display: none;
          .filter-dropdown-option {
            line-height: 2em;
            transition: color 0.15s;
            &:hover {
              color: $color-default;
            }
            &.selected {
              display: none;
            }
          }
        }
        &.open {
          &:after {
            transform: rotate(-90deg);
          }
          .filter-dropdown-flyout {
            display: block;
          }
        }
      }
    }
    @include respond-to(xs-s) {
      .filter-button {
        &.filter-button-drowdown {
          width: 28%;
        }
        &.filter-button-results {
          width: 16%;
        }
      }
    }
  }
}