#loading_overlay {
    position: fixed;
    background-color: white;
    height: 100%;
    width: 100%;
    z-index: 101;
    top: 0;
    img {
        position: absolute;
        width: 75px;
        height: 75px;
        left: 50%;
        margin-left: -37px;
        top: 50%;
        margin-top: -37px;
    }
    div.redirect-head {
        font-family: "HelveticaNeueW01-77BdCn_692722";
        font-size: 30px;
        line-height: 40px;
        text-transform: uppercase;
        position: absolute;
        width: 400px;
        height: 80px;
        left: 50%;
        margin-left: -200px;
        top: 50%;
        margin-top: -130px;
        text-align: center;
        display: block;
        @media (max-width: 400px) {
            font-size: 7.5vw;
            line-height: 10vw;
            width: 100%;
            left: 0;
            margin-left: 0;
        }
    }
    div.redirect-body {
        position: absolute;
        width: 400px;
        height: 100px;
        left: 50%;
        margin-left: -200px;
        top: 50%;
        margin-top: 56px;
        text-align: center;
        display: block;
        @media (max-width: 400px) {
            width: 100%;
            left: 0;
            margin-left: 0;
        }
    }
}