.account-login {

  @include light-font-style();
  font-size: 15px;
  color: $color-grey;


  h2 {
    @include ui-font-style();
    font-size: 18px;
  }

  .form-instructions {
    @include light-font-style();
    font-size: 13px;
    color: $color-grey-medium;

  }

  a {
    @include ui-font-style();
    font-size: 13px;
  }

  label, input {
    @include light-font-style();
    font-size: 13px;
    color: $color-grey-medium;
  }

  input {
    color: $color-grey;
  }

}