/* ---   Create By Billy Trinh at 13/05/2015 ----*/
/* ---- Style for Top Menu version PC ---*/

/*
----- toDo -----
Unterkatgorien und Marken erst on hover sichtbar
zu klären: 2 oder 4 Teaser (Is flexbel, also nicht klären?
Thorsten fragen woher die 18 designs kommen sollen
 */
$listMarginBottom: 30px;
$listElHeight: 23px;
$listHeadMarginBottom: 5px;
$listItem: 7;
//$advantageBarHeight: 40px;
//$headerHeight: 75px;

@mixin small-width-or-height {
  .ms-topmenu {
    li {
      font-size: 13px;
    }
    .headline-h1 {
      font-size: 18px;
      &:after,
      &:before {
        bottom: 3px;
      }
    }
    .headline-h2 {
      font-size: 22px;

    }
  }
}

@mixin menu_cross() {
  .line {
    background-color: #383838;
    &:first-child {
      transform: rotate(-45deg);
      top: 10px;
    }
    &:nth-child(2) {
      top: 10px;
      transform: rotate(45deg);
    }
  }

}

#advantage-bar,
#header {
  //position: fixed;
  width: 100%;
}

//#header {
//  height: $headerHeight;
//}
#header {
  position: relative;
}

.cms-homepage{
      background-color: $c-white;
       .ms-topmenu{

         li{

           &.ms-level0{

             .ms-label{

               color: $color-grey;

               &:hover{
                 color: $color-grey;
               }
             }
           }

           &.read-more{
             color: $c-input-border;
           }
         }

      }

      .logo {
        background: url(https://cdn.helmade.com/misc/helmade-logo-dark.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        top: 19px;
        z-index: 9000;
      }

    .ms-topmenu{

      li{

        &.ms-level0{

          .ms-label{

            color: $c-white;

            &:hover{
              color: $c-white;
            }
          }
        }
      }

    }

}

@include bp('min-width', $bp-small) {

  body.nav-active {

    .wrapper {
      height: 100.1%;
      overflow: hidden;
    }

    header#header {
      position: fixed;
    }

    .main-container {
      padding-top: 75px;
    }
  }

}

@media (max-width: 779px) {

  .cms-homepage{
    #header{
      //width: 100%;


      .ms-topmenu{

        li{

          &.ms-level0{

            .ms-label{

              color: $color-grey;

              &:hover{
                color: $color-grey;
              }
            }
          }
        }

      }

    }
  }

}



.ms-topmenu {
  a {
    //color: #383838;
  }

  .line {
    height: 5px;
    width: 25px;
    background-color: #383838;
    position: absolute;
    top: 0px;
    left: 0px;
    &:nth-child(2) {
      top: 10px;
    }
    &:last-child {
      top: 20px;
    }
  }
  .close {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 30px;
    height: 30px;
    @include menu_cross;
    z-index: 50;
  }
  font-family: $helvetica-bold-condensed;
  ul {
    li {
      line-height: $listElHeight;
      a {

        @include underlined();
        &:after, &:before {
          width: 0;
          bottom: 0px;
          @include transition(width 0.5s $ease-strong);
          z-index: -50;
        }
        &:hover {
          &:after, &:before {
            width: 100%;
          }
        }
      }
    }
  }

  .headline-h1,
  .headline-h2 {
    display: inline-block;
  }
  .headline-h2 {
    white-space: nowrap;
  }

  .headline-h1 {
    //font-size: 39px;
    margin-bottom: 10px;
    color: #000;

    @include underlined();
    &:after, &:before {
      width: 0;
      //bottom: 12px;
      @include transition(width 0.5s $ease-strong);
      z-index: -50;
    }

  }

  .headline {
    color: $c-table-border;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 13px;
  }
  .read-more {
    font-size: $f-size-s;

    a {
      color: $c-table-border;
    }
  }

  .headline-h2 {
    font-family: $helvetica-bold;
    //font-size: 25px;
    color: #000000;
    padding-top: 50px;
  }

  .menu-hover-img-wrapper {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    img {
      opacity: 0;
      @include transition(all 0.5s);
    }
  }

  .subnav.row {
    span.more {
      font-size: $f-size-s;
      color: $c-table-border;
    }
  }

}

.cms-index-index {

  .main-container {
    padding-top: 0px;
  }

  #header {

    .ms-topmenu {
      &:not(.active) {
        .line {
          background-color: #fff;
        }
      }
    }

    @media (min-width: 779px) {
      .ms-topmenu {
        .close {
          .line {
            background-color: #fff;
          }
        }
      }
    }
  }
}

//.ms-megamenu {
//  box-sizing: border-box;
//  text-align: left;
//}

.ms-featured {
  padding-left: 20px;
}

.ms-megamenu img {
  display: inline;
  vertical-align: middle;
  max-width: 100%;
}

.ms-megamenu .ms-topmenu {
  //position: relative;
  float: left;
  width: 100%;
  z-index: 199;
  //margin: 10px 0 0;
}

.ms-megamenu .ms-topmenu.no-responsive .mb-submenu {
  display: none !important;
}

.ms-megamenu .ms-level0 {
  float: left;
}

.ms-level0.item_relative {
  position: relative;
}

//.ms-megamenu .ms-level0.active .ms-label {
//  background: #206B91;
//}

//.ms-topmenu .ms-submenu a {
//  outline: none;
//}

.ms-topmenu .ms-submenu a.form-group {
  margin: 5px 0;
  font-size: 13px;
  text-decoration: none;
}

.ms-topmenu .ms-submenu a.form-group:hover {
  color: #8A1F1F;
}

.ms-topmenu .ms-label {
  float: left;
  //color: #fff;
  font-size: 15px;
  //opacity: 0.9;
  //filter: alpha(opacity=90);
  outline: none !important;
  text-decoration: none !important;
  cursor: pointer;
  text-transform: uppercase;
  float: left;
  //color: #FFFFFF;
  padding: 0px 15px;
  .ms-iconmega {
    height: 0px;
    top: 0px;
  }
}

.ms-megamenu .ms-iconmega {
  vertical-align: top;
  position: relative;
}

.ms-megamenu .ms-submenu {
  display: none;
  //display: block !important;
  position: absolute;
  // full-height
  //position: fixed;
  //height: 100%;
  //height: calc(100% - $advantageBarHeight - $headerHeight) !important;
  //height: calc(100% - ${advantageBarHeight} - ${headerHeight}) !important;
  //height: calc(100% - #{advantageBarHeight} - #{headerHeight});
  //height: calc(100% - 115px);
  // full-height: end
  width: 100%;
  min-height: 100vh;
  top: 52px;
  z-index: 200;
  padding: 0px 20px 0 20px;
  background: #fff;
  //border: 1px solid #ddd;
  max-width: 100%;
  border-top: 0;
  min-width: 160px;
  text-align: center;
  &:after {
    content: '';
    position: absolute;
    height: 50px;
    //min-height: 25vh;
    width: 100%;
    left: 0px;
    z-index: -50;
    background-color: #fff;
  }
}

.ms-megamenu .ms-level0 .ms-submenu {
  max-height: 0;
  transition: max-height 150ms ease-out;
  display: block;
  min-height: initial;
  transition-duration: 700ms;
  height: calc(100vh - 75px);
}
.ms-megamenu .ms-level0.active .ms-submenu {
  max-height: 100vh;
  transition-duration: 700ms;
  height: calc(100vh - 75px);
}

.ms-topmenu .mb-submenu {
  display: none;
}

//39, 18, 15
.ms-header,
.mb-header,
.ms-content,
.mb-content,
.ms-footer,
.mb-footer {
  //float: left;
  //width: 100%;
  text-align: left;
  margin: 0 auto;
  max-width: 1080px;
  ul {
    margin-bottom: 30px;
  }
}

.ms-header,
.mb-header {
  border-bottom: 1px solid $c-table-border;
  margin-bottom: 30px;
}

.ms-footer,
.mb-footer {
  border-top: 1px solid $c-text-white;
  //font-family: $helvetica-bold;
  font-family: $helvetica-regular;
  // full-height
  // full-height: end#
  .headline-h2 {
    @include underlined();
    &:after, &:before {
      width: 0;
      bottom: 6px;
      @include transition(width 0.5s $ease-strong);
      z-index: -50;
    }
  }
  a:hover {
    .headline-h2 {
      @include underlined();
      &:after, &:before {
      z-index: -50;
        width: 100%;
        bottom: 6px;
      }
    }
  }
  .col-xs-6 {
    padding-left: 0;
  }
}

.col-category .level1 {
  font-weight: 700;
  //font-size: 14px;
}

.col-category .level2 {
  font-weight: 400;
  //font-size: 13px;
}

.col-sub {
  display: none;
  -moz-transition: all ease-in-out 100ms;
  -webkit-transition: all ease-in-out 100ms;
  -o-transition: all ease-in-out 100ms;
  transition: all ease-in-out 100ms;
}

.ms-category-level .col-sub {
  display: none;
  position: absolute;
  left: 150px;
  width: 16em;
  background-color: #fff;
  z-index: 201;
  padding: 12px;
  min-width: 12em;
  -webkit-box-shadow: 0px 1px 10px rgb(153, 153, 153);
  box-shadow: 0px 2px 12px rgb(153, 153, 153);
}

.ms-category-level a.form-group {
  text-indent: 5px;
  //font-weight: 600;
}

.ms-category-level .parent.active > a.form-group {
  color: #8A1F1F;
}

.ms-megamenu .parent .small {
  float: right;
  top: 4px;
}

.active > .col-sub {
  display: block;
}

.level2 small {
  //font-size: 50%;
  top: -2px;
}

.level2.active .level2 {
  text-indent: 5px;
  -moz-transition: all ease-in-out 100ms;
  -webkit-transition: all ease-in-out 100ms;
  -o-transition: all ease-in-out 100ms;
  transition: all ease-in-out 100ms;
}

.mb-version .col-category .sub-level3 {
  width: 100%;
  float: left;
  z-index: 201;
  padding: 0 10px;
}

.mb-submenu .parent .col-sub, .lmb-submenu .parent .col-sub {
  padding: 0 0 0 10px;
  position: static;
  width: 100%;
  box-shadow: none;
  background-color: transparent;
}

.mb-submenu .parent .form-group a {
  float: left;
}

.mb-submenu .ms-category-level .col-category a.form-group {
  //border-bottom: 1px solid #ddd;
  padding: 5px 0;
}

.ms-category-dynamic .col-level {
  padding: 0px;
}

.ms-category-dynamic .col-level .col-xs-12.form-group {
  //border-bottom: 1px solid #ddd;
  //border-right: 1px solid #ddd;
  margin: 0;
  text-indent: 10px;
  -moz-transition: all ease-in-out 100ms;
  -webkit-transition: all ease-in-out 100ms;
  -o-transition: all ease-in-out 100ms;
  transition: all ease-in-out 100ms;
  background-color: #fff;
}

.ms-category-dynamic .col-level .col-xs-12.form-group.active {
  //border-right-color: rgba(0, 0, 0, 0);
  background-color: transparent;
}

.ms-category-dynamic .col-level .col-xs-12.form-group a {
  //font-weight: 600;
  float: left;
  width: 100%;
  padding: 10px 0;
  //font-size: 13px;
}

.ms-category-dynamic .col-level .col-xs-12.form-group.active a {
  color: #8A1F1F;
}

.ms-category-dynamic .col-level .col-xs-12.form-group a:hover {
  color: #8A1F1F;
  text-decoration: none;
}

.ms-category-dynamic .col-level .col-xs-12.form-group.active a .small {
  opacity: 0;
  filter: alpha(opacity=0);
}

.ms-category-dynamic .col-dynamic {
  display: none;
  padding-top: 10px;
}

.ms-category-dynamic .active.col-dynamic {
  display: block;
}

.ms-category-dynamic .col-dynamic .col-category-image img {
  outline: 0;
  transition: all 200ms ease-in-out;
  //-ms-transform: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
}

small.glyphicon.glyphicon-th-large {
  //font-size: 50%;
  margin-left: -6px;
  padding-right: 5px;
  top: -2px;
}

.ms-category-dynamic .col-dynamic a span {
  //font-weight: 600;
  //font-size: 12px;
}

.ms-category-dynamic .col-dynamic a:hover span {
  color: #8A1F1F;
  //font-weight: 600;
}

.ms-category-dynamic .col-dynamic a:hover img {
  transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-tranform: translateY(-10px);
  -webkit-transform: translateY(-10px);
}

.ms-category-dynamic .col-category {
  padding: 0 5px;
}

.ms-category-dynamic .dynamic-viewall {
  text-align: center;
  text-transform: uppercase;
  //color: #175271 !important;
  //font-weight: 600;
  //font-size: 13px;
  //-ms-transform: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
}

.ms-category-dynamic .dynamic-viewall small {
  padding-left: 6px;
}

.ms-category-dynamic .dynamic-viewall:hover {
  text-decoration: none;
  color: #860F0F !important;
  //border-color: #860F0F;
}

/*------- Product -------------------*/
.ms-productgrid .item .product-image,
.ms-megamenu .f-product .product-image,
.ms-megamenu .f-category .product-image {
  border: none;
}

.ms-productgrid .item .product-image:hover,
.ms-megamenu .f-category .product-image:hover,
.ms-megamenu .f-product .product-image:hover {
  transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-tranform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  transition: all 200ms ease-in-out;
  //-ms-transform: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
}

.ms-megamenu .f-product .product-image img {
  max-width: 100%;
}

.mb-content .item,
.mb-content .col-productlist,
.mb-content .col-category,
.mb-featured .f-product,
.mb-featured .f-category {
  padding-top: 10px;
  padding-bottom: 10px;
}

/*---------------------Mobile version-------------------------*/
.ms-megamenu .anchor_mbmenu {
  padding: 25px;
  display: none;
  height: 75px;
}

.ms-megamenu .anchor_mbmenu .anchor_mbmenu_text {
  outline: 0;
  position: relative;
  text-decoration: none;
  //font-size: 20px;
  color: #fff;
  display: inline-block;
  width: 25px;
  height: 25px;
}

.megamenu-mobile .mb-topmenu {
  display: none;
  position: relative;
  float: left;
  width: 100%;
}

.ms-megamenu .mb-submenu {
  position: absolute;
  left: 100%;
  top: 0;
  z-index: -1;
  background: #fff;
  display: none;
  float: left;
  width: 100%;
}

.ms-megamenu .mb-submenu.blind {
  position: static;
}

.ms-megamenu .mb-submenu.blind .mb-return, .ms-megamenu .lmb-submenu.blind .mb-return {
  display: none;
}

.ms-megamenu .mb-submenu .mb-return span, .ms-megamenu .lmb-submenu .mb-return span {
  float: left;
}

.ms-megamenu .mb-label {
  padding: 10px 5px 10px 20px;
  //border-top: 0;
  color: #2f2f2f;
  text-decoration: none;
  outline: none;
  display: none !important;
  position: absolute;
  right: 1px;
  top: 0;
  height: 42px;
  line-height: 21px;
}

.ms-megamenu .mb-return {
  //border: 0;
  z-index: 200;
}

.ms-megamenu .mb-submain {
  padding: 15px;
  //border: 1px solid #ddd;
  //border-top: 0;
}

/*---- Fix for magento 1.9---*/
//
.cms-homepage #header:not(.helmade-nav-active):hover .logo {
  //background: url(../images/helmade_logo.svg) no-repeat center center;
}

#header-nav {
  display: block;
}

.skip-nav {
  display: none;
}

/* ----- Left Menu ---------*/
.item_relative {
  position: relative;
}

.ms-leftmenu {
  position: relative;
  z-index: 200;
  text-align: left;
  float: left;
  width: 100%;
  //border-top: 1px solid #ddd;
  margin: 10px 0;
}

.ms-leftmenu .msl-level0 {
  float: left;
  width: 100%;
}

.ms-leftmenu .msl-submenu {
  display: none;
  position: absolute;
  top: 0px;
  left: 239px;
  z-index: 200;
  padding: 15px;
  background: #fff;
  //border: 1px solid #ddd;
  min-width: 160px;
}

.ms-leftmenu .msl-label {
  padding: 12px 25px 8px;
  background: #FFFFFF;
  //border: 1px solid #ddd;
  //border-top: 0;
  color: #2f2f2f;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  line-height: 1.5;
  float: left;
  width: 100%;
}

.ms-leftmenu .msl-label.first {
  //border-top: 1px solid #ddd;
}

.ms-leftmenu .msl-label.flag {
  background: #EBEDED;
}

.ms-leftmenu .msl-label span.small {
  float: right;
  margin-right: -15px;
}

/*---------------------Mobile version for Left menu -------------------------*/
.lmegamenu-mobile {
  display: none;
}

.ms-megamenu .anchor_lmbmenu {
  padding: 10px;
}

.ms-megamenu .anchor_lmbmenu .anchor_lmbmenu_text {
  outline: 0;
  text-decoration: none;
  //font-size: 20px;
  color: #fff;
}

.lmegamenu-mobile .lmb-leftmenu {
  display: none;
  position: relative;
  text-align: left;
  float: left;
  width: 100%;
}

.ms-megamenu .lmb-submenu {
  position: absolute;
  left: 100%;
  top: 0;
  z-index: -1;
  background: #fff;
  display: none;
  float: left;
  width: 100%;
}

.ms-megamenu .lmb-submenu.blind {
  position: static;
}

.ms-megamenu .lmb-label {
  padding: 12px 25px 8px;
  background: #FFFFFF;
  //border: 1px solid #ddd;
  //border-top: 0;
  color: #2f2f2f;
  text-decoration: none;
  outline: none;
}

.ms-megamenu .lmb-label.flag {
  background: #EBEDED;
}

.ms-megamenu .lmb-label.lmb-return {
  //border: 0;
}

.ms-megamenu .lmb-label span {
  float: left;
}

.ms-megamenu .lmb-click span {
  float: right;
  margin-right: -15px;
}

.ms-megamenu .mb-submain {
  padding: 15px;
  //border: 1px solid #ddd;
  //border-top: 0;
}

//#nav-container .level1 .category-name:before, .homepage-category-call-to-action .level1 .category-name:before

@media (min-width: 780px) {

  //.ms-megamenu .ms-submenu {
  //  top: $headerHeight !important;
  //}
  //.main-container {
  //  padding-top: $headerHeight;
  //}
  //.cms-index-index {
  //}
  #header {
    &:hover {
      //background: #fff;
      .ms-topmenu .ms-label {
        //color: #383838;
      }
    }
  }
  .ms-topmenu .ms-label {
    line-height: 75px;
  }
  .ms-topmenu {
    .secondary-row {
      display: none;
    }
    // Hover effects
    .category-block {
      > .headline {
        line-height: 23px;
      }
      //HERE
      @include transition(all 0.5s);
      .row {
        height: 0px;
        //overflow: hidden;
        @include transition(all 0.5s);
      }
      &:hover {
        padding-bottom: 0px;
        .headline-h1 {
          &:after, &:before {
            width: 100%;
          }
        }
        .menu-hover-img-wrapper img {
          opacity: 1;
        }
        > .headline {
          display: none;
        }
      }
    }

    //li {
    //  font-size: 14px;
    //}
    .headline-h1 {
      font-size: 18px;
      &:after,
      &:before {
        bottom: 4px;
      }
    }
    .headline-h2 {
      font-size: 26px;

    }
  }
}

@media (min-width: 780px) and (max-width: 1024px) {
  @include small-width-or-height;

}

@media (max-height: 949px) {
  @include small-width-or-height;
  .ms-topmenu .category-block img {
    width: auto;
  }
}

@media (min-height: 950px) {
  //.ms-topmenu {
  //  background: fuchsia;
  //}

  .ms-footer-wrapper {
    width: 100%;
    text-align: center;
    //position: absolute;
    bottom: 20px;
    left: 0px;
    //.ms-footer-wrapper {
    //  max-width: 1080px;
    //}
  }
}

@media (max-width: 779px) {
  #header {
    //background-color: rgba(255, 255, 255, 0.1);
    #header-nav {
      float: none;
    }
  }
  .ms-topmenu {
    //.glyphicon-minus {
    //  display: none !important;
    //}

    .mb-header,
    .ms-header,
    .mb-footer,
    .ms-footer,
    .content,
    .menu-hover-img-wrapper {
      display: none;
    }
    .ms-label {
      font-size: 20px;
    }
    .headline-h1 {
      text-transform: uppercase;
    }
    .ms-level0.mbactive .ms-label span {
      @include underlined();
      position: relative;
      z-index: 1;
      &:after, &:before {
        width: 100%;
        bottom: 0;
        //@include transition(width 0.5s $ease-strong);
        z-index: -1;
      }
    }
    .mb-submain .form-group {
      margin-bottom: 0;
    }
    .secondary-row {
      margin-top: 20px;
    }
    .language-link.first,
    .currency-link.first {
      margin-left: 15px;
    }
    &.active {
      background-color: #fff;
      @include menu_cross;
      .line {
        //  background-color: #383838;
        //  &:first-child {
        //    transform: rotate(-45deg);
        //    top: 10px;
        //  }
        //  &:nth-child(2) {
        //    transform: rotate(45deg);
        //  }
        &:last-child {
          display: none;
        }
      }
    }
  }
  .ms-level0 .mb-label {
    &:before {
      @include icon-next-icon-new();
      position: relative;
      top: 5px;
      transform: rotate(90deg);
      color: $color-default;
      font-size: 26px;
    }
  }
  .ms-level0.mbactive .mb-label {
    &:before {
      transform: rotate(-90deg);
    }
  }
  .secondary-link {
    @include ui-font-style();
    color: $color-grey;
    font-size: 15px;
    line-height: 44px;
    position: relative;

    span {
      padding-left: 30px;
      display: inline-block;
    }

    .icon {
      &:before {
        font-size: 32px;
        color: $color-default;
        line-height: 44px;
        position: absolute;
        left: -9px;
        top: -1px;
      }

    }
    .cart-counter {
      @include border-radius(20px);
      display: inline-block;
      width: 23px;
      height: 23px;
      position: relative;
      top: 10px;
      margin: 0 4px;
      span {
        text-align: center;
        position: absolute;
        color: #fff;
        font-size: 12.5px;
        line-height: 15px;
        padding: 0;
        width: 23px;
        top: -7px;
      }
    }

  }
}

// weißer top links, standard dunkel

.cms-homepage {
  //#nav span a {
  .ms-topmenu li.ms-level0 > a {
    //color: #fff;
  }
  #header:hover .ms-topmenu li.ms-level0 > a {
    //color: #383838;
  }
  //
  //}
}