ul.messages {
  position: relative;
  z-index: 21;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: transparent;
  margin-bottom: 0;
  margin-top: 0;
  @include ui-font-style();

  ::selection {
    background: $color-grey-medium;
    color: #fff;
  }
  ::-moz-selection {
    background: $color-grey-medium;
    color: #fff;
  }

  li {
    margin-bottom: 0;
  }

  &>li {
    color: #fff;
    ul{
      li{
        border: none !important;
        padding-left: 12px;
        padding-right: 12px;
        text-align: center;
        &:before {
          display: none !important;
        }
        span {
          -webkit-user-select: auto; /* Chrome/Safari */
          -moz-user-select: all; /* Firefox */
          -ms-user-select: all; /* IE10+ */
          -o-user-select: all;
          user-select: all;
        }
      }
    }
  }

  .error-msg {
    ul {
      li {
        background-color: #f33f60;
        span {
          color: #fff;
        }
      }
    }
  }

  .notice-msg {
    ul {
      li {
        background-color: #fff7a2;
        span {
          color: #383838;

        }
      }
    }
  }

  .success-msg {
    ul{
      li {
        background-color: $color-default;
        span {
          color: #fff !important;
        }
      }
    }
  }

}

.account-login, .cart {
  ul.messages {
    margin-top: 25px;
  }
}