$wrapper-padding: 15px;

#header-cart {

  border-left: 1px solid lighten($color-grey-medium, 43);
  border-bottom: 1px solid lighten($color-grey-medium, 43);
  margin-bottom: inherit;

}

.minicart-wrapper {

  width: 316px;

  background-color: white;

  padding-top: $wrapper-padding;
  padding-left: $wrapper-padding+5px;
  padding-bottom: 0;
  padding-right: $wrapper-padding;

  a {
    @include ui-font-style();
    font-size: 13px;

    &.checkout-button {
      background-color: $color-default;
    }
  }

  .block-subtitle {
    display: none;
  }

  #cart-sidebar {

    .item {
      border-bottom: 1px solid $border-color;
      padding-bottom: 15px;

    }

    .product-image {

      border: none;
      @include transform(scale(1.3));
      padding-top: 5px;

    }

    .product-details {

      margin-left: 70px;

      .product-name {

        @include bold-font-style();
        font-size: 15px;
        padding-top: inherit;
        margin-bottom: inherit;
      }

      .info-wrapper {
        th {
          display: none;
        }

        .price {
          margin-top: -10px;
        }
      }

      .truncated {
        display: inline-block;
        float: left;

        .item-options {
          background-color: white;
          border-color: $border-color;

          &:after {
            border-bottom-color: $color-default;

          }
        }
      }

      a{

        &.remove {

          border: none;
          background: transparent;
          right: 5px;
          top: -15px;
          font-size: 30px;
//          display: inline-block;
          margin-top: -8px;
          width: inherit;
          opacity: 0.5;


          &:hover {
            background: transparent;
            opacity: 1;

            &:before {
              color: $color-default;
            }
          }

          &:before {
            color: $color-grey-medium;
          }

          &:after {
            content: "";
          }

        }

      }

    }
  }

  .block-content {

    width: 100%;
    margin-bottom: 10px;


    .subtotal {
      width: 100%;
      position: relative;
      display: inline-block;
      border-bottom: 1px solid $border-color;
      padding-bottom: 10px;
      span.label {
        @include ui-font-style();
        font-size: 13px;
        line-height: 22px;
        float: left;
      }
      span.price {
        @include copy-font-style();
        font-size: 18px;
        line-height: 22px;
        float: right;
      }
    }

  }


  .minicart-actions {

    .checkout-types {
      text-align: right;
    }

    .checkout-types, a.cart-link {
      display: inline-block;
      width: 49%;
    }

    a.cart-link {
      padding-top: 8px;
      margin-bottom: 28px;
    }

  }

  .qty-wrapper {
    display: none;
  }


  .empty {

    @include bold-font-style();
    font-size: 15px;
    padding-bottom: 25px;
    padding-left: -15px;

  }


}

.minicart-message {

  @include bold-font-style();
  font-size: 15px;
  padding-left: 20px;
  padding-top: 10px;
  margin-bottom: inherit;

}

h2.product-name a:hover, h3.product-name a:hover, h4.product-name a:hover, h5.product-name a:hover, p.product-name a:hover {

  color: $color-default;

}