#burger-overlay {
  .link-container {
    font-family: "HelveticaNeueW01-77BdCn_692722";
    .category-link {
      clear: both;
      font-style: normal;
      font-weight: normal;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      position: relative;
      display: flex;
      color: #383838;
      line-height: 40px;
    }
    text-transform: uppercase;
    a {
      display: flex;
      span:first-child {
        flex-basis: 90%;
        span {
          font-size: 20px;
        }
      }
      span:last-child {
        flex-basis: 10%;
        font-size: 15px;
      }
      span.chevron.bottom {
        display: block;
      }
      span.chevron.top {
        display: none;
      }
    }
    ul {
      max-height: 0;
      transition: max-height 400ms ease-out;
      overflow: hidden;
      padding-left: 4px;
      li{
        margin: 15px 0 15px 0;
        a {
          span {
            color: #383838;
          }
        }
      }
    }
  }
}
#burger-overlay {
  .link-container.active {
    .category-link {
      span span:first-child{
        border-bottom: 5px solid #3df090;
        padding-bottom: 0;
        line-height: 90%;
        display: inline-block;
      }
      span.chevron.bottom {
        display: none;
      }
      span.chevron.top {
        display: block;
      }
    }
    ul{
      max-height: 300px;
    }
  }
}

.chevron::before {
  border-style: solid;
  border-width: 3px 3px 0 0;
  content: '';
  display: inline-block;
  height: 0.45em;
  left: 0.15em;
  position: relative;
  top: 19px;
  transform: rotate(-45deg);
  vertical-align: top;
  width: 0.45em;
  color:#3df090;
  font-size: 26px;
}

.chevron.right:before {
  left: 0;
  transform: rotate(45deg);
}

.chevron.bottom:before {
  top: 14px;
  transform: rotate(135deg);
}

.chevron.left:before {
  left: 0.25em;
  transform: rotate(-135deg);
}
