#nav {
  // TUDOCK: HELM-24 Start
  .nav-opener, [id$="subnavigation"],[id$="btn"] {
  // TUDOCK: HELM-24 End
    cursor: pointer;
  }

  .level0 {

    >li {
      float: left;
    }

    &.second {
      margin-left: inherit;
    }

    span {


      &:after {
        background-image: inherit;
      }

      & a {
        @include underlined();

        &:before, &:after {
          @include transition(all 0.5s);
          @include transition-timing-function($ease-strong);
          width: 0;
          bottom: 28px;
        }

        color: $color-grey;
        &:hover {
          text-decoration: none;
          &:before, &:after {
            color: $color-grey;
            width: 100%;
          }
        }
      }
      &.active {
        a {
          &:before, &:after {
            width: 100%;
          }
        }
      }

    }

  }

  #magazine-btn{
    //margin: 0 1px 0 -20px;
    #magazine{
      span{
        //margin-left: -5px;
      }
    }
  }
}

// TUDOCK: HELM-24 Start
[id$="subnavigation"], .homepage-category-call-to-action {
// TUDOCK: HELM-24 End

  a {
    color: $color-grey;
    cursor: pointer;
  }

  .category-img-container {

    margin-top: 20px;
    margin-bottom: 10px;

    position: relative;

    .category-img, .category-img-hover {

      @include background-size(contain);

      background-position: center center;
      background-repeat: no-repeat;

      padding-top: 100%;
    }

    .category-img {

      position: relative;


      &.Motorsports {
        background-image: url(https://cdn.helmade.com/catalog/category/nav/motorsports.png);
      }

      &.Motorsport {
        background-image: url(https://cdn.helmade.com/catalog/category/nav/motorsport.png);
      }

      &.Motorbike {
        background-image: url(https://cdn.helmade.com/catalog/category/nav/motorbike.png);
      }

      &.Motorrad {
        background-image: url(https://cdn.helmade.com/catalog/category/nav/motorrad.png);
      }

      &.Scooter {
        background-image: url(https://cdn.helmade.com/catalog/category/nav/scooter.png);
      }
    }

    .category-img-hover {

      @include transition(opacity 0.3s linear);

      opacity: 0;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;


      &.Motorsports {
        background-image: url(https://cdn.helmade.com/catalog/category/nav/motorsports-hover.png);
      }

      &.Motorsport {
        background-image: url(https://cdn.helmade.com/catalog/category/nav/motorsport-hover.png);
      }

      &.Motorbike {
        background-image: url(https://cdn.helmade.com/catalog/category/nav/motorbike-hover.png);
      }

      &.Motorrad {
        background-image: url(https://cdn.helmade.com/catalog/category/nav/motorrad-hover.png);
      }

      &.Scooter {
        background-image: url(https://cdn.helmade.com/catalog/category/nav/scooter-hover.png);
      }
    }


  }



  .category-name, .category-sub {
    position: relative;
    top: -10px;
  }

  .category-sub {
    @include label-font-style();
    color: $color-grey-medium;
    display: block;
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 0%;
    padding-top: 5px;

  }

  .level1 {

    text-align: center;

    a {
      @include bold-font-style();
      font-size: 34px;
      letter-spacing: 0px;
      text-decoration: none;
      color: $color-grey;

    }

    .category-name {
      @include underlined();
      &:after, &:before {
        width: 0;
        bottom: 4px;
        @include transition(width 0.5s $ease-strong);
      }
    }

    &:hover {
      .category-name {
        //border: 5px solid red;

        color: $color-grey;
        z-index: 1;
        &:after, &:before {
          width: 100%;
        }
      }

      .category-img-hover {

        @include transition(opacity 0.2s linear);

        opacity: 1;

      }

    }

  }

  .subnav {

    width: 100%;
    border-top: 1px solid $border-color;
    // TUDOCK: HELM-24 Start
    margin-top: 0;
    padding: 20px 0 ;
    // TUDOCK: HELM-24 End
    position: relative;

    .sub-img {
      @include background(url(https://cdn.helmade.com/catalog/category/basehelmets.png));
      @include background-size(contain);
      background-repeat: no-repeat;
      background-position: left center;
      margin-left: 10%;
      margin-top: 10px;
      padding-top: 30%;
      width: 50%;
      float: left;
      margin-top: 0;
    }

    .right-side {
      .sub-img {
        margin-left: 0;
        margin-right: 10%;
      }
    }

    .category-text-container {

      position: relative;

      .category-name {
        font-size: 26px;
        margin-top: 12%;
        &:before, &:after {
          bottom: 7px;
        }
      }

      .category-sub {
        margin-top: 5px;
        @include light-font-style();
        font-size: 15px;
        color: $color-grey-medium;

      }

      .category-name, .category-sub {
        float: left;
      }
    }

    .featured {

      a {
        @include bold-font-style();
        font-size: 26px;
        @include beforeBox();
        display: inline-block;
        height: 100%;
        width: 100%;
        &:hover {
          color: $color-default;
        }
      }

      display: inline-block;
      position: relative;

      .featured-img {
        width: 50%;

        img {
          max-width: 100%;
        }
        float: left;
      }

      .featured-title {
        width: 50%;

        height: 100%;
        @include bold-font-style();
        font-size: 26px;

        line-height: 1em;

        padding-left: 20px;
        padding-right: 15%;
        margin-top: 11%;
        float: right;

        text-align: left;


      }

    }

  }

}

// TUDOCK: HELM-24 Start
[id$="subnavigation"] {

  padding-top: 75px;
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  overflow: hidden;
  div.ms-maincontent {
    .row:first-child {
      padding-top: 25px;
    }
  }
}
// TUDOCK: HELM-24 End

.homepage-category-call-to-action {
  margin-top: 75px;
}

#header {
  position: relative;
}

.cms-homepage, .catalog-category-view:not(.categorypath-accessoires-scooter-html):not(.categorypath-accessoires-motorsports-html):not(.categorypath-accessoires-motorbike-html):not(.categorypath-accessoires-motorrad-html):not(.categorypath-accessoires-gutschein-html):not(.categorypath-accessoires-voucher-html):not(.catalog-catagory-base-helmets) {

  #nav {
    ol {
      li.span.active a {
        &:before, &:after {
          width: 100%;
        }
      }
    }
    span {
      a {
        color: #fff;
        &:hover {
          color: #fff;
        }
      }
    }
  }
  #header {

    &:not(.helmade-nav-active) {

      .logo {
        @include background(url("https://cdn.helmade.com/misc/helmade-logo-white.png"));
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
      }

      #nav {
        span {
          a {
            //color: $color-grey
          }
        }

      }
    }

    &.helmade-nav-active {
    #nav {
      span {
        a {
          color: $color-grey
        }
      }

    }
    }
  }

}

@include respond-to(m-l-xl) {
    .hidden-if-nav {
       display: none;
    }
  // TUDOCK: HELM-24 Start
    [id$="subnavigation"].hidden-nav {
  // TUDOCK: HELM-24 End
      display: none;
      overflow-y: auto;
      overflow-x:hidden;
    }
}
@include respond-to(m) {
  // TUDOCK: HELM-24 Start
  [id$="subnavigation"] {
  // TUDOCK: HELM-24 End
    .subnav {
      .row2 {
        .category-text-container {
          .category-name {
            span {
              font-size: 20px;
            }
          }
        }
      }
      .featured {
        .featured-title {
          font-size: 20px;
          padding-right: 12%;
        }
      }
    }
  }
}
