.newsletter-container {

  //min-height: 430px;
  @include background(linear-gradient(150deg, #501edb 20%, #e22931));

  .row {
    //min-height: 430px;
    position: relative;
  }

  .image {

    bottom: 100px;
    position: relative;
    height: 100%;
    padding-top: 33.9%;
    z-index: 1;
    @include background(url('https://cdn.helmade.com/misc/newsletter-helmet.jpg'));
    @include background-size(cover);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #000088;

  }

  .block-subscribe {

    margin-top: 100px;
    margin-bottom: 0;
    width: 100%;

    .form-subscribe-header {
      @include thin-font-style();
      text-transform: none;
      color: #fff;
      font-size: 70px;
      line-height: 60px;
      display: block;
      width: 190%;
      position: relative;
      z-index: 2;
    }
    .input {
      margin-top: 64px;
      background-color: rgba($color-grey-light,0.1);
      @include base-border-radius();
      height: 46px;
      padding: 6px;
      width: 100%;
      display: block;
      margin-bottom: 100px;

      .input-email, .input-submit {
        height: 100%;
      }

      .input-email {
        width: auto;
        //float: left;
        overflow:hidden;
        input {
          @include border-radius(0);
          outline: none;
          color: #fff;
          height: 100%;
          background: none;
          border: none;
          width: 100%;

          @include ui-font-style();
          text-transform: none;

          &:-webkit-autofill {
            //@include background(linear-gradient(170deg, #501edb, #e22931));
            -webkit-box-shadow: 0 0 0px 1000px #902391 inset;
            -webkit-text-fill-color: #fff !important;
          }

        }
      }

      .input-submit {
        outline: none;
        display: block;
        width: 42px;
        float: right;
        background: none;
        border: none;
        border-left: 1px solid rgba(#fff,0.1);
        color: #fff;

        &:before {
          color: #fff;
          font-size: 18px;
          margin-left: 6px;
        }
      }

    }
  }

}

@include respond-to(xs-s){

  .newsletter-container {
    .image {
      display: none;
    }
    .block-subscribe {

      margin-top: 80px;

      .form-subscribe-header {
        width: 100%;
        font-size: 45px;
        line-height: 40px;
      }
      .input{
        margin-top: 40px;
        margin-bottom: 80px;
      }
    }
  }

}

@include respond-to(m-l){
  .newsletter-container {
    position: relative;
    .image {
      bottom: 0;
      top: -50px;
      height: 380px;
      padding-top: 0;
    }
    .block-subscribe {
      .form-subscribe-header {
        font-size: 65px;
        line-height: 60px;
      }
    }
  }
}