$scale: 1.045;

.catalog-category-view {

  .category-header-content {

    position: relative;
    top: -75px;
    background-color: #000000;

  }

  .intro-loop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    opacity: 0.5;

    video {
      position: absolute;
      left: 50%;
      right: 0;
      top: 50%;
      &.preDocReady {
        display: none;
        opacity: 0;
      }
      opacity: 1;
      @include transition(opacity 1s);
    }

  }

}

.category-products {

  top: -75px;

  .row {
    //padding-top: 50px;
    &:first-of-type {
      padding-top: 0;
    }
  }

  h3.morningstar {
    //margin-right: -12.5%;
    @include transform(rotate(-5.5deg));
    margin-top: 160px;
  }

}

@include respond-to(xs-s){
  .category-products{
    h3.morningstar {
      font-size: 70px;
      line-height: 1;
      margin-top: 30px;
      //text-align: center;
    }
  }
}

@include respond-to(s){
  .category-products {
    a.item {
      .gradient-container .color-container {
        left: -50%;
        top: -15%;
        right: -50%;
        bottom: -15%;
      }
    }
  }
}