.messages {

  margin-top: 20px;

  .success-msg {

    // border-top: 1px solid $border-color;

    ul {
      li {
        background: transparent;
        background-color: $tr-bg-color;
        border-left: 5px solid $color-default;
        //border: none;

        &:before {
          border-left: 6px solid $color-default;
          //  border: none;
        }

        span {
          @include ui-font-style();
          color: $color-grey-medium;
        }

      }


    }
  }

  .error-msg {

    ul {
      li {

        span {
          @include ui-font-style();
          color: $color-grey;
        }

      }
    }

  }

}