.saferpaycw-checkout-pay {

  .main-content {

    margin-top: 50px;

    @extend .page-content;
    @extend .width-limited;

    .main-row {
      @extend .row;

      .saferpaycw {

        @extend .column;
        @extend .offset-xs-by-half;
        @extend .size-xs-11;
        @extend .offset-m-by-1;
        @extend .size-m-10;
        @extend .offset-l-by-1;
        @extend .size-l-10;
        @extend .offset-xl-by-0;
        @extend .size-xl-12;

        iframe {

          height: 1500px !important;
          border: 0px;

        }

      }
    }
  }
}

html.saferpay-paymentpage {

  .box.box-content {
    line-height: 2;
  }

  input[type="text"], input[type="tel"] {
    border-radius: 2px;
    border: 1px solid #C0C0C0;
    background: #FFFFFF;
    font-size: 15px;

    &:focus {
      outline: 0;
      border-color: #383838;
    }

  }

  .box.box-header {

    background-color: $tr-bg-color;
    border-top: solid 1px $border-color;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 40px;
    margin-bottom: 30px;

    label.box.box-language {
      color: $color-grey;
      span.icon.icon-hint {
        position: absolute;
        top: 5px;
        left: 25px;
        @include ui-font-style();
        span.btn.btn-arrow {
          position: absolute;
          top: -1px;
          left: -19px;
          color: $color-default;
        }
      }
      span.text.text-hint {
        position: relative;
        top: 30px;
        margin-bottom: 40px;
        padding: 5px 15px;

        a {
          margin-right: 30px;
          min-width: 90px;
          display: inline-block;
          float: left;
        }
      }
    }
    label.details-summary-widget>input:checked+span~span {
      display: inline-block;
    }

  }

    .box.box-main {

      @include copy-font-style();
      font-size: 15px;
      color: $color-grey;

      label.box.box-payment.details-summary-widget {
        width: 100%;
        color: $color-grey;

        @include ui-font-style();
        background-color: $tr-bg-color;
        border-top: solid 1px $border-color;

        padding-left: 6px;
        padding-right: 10px;
        min-height: 40px;

        span.btn.btn-arrow {
          color: $color-default;
        }

        span.text.text-hint {
          @include light-font-style();
          text-transform: none;
          line-height: 1.5;
          padding: 20px 19px;

        }

      }

      form {

        header {


          img.img.img-logo {
            margin-top: 20px;
          }

          h1 {
         /* @include ui-font-style();
            color: $color-grey-medium;
            margin-top: 0.5em;
            margin-bottom: 0.5em; */
            display: none;
          }
        }

        main {

          legend {
            @include ui-font-style();
            color: $color-grey;
          }

          label.input-required {
            @include light-font-style();
            font-size: 13px;
            color: $color-light;
            font-weight: inherit;
          }

          .icon.icon-information {
            display: none;
          }

          .box.box-error {

            .icon.icon-error {
              display: none;
            }

            .text.text-error {
              @include ui-font-style();
            }

          }

          .box.box-information {
            .text.text-information {
              margin-left: 290px;
              @include light-font-style();
              font-size: 10px;
              color: $color-light;
              p {
                margin-left: -290px;
                margin-top: 20px;
                font-size: 13px;
                color: $color-grey-medium;
              }
            }
          }

          .form-label {
            margin-top: 30px;
            @include copy-font-style();
            color: $color-grey-medium;
          }

          .form-input {
            input, #CardNumber, #VerificationCode {
              @include label-font-style();
              font-size: 13px;
              line-height: 30px;
              height: 40px;
              padding: 0 10px;
              &:focus {
                outline: 0;
                border-color: $color-grey;
              }
            }
          }

          label.details-summary-widget {

            @include light-font-style();
            color: $color-grey;

            span.text.text-hint {
              font-size: 13px;
              left: 0px;
              background-color: white;
              padding: 20px;
              background-color: $tr-bg-color;
              border: 1px solid $border-color;

            }

            span.icon.icon-hint {
              @include ui-font-style();
            }

          }

        }

        footer {

          ul {
            position: relative;

            li.navitem.navitem-abort {
              position: absolute;
              top: 30px;
            }

            li.navitem.navitem-next {
              position: absolute;
              top: 30px;
              left: 285px;
            }

          }

          button {
            @extend .button;
            @extend .local-color;
          }

        }

      }
    }

}
