.cms-terms, .cms-privacy-policy, .cms-imprint, .cms-revocation,
.cms-magazine, .cms-about-us, .cms-faq, .cms-payment, .cms-shipping,
.cms-handmade, .cms-no-route, .cms-individuallackierung, .cms-individual-paintwork {

  a {
    &:hover {
      color: inherit;
    }
  }

  .main-content {

    @extend .page-content;
    @extend .width-limited;

    margin-bottom: 100px;

    .main-row {

      @extend .row;

      .page-title {

        @extend .column;
        @extend .offset-l-by-3;
        @extend .size-l-2;
        @extend .offset-m-by-1;
        @extend .size-m-2;
        @extend .offset-xs-by-0;
        @extend .size-xs-12;

        margin-top: 100px;

        h1 {
          position: relative;
          top: 180px;
          left: -150px;
          @include transform(rotate(-10deg));
          font-size: 340px;
          color: $color-default-light;
          padding-top: 10%;
          padding-right: 10%;
          margin-top: -200px;
          line-height: 1.25;
        }

      }

      .std {

        @extend .column;
        @extend .size-l-6;
        @extend .offset-m-by-0;
        @extend .size-m-8;
        @extend .offset-xs-by-1;
        @extend .size-xs-10;

        img {
          width: 100%;
        }

        strong {
          font-weight: bold;
        }

        *, p {
          @include copy-font-style();
          line-height: 2em;
          font-size: 15px;
          @include user-select(text);
        }

        p {
          clear: both;
        }

        h2 {
          @include thin-font-style();
          text-transform: none;
          color: $color-grey;
          font-size: 36px;
          line-height: 48px;
          margin-top: 180px;
          margin-bottom: 80px;
        }

        table {
          width: 100%;
          margin-top: 50px;
          margin-bottom: 50px;
          thead {
            th {
              @include ui-font-style();
            }
          }
          tbody {
            tr {
              td {
                &.first {
                  @include ui-font-style();
                }
              }
            }
          }
        }

        h3 {
          @include ui-font-style();
          margin-bottom: 20px;
          font-size: 18px;
          line-height: 24px;
          @include afterBox();
        }

        h4 {
          @include ui-font-style();
          text-transform: none;
          display: inline-block;
        }

        ol, ul {
          li {
            h3 {
              //display: inline-block;
              //float: left;
            }
          }
        }

        ol {
          counter-reset: item;
          li {
            clear: both;
            display: block;
            &:before {
              content: counters(item, ".") ". ";
              counter-increment: item;
              margin-right: 5px;
            }
          }
        }

        ul {
          li {
            &:before {
              content: "– ";
              margin: 0;
            }
          }
        }

        ol, ul {
          > li {
            margin-bottom: 1em;
            margin-left: 0;
          }
        }

        > ol, > ul {
          > li {
            margin-top: 50px;
            margin-bottom: 5em;
            &:before {
              @include ui-font-style();
              line-height: 24px;
              font-size: 18px;
              float: left;
              top: 0px;
              position: relative;
            }
          }
        }

      }

    }

  }

}

@include respond-to(xs-s) {
  .cms-faq, .cms-about-us, .cms-shipping, .cms-handmade,
  .cms-privacy-policy, .cms-terms, .cms-imprint,
  .cms-payment {
    .main-content .main-row .page-title {
      text-align: center;
      @include transform(scale(1) translateY(-10%));
      h1 {
        text-align: center;
        //font-size: 310px;
        width: 85%;
        padding-top: 50px;
        padding-right: 0;
      }
    }
  }
}

@include respond-to(xs-s) {
  .cms-handmade {
    .main-content .main-row .page-title {
      text-align: center;
      @include transform(scale(0.8) translateY(-10%) translateX(-15%));
      h1 {
        text-align: center;
        //font-size: 310px;
        width: 100%;
        padding-top: 0;
      }
    }
  }
}

.cms-privacy-policy {
  .main-content .main-row .page-title h1 {
    font-size: 200px;
  }

  .main-content {

    .main-row {

      .std {

        ol {
          li {
            ol {
              li {
                display: list-item;
                list-style-type: lower-alpha;
                @include ui-font-style();
                margin-left: 1.35em;

                p {
                  text-transform: none;
                }

                &:before {
                  @include ui-font-style();
                  counter-increment: none;
                  content: normal;
                }
              }
            }
          }
        }

      }

    }
  }
}

.cms-shipping {
  .main-content {

    .main-row {

      .page-title {

        margin-top: 50px;

        h1 {
          //white-space: nowrap;
          font-size: 240px;
        }
      }

      .std {
        margin-top: 100px;
      }

    }
  }
}

.cms-about-us {

  .main-content {

    .main-row {

      .page-title {

        margin-top: 70px;

        h1 {
          white-space: nowrap;
          font-size: 300px;
        }
      }

      .std {
        margin-top: 100px;
      }
    }
  }
}

@include respond-to(xl) {
  .cms-about-us, .cms-shipping, .cms-handmade, .cms-payment,
  .cms-imprint, .cms-revocation {
    .main-content .main-row .page-title {
      h1 {
        font-size: 250px;
        margin-left: 10%;
        top: 230px;
        left: -200px;
      }
    }
  }
  .cms-no-route {
    .main-content .main-row .page-title {
      h1 {
        font-size: 200px;
        margin-left: 10%;
        top: 200px;
        left: -200px;
      }
    }
  }
}

@include respond-to(l) {
  .cms-about-us, .cms-shipping, .cms-handmade, .cms-payment,
  .cms-imprint, .cms-revocation, .cms-no-route {
    .main-content .main-row .page-title {
      h1 {
        font-size: 250px;
        margin-left: 13%;
        top: 280px;
        left: -200px;

      }
    }
  }
  .cms-no-route {
    .main-content .main-row .page-title {
      h1 {
        font-size: 180px;
        margin-left: 10%;
        top: 200px;
        left: -200px;
      }
    }
  }
}

@include respond-to(m) {
  .cms-about-us, .cms-shipping, .cms-handmade, .cms-payment,
  .cms-imprint, .cms-terms, .cms-privacy-policy, .cms-revocation {
    .main-content .main-row .page-title {
      h1 {
        font-size: 200px;
        margin-left: 10%;
        top: 250px;
        left: -50px;
      }
    }
  }
  .cms-faq {
    .main-content .main-row .page-title {
      h1 {
        left: -50px;
      }
    }
  }
  .cms-privacy-policy {
    .main-content .main-row .page-title {
      h1 {
        top: 200px;
      }
    }
  }
  .cms-no-route {
    .main-content .main-row .page-title {
      h1 {
        font-size: 180px;
        margin-left: 10%;
        top: 200px;
        left: -50px;
      }
    }
  }
}

@include respond-to(s) {
  .cms-about-us, .cms-shipping, .cms-handmade, .cms-payment,
  .cms-imprint, .cms-privacy-policy, .cms-revocation, .cms-no-route {
    .main-content .main-row {
      .std {
        h2 {
          margin: 50px 0 40px;
        }
      }
      .page-title {
        h1 {
          font-size: 150px;
          margin-left: 5%;
          top: 180px;
          left: 50px;
        }
      }
    }
  }
  .cms-shipping {
    .main-content .main-row .page-title {
      h1 {
        font-size: 130px;
        left: 0px;
      }
    }
  }
  .cms-faq {
    .main-content .main-row .page-title {
      h1 {
        font-size: 250px;
        left: 0;
      }
    }

  }
  .cms-payment, .cms-imprint, .cms-revocation {
    .main-content .main-row .page-title {
      h1 {
        left: 20px;
      }
    }
  }
  .cms-imprint, .cms-privacy-policy, .cms-revocation {
    .main-content .main-row .page-title {
      h1 {
        top: 70px;
      }
    }
  }
  .cms-terms {
    .main-content .main-row .page-title {
      h1 {
        font-size: 200px;
        top: 100px;
        left: 20px;
      }
    }
  }
  .cms-about-us {
    .main-content .main-row .page-title {
      h1 {
        font-size: 100px;
        left: 0;
      }
    }
  }
  .cms-no-route {
    .main-content .main-row .page-title {
      h1 {
        font-size: 120px;
        top: 100px;
        left: 20px;
      }
    }
  }
}

@include respond-to(xs) {
  .cms-about-us, .cms-shipping, .cms-handmade, .cms-payment, .cms-terms,
  .cms-imprint, .cms-privacy-policy, .cms-revocation, .cms-no-route {
    .main-content .main-row {
      .std {
        h2 {
          margin: 50px 0 40px;
        }
      }
      .page-title {
        h1 {
          font-size: 80px;
          margin-left: 5%;
          top: 180px;
          left: 50px;
          padding-right: 0;
          width: 85%;
        }
      }
    }
  }
  .cms-faq {
    .main-content .main-row .page-title {
      h1 {
        font-size: 160px;
        left: 0;
      }
    }
  }
  .cms-imprint, .cms-privacy-policy, .cms-revocation {
    .main-content .main-row .page-title {
      h1 {
        left: 0;
      }
    }
  }
  .cms-handmade {
    .main-content .main-row .page-title {
      h1 {
        left: 30px;
      }
    }
  }
  .cms-imprint, .cms-privacy-policy, .cms-revocation, .cms-no-route {
    .main-content .main-row .page-title {
      h1 {
        top: 100px;
      }
    }
  }
  .cms-terms {
    .main-content .main-row  {
      .page-title {
        margin-top: 120px;
        h1 {
          font-size: 100px;
          top: 120px;
          left: 20px;
          padding: 0;
        }
      }
      .std {
        margin-top: 50px;
      }
    }
  }
  .cms-about-us {
    .main-content .main-row .page-title {
      h1 {
        font-size: 80px;
        left: 0;
        padding-right: 0;
      }
    }
  }
  .cms-imprint {
    .main-content .main-row .std {
      margin-top: 80px;
    }
  }
  .cms-payment,.cms-revocation {
    .main-content .main-row .page-title {
      h1 {
        font-size: 70px;
        left: 10px;
      }
    }
  }
  .cms-shipping {
    .main-content .main-row {
      .page-title {
        h1 {
          font-size: 60px;
          left: -10px;
        }
      }
      .std{
        table{
          thead tr th,
          tbody tr td,
          tbody tr td.first{
            font-size: 12px;
            padding: 10px;
          }
        }
      }
    }
  }
}

.customer-account-create, .customer-account-login {

  .main-content {

    @extend .page-content;
    @extend .width-limited;

    margin-bottom: 100px;

    .main-row {

      @extend .row;

      .page-title {

        margin-top: 100px;

        h1 {
          color: $color-default;
        }

      }

    }
  }
}

.cms-payment {
  .main-content {

    .main-row {

      .page-title {

        margin-top: 70px;

        h1 {
          //white-space: nowrap;
          margin-bottom: 50px;
        }
      }

      .std {
        margin-top: 100px;

        ul {
          li {
            display: list-item;
            @include copy-font-style();
            margin: inherit;
            margin-left: 1.35em;

            p {
              text-transform: none;
            }

            &:before {
              @include ui-font-style();
              counter-increment: none;
              content: normal;
            }
          }
        }

      }

    }
  }
}

.cms-handmade {
  .main-content {

    .main-row {

      .page-title {

        margin-top: 70px;

        h1 {
          //white-space: nowrap;
          margin-bottom: 50px;
          line-height: 1em;
        }
      }

      .std {
        margin-top: 100px;

        ul {
          li {
            display: list-item;
            @include copy-font-style();
            margin: inherit;
            margin-left: 1.35em;

            p {
              text-transform: none;
            }

            &:before {
              @include ui-font-style();
              counter-increment: none;
              content: normal;
            }
          }
        }

      }

    }
  }
}

.cms-imprint {

  .std {

    margin-top: 150px;

  }

}


.cms-individuallackierung, .cms-individual-paintwork {
  .main-content .main-row .page-title {
    h1 {
      font-size: calc(7px + 10vw);
      @include respond-to(xs) {
          left: 0;
        }
      @include respond-to(s) {
        left: 0;
      }
      @include respond-to(m) {
        left: 0;
      }
    }
  }
}

.cms-individuallackierung {
  .main-content .main-row .page-title {
    h1 {
      @include respond-to(xl) {
        left: -295px;
      }
    }
  }
}

.cms-individual-paintwork {
  .main-content .main-row .page-title {
    h1 {
      white-space: nowrap;
      @include respond-to(xl) {
        top: 260px;
        left: -350px;
      }
    }
  }
}
