.size-selector {
  margin-bottom: 20px;
  .size-option-container{
    overflow: hidden;
    clear: both;
    .size-option{
      float: left;
      height: 80px;
      border: 1px solid #9c9b9b;
      min-width: 42px;
      text-align: center;
      margin-left: -1px;
      cursor: default;
      transition: all 0.15s ease-in-out, color 0.05s;
      .size-label {
        @include ui-font-style();
        line-height: 40px;
      }
      .size-label, .size-info {
        height: 40px;
        transition: all 0.15s ease-in-out;
      }
      .size-info {
        @include light-font-style();
        font-size: 12px;
        color: rgba(56, 56, 56, 0.5);
        line-height: 13px;
        padding-top: 6px;
        border-top: 1px solid #9c9b9b;
      }
      &:not(.selected):not(.unavailable){
        cursor: pointer;
      }
      &.selected {
        border: 1px solid $color-default;
        color: white;
        .size-label {
          background-color: $color-default;
        }
        .size-info {
          background-color: rgba($color-default,0.5);
          border-color: $color-default;
        }
      }
      &.unavailable {
        opacity: 0.4;
      }
      &:nth-of-type(1){
        margin-left: 0;
      }
    }
  }
}