#upsell-products {

  margin-bottom: 70px;

  .item {

    $border-style:  1px solid lighten($color-grey,70);
    //border-left: $border-style;
    border-right: $border-style;

    padding: 0 50px;


    &:last-of-type {
      border-right: none;
    }

    a {

      border: 0;
      color: $color-grey;

      .product-image {

        border: 0;
        margin-bottom: 20px;

        img {
          width: 100%;
        }

      }

    }

    .product-info {

      padding: 10px;
      color: $color-grey;

      .product-manufacturer {
        text-transform: uppercase;
        display: block;
        margin-bottom: 0;
        //margin-bottom: -12px;
        @include ui-font-style();
      }

      .product-name {

        @include bold-font-style();
        color: $color-grey;
        font-size: 30px;
        z-index: 1;
        line-height: 1.1;
        vertical-align: bottom;
        position: relative;

      }

      
      .product-price {

          margin-top: 18px;
          display: block;
          @include light-font-style();
          font-size: 28px;
          z-index: 1;
          position: relative;

          span {
            color: $color-grey;
          }


        .tax-details {
          display: none;
        }

      }

    }

  }

}


@include respond-to(l) {

  #upsell-products {

    .item {

      padding: 0 30px;

    }

  }

}

@include respond-to(m) {

  #upsell-products {

    .item {

      padding: 0 20px;

    }

  }

}

@include respond-to(s){
  #upsell-products {
    .item {
      padding: 0 10px;
      .product-info {
        .product-name {
          font-size: 22px;
        }
      }
    }
  }
}

@include respond-to(xs){
  #upsell-products {
    .item {
      padding: 0 0;
      border: 0;
      padding-bottom: 15px;
      $border-style:  1px solid lighten($color-grey,70);
      border-bottom: $border-style;
      a .product-image {
        //padding: 10%;
        margin-bottom: -20px;
      }
      .product-info {
        padding-top: 0;
        position: relative;
        z-index: 1;
        .product-name {
          font-size: 22px;
        }
      }
    }
  }
}