@mixin underlined() {

  position: relative;

  a, span, p, h1, h2, h3, h4, h5 {
    position: relative;
    z-index: 1;
  }

  &:before {
    z-index: 0;
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    content: "";
    width: 100%;
    height: 6px;
    background-color: #3df090;
  }

  &:after {
    z-index: 0;
    background-image: url('../images/white-gradient.png');
    background-repeat: repeat-y;
    background-size: 100%;
    display: block;
    content: "";
    width: 100%;
    left: 0;
    height: 6px;
    bottom: -1px;
    position: absolute;
  }

}