$base-border-radius: 3px;

@mixin base-border-radius(){
  @include border-radius($base-border-radius);
}

@mixin beforeBox() {

  position: relative;

  &:before {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
  }

}

@mixin afterBox() {

  position: relative;

  &:after {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
  }

}

.clear {
  clear: both;
}