<div class="option-container">

{{#each this}}

        {{#oddOrEven @index "even"}}
            <div class="option-column">
        {{/oddOrEven}}

            <div class="color click-option has-tooltip color-{{foregroundForBackground this.color}}" data-aspect-ratio="1"

    {{#if this.color_thumbnail}}

                 data-name="{{this.label}}" data-tooltip="{{this.label}}" style="background-color:{{this.color}}" data-id="{{this.id}}">
                     <img src="{{this.color_thumbnail}}">

                     <div class="icon icon-check-pure"></div>
                 </div>

    {{else}}

            data-name="{{this.label}}" data-tooltip="{{this.label}}" style="background-color:{{this.color}}" data-id="{{this.id}}">
            <div class="icon icon-check-pure"></div>
        </div>

    {{/if}}

        {{#oddOrEven @index "odd"}}
            </div>
        {{/oddOrEven}}

{{/each}}

    {{#oddOrEven length "odd"}}
        </div>
    {{/oddOrEven}}

</div>
