<!--<div class="navigation prev">
{{#if this.prevLabel }}
    <div class="label">{{!this.prevLabel}}</div><div class="icon-prev-icon"></div>
{{/if}}
</div>-->


<div class="option palette-selector">
    <fieldset>
        {{#each colorPalettes}}
            <div class="palette-radio">
                <input type="radio" id="clr-{{../panelModel.attributes.interest}}-{{this.attributes.id}}"
                       name="color_palette-{{../panelModel.attributes.interest}}" value="{{this.attributes.id}}"><label
                    for="clr-{{../panelModel.attributes.interest}}-{{this.attributes.id}}"> {{this.attributes.label}}</label>
            </div>
        {{/each}}
    </fieldset>
</div>

<div class="option color-selector flex">

</div>

<div class="option option-spacer show-for-xl">

</div>


<!--<div class="navigation next">
    <div class="label">{{!this.nextLabel}}</div><div class="icon-next-icon"></div>
</div>-->
