<!--<div class="navigation prev">
	<div class="icon-prev-icon"></div>
</div>-->

<!--<div class="helper">
	{{!label "prod_select_number"}}
</div>-->


<div class="option name-selector">
    <input type="number" name="number_text" inputmode="numeric" pattern="^[0-9]*" maxlength="{{maxChars}}" value="{{value}}" min="0" max="99">
    <div class="small">{{label "prod_number_help"}}</div>
</div>


<!--
<div class="navigation next">
	<div class="icon-next-icon"></div>
</div>
-->