<div class="option-container">

{{#each this}}
    <div class="font-tile has-tooltip option-column come-from-white" data-id="{{this.id}}" data-tooltip="{{this.label}}">
        <img src="{{cdnFile "configurator/fonts/" this.sku ".png"}}" >
    </div>
{{/each}}

</div>