<!--<div class="navigation prev">
    {{#if this.prevLabel }}
        <div class="label">{{!this.prevLabel}}</div><div class="icon-prev-icon"></div>
    {{/if}}
</div>-->

<div class="option name-selector">
	<input type="text" name="signature_text" maxlength="{{maxChars}}" class="has-tooltip" data-tooltip="{{label "prod_max"}} {{maxChars}} {{label "prod_characters"}}" value="{{signatureText}}"><br>

    {{#if this.hasProducerLogo }}

        <div class="producer-logo-title">{{this.title}}</div>

        <fieldset>

            {{#each producerLogos}}
                <div class="producer-logo-radio">
                    <input type="radio" id="pl-{{../panelModel.attributes.interest}}-{{this.id}}" name="producer-logo-{{../panelModel.attributes.interest}}" value="{{this.id}}"><label for="pl-{{../panelModel.attributes.interest}}-{{this.id}}">{{this.label}}</label>
                </div>
            {{/each}}

        </fieldset>

       <!-- <div class="logo-view-main">
            <div class="label" data-id="pl-{#{../panelModel.attributes.interest}}-{#{this.id}}">Ja</div>
            <div class= "toggle">
                <div class="toggle-indicator"></div>
            </div>
            <div class="label" data-id="" data-active="true">Nein</div>
        </div>-->

    {{/if}}

</div>

<div class="option font-selector flex square-for-mobile">

</div>


<div class="option color-selector">
<div class="option-container">
{{#each colors}}
	{{#oddOrEven @index "even"}}
		<div class="option-column">
	{{/oddOrEven}}

			<div class="color click-option has-tooltip color-{{foregroundForBackground this.attributes.color}}"

	{{#if this.attributes.color_thumbnail}}

				 data-name="{{this.attributes.label}}" data-tooltip="{{this.attributes.label}}" style="background-color:{{this.attributes.color}}"
				 data-id="{{this.attributes.id}}">
					 <img src="{{this.attributes.color_thumbnail}}">

					 <div class="icon icon-check-pure"></div>
				 </div>

	{{else}}

			data-name="{{this.attributes.label}}"  data-tooltip="{{this.attributes.label}}" style="background-color:{{this.attributes.color}}"
			data-id="{{this.attributes.id}}">
			<div class="icon icon-check-pure"></div>
		</div>

	{{/if}}

	{{#oddOrEven @index "odd"}}
		</div>
	{{/oddOrEven}}

{{/each}}

{{#oddOrEven length "odd"}}
	</div>
{{/oddOrEven}}

</div>
</div>


<!--<div class="navigation next">
    <div class="label">{{!this.nextLabel}}</div><div class="icon-next-icon"></div>
</div>-->
