<!--<div class="navigation prev">
    {{#if this.prevLabel }}
        <div class="label">{{!this.prevLabel}}</div><div class="icon-prev-icon"></div>
    {{/if}}
</div>-->

<div class="size-selector-container">
<div class="option size-selector option-count-{{option.length}}">
    {{#each option}}
    <div class="size" data-id="{{this.id}}">
        <div class="label">{{{splitSizeLabel this.label "label"}}}</div>
        <div class="detail">
            <p class="measures">{{{splitSizeLabel this.label "measure"}}}</p>
            <p class="unit">{{{splitSizeLabel this.label "unit"}}}</p>
        </div>
    </div>
    {{/each}}
</div>
</div>

<div class="helper guide global-color color-text">
    {{label "prod_Fitting_Guide"}}
</div>
