<!--
<div class="navigation prev">
    {{#if this.prevLabel }}
        <div class="label">{{!this.prevLabel}}</div><div class="icon-prev-icon"></div>
    {{/if}}
</div>

<div class="navigation next">
    <div class="label">{{!this.nextLabel}}</div><div class="icon-next-icon"></div>
</div>
-->
