<!--<div class="navigation prev">
    {{#if this.prevLabel }}
        <div class="label">{{!this.prevLabel}}</div><div class="icon-prev-icon"></div>
    {{/if}}
</div>-->

<!--
<div class="helper">
    {{#if this.hasSticker}}
	    {{!label "prod_select_visor_with_sticker"}}
    {{else}}
        {{!label "prod_select_visor"}}
    {{/if}}
</div>
-->

{{#if this.hasSticker }}
<div class="option visor-color-selector">
	<fieldset>
	{{#each stickers}}
		<div class="color-radio">
			<input type="radio" id="clr-{{../panelModel.attributes.interest}}-{{this.id}}" name="visor_color-{{../panelModel.attributes.interest}}" value="{{this.id}}"><label for="clr-{{../panelModel.attributes.interest}}-{{this.id}}"> {{this.label}}</label>
		</div>

	{{/each}}
	</fieldset>
</div>
{{/if}}

<div class="option visor-selector flex flex-big">

</div>


<!--
<div class="navigation next">
    <div class="label">{{!this.nextLabel}}</div><div class="icon-next-icon"></div>
</div>
-->
