<div class="option-container">

	{{#each this}}
		<div class="visor-tile has-tooltip" data-id="{{this.id}}" data-name="{{this.label}}" data-tooltip="{{this.label}}">
			<img src="{{cdnFile "configurator/visors/" this.sku ".png"}}" >
			<p class="visor-price">{{getPrice this.price}}</p>
		</div>
	{{/each}}

</div>