<?php
/**
 * MagePrince
 * Copyright (C) 2020 Mageprince <info@mageprince.com>
 *
 * @package Mageprince_Faq
 * @copyright Copyright (c) 2020 Mageprince (http://www.mageprince.com/)
 * @license http://opensource.org/licenses/gpl-3.0.html GNU General Public License,version 3 (GPL-3.0)
 * @author MagePrince <info@mageprince.com>
 */
?>
<?php /** @var $block \Mageprince\Faq\Block\Index\Index */ ?>
<?php if ($block->isEnable()): ?>
    <?php $faqGroupCollection = $block->getFaqGroupCollection(); ?>
    <?php if ($faqGroupCollection->getSize()): ?>
        <?php $pageType = $block->getPageTypeAction(); ?>
        <div class="mageprince-faq-loader">
            <img src="<?= $block->getViewFileUrl('images/loader-1.gif'); ?>"  alt="loader"/>
        </div>
        <div class="mageprince-faq-collection" style="display: none">
            <?php if ($block->getGroupId()): ?>
                <div id="faq-content" class="faq-content">
                    <?php if ($block->isShowGroupTitle()): ?>
                        <?php $groupData = $block->getGroupById($block->getGroupId()); ?>
                        <div class="group-title">
                            <?= /* @noEscape */ __($groupData->getGroupName()) ?>
                        </div>
                    <?php endif; ?>
                    <div class="faq-accordion">
                        <?php $faqCollection = $block->getFaqCollection($block->getGroupId()); ?>
                        <?php if ($faqCollection->getSize()): ?>
                            <?php foreach ($faqCollection as $faq): ?>
                                <h3><?= /* @noEscape */ __($faq->getTitle()) ?>dffsdfdsf</h3>
                                <div>
                                    <p><?= /* @noEscape */  $block->filterOutputHtml($faq->getContent()); ?></p>
                                </div>
                            <?php endforeach; ?>
                        <?php endif; ?>
                    </div>
                </div>
            <?php else: ?>
                <?php if ($block->isShowGroup() || $pageType == 'ajax'): ?>
                    <div class="faq-groups">
                        <?php foreach ($faqGroupCollection as $group): ?>
                            <div class="faq-group">
                                <?php if ($block->isShowGroup() || $pageType == 'ajax'): ?>
                                    <div id="faq-group-image" class="faq-group-image">
                                        <a href="#group<?= /* @noEscape */  $group->getFaqGroupId(); ?>"
                                           class="group-link"
                                           groupId="<?= /* @noEscape */  $group->getFaqGroupId(); ?>">
                                            <?php if ($group->getIcon()): ?>
                                                <img class="group-image" alt="group-image"
                                                     src="<?= /* @noEscape */  $block->getImageUrl($group->getIcon()); ?>" />
                                            <?php else: ?>
                                                <img class="group-image" alt="group-image"
                                                     src="<?= /* @noEscape */  $block->getViewFileUrl('Mageprince_Faq::images/faq.png'); ?>" />
                                            <?php endif; ?>
                                        </a>
                                    </div>
                                <?php endif; ?>
                                <?php if ($block->isShowGroupTitle()): ?>
                                    <div class="faq-groupname">
                                        <a href="#group<?= /* @noEscape */  $group->getFaqGroupId(); ?>"
                                           class="group-link"
                                           groupId="<?= /* @noEscape */  $group->getFaqGroupId(); ?>">
                                            <?= /* @noEscape */  $group->getGroupName(); ?>
                                        </a>
                                    </div>
                                <?php endif; ?>
                            </div>
                        <?php endforeach; ?>
                    </div>
                <?php endif; ?>
                <div id="faq-content" class="faq-content">
                    <?php if ($pageType == 'scroll'): ?>
                        <?php foreach ($faqGroupCollection as $group): ?>
                            <div id="group<?= /* @noEscape */  $group->getFaqGroupId(); ?>">
                                <?php if ($block->isShowGroupTitle()): ?>
                                    <div class="group-title">
                                        <?= /* @noEscape */  $group->getGroupName(); ?>
                                    </div>
                                <?php endif; ?>
                                <div class="faq-accordion-box">
                                    <?php $faqCollection = $block->getFaqCollection($group->getId()); ?>
                                    <?php if ($faqCollection->getSize()): ?>
                                        <?php foreach ($faqCollection as $faq): ?>
                                        <div class="faq-accordion">
                                            <h3><?= /* @noEscape */ __($faq->getTitle()) ?></h3>
                                            <div>
                                                <p>
                                                    <?= /* @noEscape */  $block->filterOutputHtml($faq->getContent()); ?>
                                                </p>
                                            </div>
                                        </div>
                                        <?php endforeach; ?>
                                    <?php endif; ?>
                                </div>
                            </div>
                        <?php endforeach; ?>
                    <?php else:?>
                        <?php $group = $faqGroupCollection->getFirstItem(); ?>
                        <?php if ($block->isShowGroupTitle()): ?>
                            <div class="group-title" id="group<?= /* @noEscape */  $group->getFaqGroupId(); ?>">
                                <?= /* @noEscape */  $group->getGroupName(); ?>
                            </div>
                        <?php endif; ?>
                        <div class="faq-accordion">
                            <?php $faqCollection = $block->getFaqCollection($group->getId()); ?>
                            <?php if ($faqCollection->getSize()): ?>
                                <?php foreach ($faqCollection as $faq): ?>
                                    <h3><?= /* @noEscape */ __($faq->getTitle()) ?>oooooooo</h3>
                                    <div>
                                        <p><?= /* @noEscape */  $block->filterOutputHtml($faq->getContent()); ?></p>
                                    </div>
                                <?php endforeach; ?>
                            <?php endif; ?>
                        </div>
                    <?php endif; ?>
                </div>
            <?php endif; ?>
        </div>
        <script type="text/x-magento-init">
        {
            "*": {
                "faq": {
                    "pageType" : "<?= /* @noEscape */ $pageType ?>",
                    "ajax_url" : "<?= $block->escapeUrl($block->getBaseUrl()) ?>"
                }
            }
        }
        </script>
    <?php else: ?>
        <div>
            <h1><?= /* @noEscape */ __('No FAQ Group available') ?></h1>
        </div>
    <?php endif; ?>
<?php endif; ?>

