<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 *
 * @var $block \Magento\Customer\Block\Account\Forgotpassword
 */

// @codingStandardsIgnoreFile

?>
<div class="form-password_forget">
	<form class="form password forget"
		  action="<?php /* @escapeNotVerified */ echo $block->getUrl('*/*/forgotpasswordpost') ?>"
		  method="post"
		  id="form-validate"
		  data-mage-init='{"validation":{}}'>
		<fieldset class="fieldset" data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>">
			<div class="form-group email required">
				<label class="label"><?php /* @escapeNotVerified */ echo __('Please enter your email address below to receive a password reset link.'); ?></label>
				<div class="control">
					<input type="email" placeholder="<?php /* @escapeNotVerified */ echo __('Enter your email...') ?>" name="email" alt="email" id="email_address" class="input-text" value="<?php echo $block->escapeHtml($block->getEmailValue()) ?>" data-validate="{required:true, 'validate-email':true}">
				</div>
			</div>
			<?php echo $block->getChildHtml('form_additional_info'); ?>
		</fieldset>
		<div class="actions-toolbar">
			<div class="row">
				<div class="col-sm-6 col-xs-12 margin-top15">
					<a class="action btn btn-default btn-full btn-green-outline" href="<?php /* @escapeNotVerified */ echo $block->getLoginUrl() ?>"><span><?php /* @escapeNotVerified */ echo __('Go back') ?></span></a>
				</div>
				<div class="col-sm-6 col-xs-12 margin-top15">
					<button type="submit" class="action submit btn btn-primary btn-full"><span><?php /* @escapeNotVerified */ echo __('Reset My Password') ?></span></button>
				</div>
			</div>
		</div>
	</form>
</div>
