    @font-face{
        font-family:"Helvetica NeueLTW05107XBlkCnOb";
        src:url("Fonts/932d2296-d705-410a-8e4c-d68f32085933.woff2") format("woff2"),url("Fonts/06b24b76-8a44-4b13-81cf-01630e8de97d.woff") format("woff");
    }
    @font-face{
        font-family:"HelveticaNeueW01-UltLt";
        src:url("Fonts/9baef9a5-e2af-4838-a3bc-da9d36c0bde8.woff2") format("woff2"),url("Fonts/4bff1fbb-b4bf-4d95-9c47-efcb14384e36.woff") format("woff");
    }
    @font-face{
        font-family:"HelveticaNeueW01-UltLtI";
        src:url("Fonts/766b9874-e171-4f44-8d0b-92de006b3477.woff2") format("woff2"),url("Fonts/6a815361-6e47-4eaa-8b82-06b76eca6684.woff") format("woff");
    }
    @font-face{
        font-family:"HelveticaNeueW01-Thin";
        src:url("Fonts/aff68211-86bb-476d-882e-f7a3face144c.woff2") format("woff2"),url("Fonts/50d35bbc-dfd4-48f1-af16-cf058f69421d.woff") format("woff");
    }
    @font-face{
        font-family:"HelveticaNeueW01-ThinIt";
        src:url("Fonts/259bda14-7f43-47ac-b7ac-2baa71dbc05f.woff2") format("woff2"),url("Fonts/b6d63cb7-64b5-4d39-beaf-a8d9fe5eb1df.woff") format("woff");
    }
    @font-face{
        font-family:"HelveticaNeueW01-45Ligh";
        src:url("Fonts/5a13f7d1-b615-418e-bc3a-525001b9a671.woff2") format("woff2"),url("Fonts/530dee22-e3c1-4e9f-bf62-c31d510d9656.woff") format("woff");
    }
    @font-face{
        font-family:"HelveticaNeueW01-46Ligh";
        src:url("Fonts/09f28057-e848-49b3-94bf-bfaefff51b64.woff2") format("woff2"),url("Fonts/8e9ee02b-f337-4f13-ad6c-969d6d6536c8.woff") format("woff");
    }
    @font-face{
        font-family:"HelveticaNeueW01-55Roma";
        src:url("Fonts/b0868b4c-234e-47d3-bc59-41ab9de3c0db.woff2") format("woff2"),url("Fonts/bcf54343-d033-41ee-bbd7-2b77df3fe7ba.woff") format("woff");
    }
    @font-face{
        font-family:"HelveticaNeueW01-56It";
        src:url("Fonts/462d508d-efc7-478f-b84e-288eeb69a160.woff2") format("woff2"),url("Fonts/2c056da8-4920-4e20-8c69-8a6b315458a9.woff") format("woff");
    }
    @font-face{
        font-family:"HelveticaNeueW01-65Medi";
        src:url("Fonts/3600b37f-2bf1-45f3-be3a-03365f16d9cb.woff2") format("woff2"),url("Fonts/60be5c39-863e-40cb-9434-6ebafb62ab2b.woff") format("woff");
    }
    @font-face{
        font-family:"HelveticaNeueW01-66Medi";
        src:url("Fonts/9a31d352-a4be-4540-a6f2-f4ea3ea77d94.woff2") format("woff2"),url("Fonts/5f0efe11-b07a-49fc-ab86-7af6152fa368.woff") format("woff");
    }
    @font-face{
        font-family:"HelveticaNeueW01-75Bold";
        src:url("Fonts/3b303641-706e-4221-94c4-4fb491f4f8ef.woff2") format("woff2"),url("Fonts/14ff6081-326d-4dae-b778-d7afa66166fc.woff") format("woff");
    }
    @font-face{
        font-family:"HelveticaNeueW01-57Cn";
        src:url("Fonts/88a238be-6477-4e71-bdc4-5a35bbf8d392.woff2") format("woff2"),url("Fonts/842088d0-1ae2-40d0-8561-3c95761ba7a6.woff") format("woff");
    }
    @font-face{
        font-family:"HelveticaNeueW01-77BdCn_692722";
        src:url("Fonts/ab23c239-fb66-406e-bce6-f0f260f5a217.woff2") format("woff2"),url("Fonts/102ab74c-0e84-4fe5-a17a-b20fb643591a.woff") format("woff");
    }
